@import '../../../sass/webpack_deps';

.slideshow {
  height: 100%;

  @media (max-width: $max-480) {
    overflow: hidden;
  }

  &__images {
    height: 100%;
    position: relative;
  }

  &__slide {
    background: center no-repeat $h2-color;
    background-size: cover;
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    transition: opacity $animation-speed-ui, transform $animation-speed-ui;
    z-index: 3;
  }

  &--fade &__slide {
    opacity: 1;
    transition-duration: ($animation-speed-ui * 2);
    transition-timing-function: ease-in-out;

    &--num_-1 {
      opacity: 1;
      z-index: 1;
    }

    &--num_1 {
      opacity: 0;
      z-index: 5;
    }

    &--next {
      opacity: 0;
      z-index: -1;
    }
  }

  &--slide {
    @include container-padded();

    @media (min-width: $min-1290) {
      max-width: 90%;
      padding: 0;
    }
  }

  &--slide &__slide {
    &--num_-2 {
      transform: translateX(calc(-200% - #{$gutter * 2}));
    }

    &--num_-1 {
      transform: translateX(calc(-100% - #{$gutter * 1}));
    }

    &--num_1 {
      transform: translateX(calc(100% + #{$gutter * 1}));
    }

    &--num_2 {
      transform: translateX(calc(200% + #{$gutter * 2}));
    }

    &--num_-2,
    &--num_-1,
    &--num_1,
    &--num_2 {
      cursor: pointer;
      opacity: .75;

      &:hover,
      &:active,
      &:focus {
        opacity: 1;
      }
    }
  }

  &__progress {
    bottom: 10px;
    position: absolute;
    text-align: center;
    top: auto;
    width: 100%;
    z-index: 4; // Put above the slides
  }

  &__progress__dot {
    background-color: rgba(#fff, .6);
    border-radius: 50%;
    display: inline-block;
    height: 1rem;
    margin: 0 .4rem;
    width: 1rem;

    &--active {
      background-color: #fff;
    }
  }
}
