// -----------------------------------------------------------------------------
// Rizzo Next Colors
// -----------------------------------------------------------------------------

$font-color: #333;
$font-color-light: #959aa0;

// TODO: Make these colors more generic
$active: #0fdebd !default;
$ancillary-header-color: #66747c !default;
$articles-blurb-color: #7e838b !default;
$body-color: #3b4450 !default;
$darkgray: #2c3643 !default;
$divider-color: #e4e4e4 !default;
$feature-copy: #67747c !default;
$footer-bottom-link-color: #959aa0 !default;
$footer-copyright-color: #bfc2c6 !default;
$h2-color: #3b444f !default;
$h2-secondary-color: #dc221a !default;
$light-text-color: #898e95 !default;
$linkblue: #288ad6 !default;
$lpblue: #297cbb !default;
$subduedgray: #dbe6ec !default;
$tours-blurb-color: #a0a6ad !default;
$tours-price-background: #dc1b10 !default;
$tours-title-color: #474f5a !default;
$tours-type-color: #c4c7cb !default;

$color-warning: #ffc83f;
$color-blue: #287bbb;
$color-lightblue: #e9f2f8;
$color-darkblue: #2c3642;

$color-red: #dc221a;
$color-purpleish: #3b4450;

$color-gray: #e4e4e4;
$color-lightgrey: #f5f5f5;

// Color shortcuts
$color-border: $color-gray;
/// LP Primary blue color
$color-primary: $color-blue;
/// Main Text Color
$color-text: #474f5a;

// Social Network Colors
$color-facebook: #3b5998;
$color-twitter: #00aced;
$color-pinterest: #cb2027;
