html {
  overflow: hidden;
  overflow-y: scroll;
  font-size: 62.5%;
}

body {
  position: relative;

  line-height: $line-height;
  font-family: $sans-serif;
  font-size: $base-size;
  color: $font-color;

  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;

  .no-scroll > & {
    position: fixed;

    height: 100%;
    width: 100%;

    overflow: hidden;
  }
}

.segment {
  @include segment();
}

.container {
  @include container-padded();
}

.hide-text {
  position: absolute !important;
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

.page-container {
  outline: 0;
}

.skip-link {
  @media (max-width: $max-720) {
    display: none;
  }

  @media (min-width: $min-720) {
    clip: rect(.1rem, .1rem, .1rem, .1rem);
    height: .1rem;
    margin: 0;
    overflow: hidden;
    position: absolute;
    width: .1rem;
  }

  &:focus {
    @media (min-width: $min-720) {
      background-color: #fff;
      border: .1rem solid $color-border;
      clip: auto;
      color: $color-blue;
      height: auto;
      line-height: 4rem;
      outline: 0;
      padding: 1rem 2rem .8rem;
      text-decoration: none;
      width: auto;
      z-index: 100;
    }

    @include with-layout(static) {
      @media (min-width: $min-720) {
        left: gutter();
        top: 13rem + gutter();
      }

      @media (min-width: $min-1080) {
        left: gutter-double();
      }
    }
  }
}
