html {
  font-size: 62.5%;
  overflow: hidden;
  overflow-y: scroll;
}

body {
  color: $font-color;
  font-family: $benton-sans;
  font-size: $base-size;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  line-height: $line-height;
  position: relative;

  .no-scroll > & {
    height: 100%;
    overflow: hidden;
    position: fixed;
    width: 100%;
  }
}

.segment {
  @include segment();
}

.container {
  @include container-padded();
}

.hide-text {
  border: 0 !important;
  clip: rect(1px, 1px, 1px, 1px);
  height: 1px !important;
  overflow: hidden;
  padding: 0 !important;
  position: absolute !important;
  width: 1px !important;
}

.skip-link {
  @media (max-width: $max-720) {
    display: none;
  }

  @media (min-width: $min-720) {
    clip: rect(.1rem, .1rem, .1rem, .1rem);
    height: .1rem;
    margin: 0;
    overflow: hidden;
    position: absolute;
    width: .1rem;
  }

  &:focus {
    @media (min-width: $min-720) {
      background-color: #fff;
      border: .1rem solid $color-border;
      clip: auto;
      color: $color-blue;
      height: auto;
      line-height: 1;
      outline: 0;
      padding: 2.2rem 2rem 1.8rem;
      text-decoration: none;
      width: auto;
      z-index: z("header");
    }

    @include with-layout(static) {
      @media (min-width: $min-720) {
        left: gutter();
        top: 13rem + gutter();
      }

      @media (min-width: $min-1080) {
        left: gutter-double();
      }
    }
  }
}
