
/// A simple clearfix helper
@mixin clearfix {
  &::before,
  &::after {
    content: "";
    display: table;
  }

  &::after {
    clear: both;
  }

  zoom: 1;
}

/// Set up a media query passing a value to use for min width
///
/// @deprecated
/// @param {number} $screen-width - A value for the media query
/// @param {string} $method ["min"] - "min" or "max"
/// @example sass
/// .header {
///     @include respond-to($min-1290) {
///
///     }
/// }
@mixin respond-to($screen-width, $method: "min") {
  @media only screen and (#{$method}-width: $screen-width + 0px) {
    @content;
  }
}

/// Providing an image width and height, provides the correct aspect ratio via padding-bottom %
/// This should be used with an element of a height of 0, so that the height is determined by the padding-bottom
/// rather than the element's height property
/// @param {number} $image-width - The width of the image
/// @param {number} $image-height - The height of the image
@mixin best-fit-padding($image-width, $image-height) {
  $ratio-percentage: ($image-height / $image-width) * 100%;
  padding-bottom: $ratio-percentage;
}

/// Hack to force GPU rendering (most in the community argue this should be used quite sparingly!)
@mixin hardware-acceleration() {
  transform: translateZ(0);
  z-index: 1;
}

/// A mixin to help clean up z-index madness. Options are: `below`, `default`, `middle`, `top`, and `modal` [/doc]
@mixin z-layer($layer: default) {
  @if $layer == below {
    z-index: -1;
  } @else if $layer == default {
    z-index: 1;
  } @else if $layer == middle {
    z-index: 10;
  } @else if $layer == top {
    z-index: 20;
  } @else if $layer == modal {
    z-index: 9999;
  } @else {
    z-index: 1;
  }
}

/// Standard divider used between sections
@mixin divider($position: bottom) {
  @if $position == bottom {
    border-bottom: .1rem solid $divider-color;
  } @else if $position == top {
    border-top: .1rem solid $divider-color;
  }
}

/// Style the author's image
/// @param {boolean} $mobile
/// @param {string}  $orientation ["vertical"] - "vertical" or "horizontal"
@mixin author-image($mobile, $orientation: "vertical") {
  border-radius: 100%;
  display: inline-block;
  max-width: 4rem;
  vertical-align: middle;
  width: 12vw;

  @if $orientation == "vertical" {
    margin-bottom: 1.3rem;
  }

  @include respond-to($mobile) {
    max-width: none;
    width: 8rem;

    @if $orientation == "vertical" {
      margin-bottom: 3rem;
    }
  }
}

/// Style the author's credentials
/// @param {boolean} $mobile
@mixin author-creds($mobile) {
  display: block;
  text-align: center;
  vertical-align: middle;
}

/// Style the author's name
/// @param {boolean} $mobile
@mixin author-name($mobile) {
  color: $body-color;
  font: {
    size: 4vw;
    weight: $font-weight-semibold;
  }
  line-height: 1;
  margin-bottom: .5rem;
  text-transform: uppercase;
  letter-spacing: .06rem;

  @include respond-to($mobile) {
    font-size: 1.2rem;
  }
}

/// Style an author's Title
/// @param {boolean} $mobile
@mixin author-title($mobile) {
  color: $light-text-color;
  font: {
    family: $miller-daily;
    size: 4vw;
    style: italic;
  }
  letter-spacing: .06rem;
  line-height: 1;

  @include respond-to($mobile) {
    font-size: 1.4rem;
  }
}

/// Used for the see more links at the bottom of components
/// @example sass
/// .survival_guide__button-container {
///   @include see-more-link;
/// }
@mixin see-more-link {
  font-size: 1.4rem;
  margin-top: 4rem;
  position: relative;
  text-align: center;

  @include respond-to($mobile-breakpoint) {
    margin-top: 6.5rem;
  }
}

// -----------------------------------------------------------------------------
// CSS Arrow
// -----------------------------------------------------------------------------

@mixin css-arrow($side: top, $size: 2rem, $offset: 0) {
  &::after {
    @include size($size);
  }

  @if $side == top {
    &::after {
      bottom: auto;
      left: $offset;
      top: -(.7 * $size);
    }
  }

  @if $side == right {
    &::after {
      left: auto;
      right: -(.65 * $size);
      top: $offset;
    }
  }

  @if $side == bottom {
    &::after {
      bottom: -(.6 * $size);
      left: $offset;
      top: auto;
    }
  }

  @if $side == left {
    &::after {
      left: -(.6 * $size);
      right: auto;
      top: $offset;
    }
  }
}

/// Css arrow, currently only used in date picker
/// @deprecated
@mixin css-arrow-central($side: top, $size: 2.8rem, $offset: 0) {
  @include css-arrow($side, $size, $offset);

  @if $side == top {
    &::after {
      left: 50%;
      transform: translateX(-50%);
    }
  }

  @if $side == bottom {
    &::after {
      left: 50%;
      transform: translateX(-50%);
    }
  }

  @if $side == right {
    &::after {
      top: 50%;
      transform: translateY(-50%);
    }
  }

  @if $side == left {
    &::after {
      top: 50%;
      transform: translateY(-50%);
    }
  }
}

/// @deprecated but still in use in _navigation.scss
@mixin size($size) {
  @if length($size) == 1 {
    @if $size == auto {
      height: $size;
      width: $size;
    } @else if unitless($size) {
      height: $size + px;
      width: $size + px;
    } @else if not(unitless($size)) {
      height: $size;
      width: $size;
    }
  }

  // Width x Height
  @if length($size) == 2 {
    $width: nth($size, 1);
    $height: nth($size, 2);

    @if $width == auto {
      width: $width;
    } @else if not(unitless($width)) {
      width: $width;
    } @else if unitless($width) {
      width: $width + px;
    }

    @if $height == auto {
      height: $height;
    } @else if not(unitless($height)) {
      height: $height;
    } @else if unitless($height) {
      height: $height + px;
    }
  }
}

/// Placeholder
///
/// Outputs vendor-prefixed placeholders for styling. Must be nested in a
/// rule-set.
///
/// @example scss - Usage
/// input {
///   @include placeholder {
///     color: #999;
///   }
/// }
@mixin placeholder {
  $placeholders: ":-webkit-input" ":-moz" "-moz" "-ms-input";

  @each $placeholder in $placeholders {
    &:#{$placeholder}-placeholder {
      @content;
    }
  }
}

/// Visually Hidden
///
/// Hide only visually, but have it available for screen readers
/// http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
@mixin visuallyhidden($focusable: "") {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;

  @if $focusable == "focusable" {
    // Extends the .visuallyhidden class to allow the element to be focusable
    // when navigated to via the keyboard: https://www.drupal.org/node/897638

    &:active,
    &:focus {
      clip: auto;
      height: auto;
      margin: 0;
      overflow: visible;
      position: static;
      width: auto;
    }
  }
}

@mixin dropdown-menu($top, $left, $width, $margin-left, $padding-top: $gutter) {
  background-color: #fff;
  border-radius: $radius;
  box-shadow: 0 -1rem 2rem rgba(#000, 0);
  color: $font-color;
  display: block;
  font-size: $font-size;
  left: $left;
  line-height: $line-height;
  margin-left: $margin-left;
  opacity: 0;
  padding-top: $padding-top;
  pointer-events: none;
  position: absolute;
  top: $top;
  transform: translateY(1rem);
  transition: opacity $animation-speed, transform $animation-speed, box-shadow ($animation-speed-ui * 1.5);
  width: $width;
  z-index: 101;
}

@mixin dropdown-menu-visible {
  box-shadow: 0 3rem 9rem rgba(#000, .4);
  opacity: 1;
  pointer-events: all;
  transform: translateY(0);
}

@mixin dropdown-menu-arrow($size: 1.6rem, $left: 50%) {
  border: ($size / 2) solid transparent;
  border-bottom-color: #fff;
  content: "";
  display: block;
  height: 0;
  left: $left;
  margin-left: -($size / 2);
  position: absolute;
  top: -($size);
  width: 0;
}

/// Includes a form control
/// @param {String} $type ["text"] - The input type of the control; accepts "text" or "select"
/// @example scss
///   textarea,
///   input[type="text"] {
///     @include form-control;
///   }
///
///   select {
///     @include form-control("select");
///   }
@mixin form-control($type: "text") {
  appearance: none;
  background-color: #fff;
  border: .1rem solid #d4d4d4;
  border-radius: .2rem;
  color: #717880;
  font-size: 1.3rem;
  height: auto;
  outline: 0;
  padding: $spacing $spacing 1.1rem;
  transition: border-color ($animation-speed / 2);
  width: 100%;

  @if $type == "text" {
    @include placeholder {
      color: $font-color-light;
    }
  }

  @if $type == "select" {
    background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACwAAAAICAYAAACCuR0hAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAyhpVFh0WE1MOmNvbS5hZG9iZS54bXAAAAAAADw/eHBhY2tldCBiZWdpbj0i77u/IiBpZD0iVzVNME1wQ2VoaUh6cmVTek5UY3prYzlkIj8+IDx4OnhtcG1ldGEgeG1sbnM6eD0iYWRvYmU6bnM6bWV0YS8iIHg6eG1wdGs9IkFkb2JlIFhNUCBDb3JlIDUuNi1jMDE0IDc5LjE1Njc5NywgMjAxNC8wOC8yMC0wOTo1MzowMiAgICAgICAgIj4gPHJkZjpSREYgeG1sbnM6cmRmPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5LzAyLzIyLXJkZi1zeW50YXgtbnMjIj4gPHJkZjpEZXNjcmlwdGlvbiByZGY6YWJvdXQ9IiIgeG1sbnM6eG1wPSJodHRwOi8vbnMuYWRvYmUuY29tL3hhcC8xLjAvIiB4bWxuczp4bXBNTT0iaHR0cDovL25zLmFkb2JlLmNvbS94YXAvMS4wL21tLyIgeG1sbnM6c3RSZWY9Imh0dHA6Ly9ucy5hZG9iZS5jb20veGFwLzEuMC9zVHlwZS9SZXNvdXJjZVJlZiMiIHhtcDpDcmVhdG9yVG9vbD0iQWRvYmUgUGhvdG9zaG9wIENDIDIwMTQgKE1hY2ludG9zaCkiIHhtcE1NOkluc3RhbmNlSUQ9InhtcC5paWQ6RjhGQzc5MkNGMDM4MTFFNDlCOTE5QTczMjQ3MjgzMTciIHhtcE1NOkRvY3VtZW50SUQ9InhtcC5kaWQ6RjhGQzc5MkRGMDM4MTFFNDlCOTE5QTczMjQ3MjgzMTciPiA8eG1wTU06RGVyaXZlZEZyb20gc3RSZWY6aW5zdGFuY2VJRD0ieG1wLmlpZDo1MDA1QkRGRkYwMjQxMUU0OUI5MTlBNzMyNDcyODMxNyIgc3RSZWY6ZG9jdW1lbnRJRD0ieG1wLmRpZDo1MDA1QkUwMEYwMjQxMUU0OUI5MTlBNzMyNDcyODMxNyIvPiA8L3JkZjpEZXNjcmlwdGlvbj4gPC9yZGY6UkRGPiA8L3g6eG1wbWV0YT4gPD94cGFja2V0IGVuZD0iciI/PiH5FUMAAAB7SURBVHjaYkwvqZnGwMCQyUAamA7EWSDGjO5mBnoCJiDOBeJNJOjZBNUzIADk4L9AHAnEJ4lQfxKq9u9AOhgEvgGxLxDfwaP2DlTNN4YBBExI7NdA7Aml0QE+uQFzMK5QJCb0B8zB6OmUlPRNF8BCoCRgIbEEoTkACDAA8w0eWK8rNGMAAAAASUVORK5CYII=");
    background-position: right center;
    background-repeat: no-repeat;
    background-size: 2.2rem .4rem;
    cursor: pointer;
    font-weight: 600;
  }

  &:focus {
    border-color: darken($color-border, 20%);
  }
}

/// Apply to a `:before` or `:after` psuedo element to create a soft fade on an
/// edge. Typically used to hide overflow and therefore best used with
/// `overflow: hidden;` and `white-space: nowrap;`.
/// @param {String} $side          - left or right
/// @param {String} $offset [0]    - Amount of offset
/// @param {String} $width  [3rem] - Width of the fade
/// @example scss
///   .text {
///     color: #333;
///     font-size: 1em;
///     overflow: hidden;
///     white-space: nowrap;
///     width: 400px;
///
///     &:after {
///       @include fade-edge("right");
///     }
///   }
@mixin fade-edge($side: "right", $offset: 0, $width: 3rem, $color: #fff) {
  background-image: linear-gradient(to left, $color 0%, rgba($color, 0) 100%);
  bottom: 0;
  content: "";
  height: 100%;
  position: absolute;
  #{$side}: #{$offset};
  top: 0;
  width: $width;
}

// alert component background colors
$alert-colors: (
  "warning": #f00,
  "notice": #ff0,
  "default": #3b444f
);

@mixin alert-background($color: "default") {
  background-color: map-get($alert-colors, $color);
}

@mixin pop-out {
  background-color: rgba(#000, .6);
  background-image: url("data:image/svg+xml;base64,PHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeD0iMHB4IiB5PSIwcHgiIHZpZXdCb3g9IjAgMCAxNiAxNiI+CiAgPHBhdGggZmlsbD0iI2ZmZiIgZD0iTTYuMiw5LjFMMSwxNC4zdi0zLjhDMSwxMC4yLDAuOCwxMCwwLjUsMTBDMC4yLDEwLDAsMTAuMiwwLDEwLjV2NWMwLDAsMCwwLDAsMGMwLDAsMCwwLDAsMAogICAgYzAsMC4xLDAuMSwwLjIsMC4xLDAuM2MwLDAsMCwwLDAsMGMwLDAsMCwwLDAsMEMwLjIsMTUuOSwwLjQsMTYsMC41LDE2YzAsMCwwLDAsMCwwaDVDNS44LDE2LDYsMTUuOCw2LDE1LjVDNiwxNS4yLDUuOCwxNSw1LjUsMTUKICAgIEgxLjdsNS4yLTUuMmMwLjItMC4yLDAuMi0wLjUsMC0wLjdDNi43LDksNi4zLDksNi4yLDkuMXogTTE2LDAuNWMwLTAuMS0wLjEtMC4yLTAuMS0wLjNjMCwwLDAsMCwwLDBzMCwwLDAsMAogICAgQzE1LjgsMC4xLDE1LjYsMCwxNS41LDBjMCwwLDAsMCwwLDBoLTVDMTAuMiwwLDEwLDAuMiwxMCwwLjVDMTAsMC44LDEwLjIsMSwxMC41LDFoMy44TDkuMSw2LjJjLTAuMiwwLjItMC4yLDAuNSwwLDAuNwogICAgYzAuMiwwLjIsMC41LDAuMiwwLjcsMEwxNSwxLjd2My44QzE1LDUuOCwxNS4yLDYsMTUuNSw2QzE1LjgsNiwxNiw1LjgsMTYsNS41TDE2LDAuNUMxNiwwLjUsMTYsMC41LDE2LDAuNXoiLz4KPC9zdmc+Cg==");
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: 1.6rem;
  border-radius: .4rem;
  display: block;
  height: 2.4rem;
  transition: background-color $animation-speed linear;
  width: 2.4rem;

  &:hover,
  &:active,
  &:focus {
    background-color: rgba(#000, .9);
  }
}
