/// @deprecated
@function strip-unit($value) {
  @return $value / ($value * 0 + 1);
}

/// A simple clearfix helper
@mixin clearfix {
  &:before, &:after {
    content: "";
    display: table;
  }
  &:after {
    clear: both;
  }
  zoom: 1;
}

/// Set up a media query passing a value to use for min width
///
/// @deprecated
/// @param {number} $screen-width - A value for the media query
/// @param {string} $method ['min'] - 'min' or 'max'
/// @example sass
/// .header {
///     @include respond-to($min-1290) {
///
///     }
/// }
@mixin respond-to($screen-width, $method: "min") {
  @media only screen and (#{$method}-width : $screen-width + 0px) {
    @content;
  }
}

/// Providing an image width and height, provides the correct aspect ratio via padding-bottom %
/// This should be used with an element of a height of 0, so that the height is determined by the padding-bottom
/// rather than the element's height property
/// @param {number} $imageWidth - The width of the image
/// @param {number} $imageHeight - The height of the image
@mixin best-fit-padding($imageWidth, $imageHeight) {
  $ratioPercentage: ($imageHeight / $imageWidth) * 100;
  padding-bottom: #{$ratioPercentage + %};
}

/// Hack to force GPU rendering (most in the community argue this should be used quite sparingly!)
@mixin hardware-acceleration() {
  z-index: 1;
  transform: translateZ(0);
}

/// A mixin to help clean up z-index madness. Options are: `below`, `default`, `middle`, `top`, and `modal` [/doc]
@mixin z-layer( $layer: default ){
  @if $layer == below {
    z-index: -1;
  }
  @else if $layer == default {
    z-index: 1;
  }
  @else if $layer == middle {
    z-index: 10;
  }
  @else if $layer == top {
    z-index: 20;
  }
  @else if $layer == modal {
    z-index: 9999;
  }
  @else {
    z-index: 1;
  }
}

/// Standard divider used between sections
@mixin divider($position: bottom) {
  @if $position == bottom {
    border-bottom: 1px solid $divider-color;
  }
  @else if $position == top {
    border-top: 1px solid $divider-color;
  }
}

/// Sets max width and centers component
/// @deprecated
@mixin component-width() {
  max-width: 1290px;
  margin: 0 auto;
}

/// Style the author's image
/// @param {boolean} $mobile
/// @param {string}  $orientation ['vertical'] - 'vertical' or 'horizontal'
@mixin author-image($mobile, $orientation: 'vertical') {
  display: inline-block;
  width: 12vw;
  border-radius: 100%;
  vertical-align: middle;
  max-width: 40px;

  @if $orientation == 'vertical' {
    margin-bottom: 1.3rem;
  }

  @include respond-to($mobile) {
    width: 80px;
    max-width: none;

    @if $orientation == 'vertical' {
      margin-bottom: 3rem;
    }
  }
}

/// Style the author's credentials
/// @param {boolean} $mobile
@mixin author-creds($mobile) {
  display: block;
  text-align: center;
  vertical-align: middle;
}

/// Style the author's name
/// @param {boolean} $mobile
@mixin author-name($mobile) {
  margin-bottom: .5rem;
  font: {
    weight: $semibold;
    size: 4vw;
  }
  line-height: 1;
  text-transform: uppercase;
  color: $body-color;
  letter-spacing: .6px;

  @include respond-to($mobile) {
    font-size: 1.2rem;
  }
}

/// Style an author's Title
/// @param {boolean} $mobile
@mixin author-title($mobile) {
  font: {
    family: $serif;
    style: italic;
    size: 4vw;
  }
  line-height: 1;
  color: $light-text-color;
  letter-spacing: .6px;

  @include respond-to($mobile) {
    font-size: 1.4rem;
  }
}

/// Used for the see more links at the bottom of components
/// @example sass
/// .survival_guide__button-container {
///   @include see-more-link;
/// }
@mixin see-more-link {
  position: relative;
  margin-top: 40px;
  text-align: center;
  font-size: 14px;

  @include respond-to($mobile-breakpoint) {
    margin-top: 65px;
  }
}

// -----------------------------------------------------------------------------
// CSS Arrow
// -----------------------------------------------------------------------------

@mixin css-arrow($side: top, $size: 20px, $offset: 0) {
  &:after {
    @include size($size);
  }
  @if $side == top {
    &:after {
      bottom: auto;
      left: $offset;
      top: -(0.7 * $size);
    }
  }
  @if $side == right {
    &:after {
      left: auto;
      right: -(0.65 * $size);
      top: $offset;
    }
  }
  @if $side == bottom {
    &:after {
      bottom: -(0.6 * $size);
      left: $offset;
      top: auto;
    }
  }
  @if $side == left {
    &:after {
      left: -(0.6 * $size);
      right: auto;
      top: $offset;
    }
  }
}

/// Css arrow, currently only used in date picker
/// @deprecated
@mixin css-arrow-central($side: top, $size: 28px, $offset: 0) {
  @include css-arrow($side, $size, $offset);
  @if $side == top {
    &:after {
      left: 50%;
      transform: translateX(-50%);
    }
  }
  @if $side == bottom {
    &:after {
      left: 50%;
      transform: translateX(-50%);
    }
  }
  @if $side == right {
    &:after {
      top: 50%;
      transform: translateY(-50%);
    }
  }
  @if $side == left {
    &:after {
      top: 50%;
      transform: translateY(-50%);
    }
  }
}

/// @deprecated
@mixin size($size) {
  @if length($size) == 1 {
    @if $size == auto {
      width:  $size;
      height: $size;
    }

    @else if unitless($size) {
      width:  $size + px;
      height: $size + px;
    }

    @else if not(unitless($size)) {
      width:  $size;
      height: $size;
    }
  }

  // Width x Height
  @if length($size) == 2 {
    $width:  nth($size, 1);
    $height: nth($size, 2);

    @if $width == auto {
      width: $width;
    }
    @else if not(unitless($width)) {
      width: $width;
    }
    @else if unitless($width) {
      width: $width + px;
    }

    @if $height == auto {
      height: $height;
    }
    @else if not(unitless($height)) {
      height: $height;
    }
    @else if unitless($height) {
      height: $height + px;
    }
  }
}

/// Placeholder
///
/// Outputs vendor-prefixed placeholders for styling. Must be nested in a
/// rule-set.
///
/// @example scss - Usage
/// input {
///   @include placeholder {
///     color: #999;
///   }
/// }
@mixin placeholder {
  $placeholders: ':-webkit-input' ':-moz' '-moz' '-ms-input';

  @each $placeholder in $placeholders {
    &:#{$placeholder}-placeholder {
      @content;
    }
  }
}

/// Visually Hidden
///
/// Hide only visually, but have it available for screen readers
/// http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
@mixin visuallyhidden($focusable: '') {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;

  @if $focusable == 'focusable' {
    // Extends the .visuallyhidden class to allow the element to be focusable
    // when navigated to via the keyboard: https://www.drupal.org/node/897638

    &:active,
    &:focus {
      clip: auto;
      height: auto;
      margin: 0;
      overflow: visible;
      position: static;
      width: auto;
    }
  }
}

@mixin dropdownMenu($top, $left, $width, $margin-left, $padding-top: $gutter) {
  display: block;

  position: absolute;
  z-index: 101;

  top: $top;
  left: $left;

  margin-left: $margin-left;
  padding-top: $padding-top;
  width: $width;

  font-size: $font-size;
  color: $font-color;
  line-height: $line-height;

  border-radius: $radius;
  box-shadow: 0 -1rem 2rem rgba(0,0,0, 0);
  background-color: #fff;
  pointer-events: none;
  opacity: 0;
  transform: translateY(1rem);
  transition: opacity $animation-speed, transform $animation-speed, box-shadow ($animation-speed-ui * 1.5);
}

@mixin dropdownMenuVisible {
  transform: translateY(0);
  opacity: 1;
  pointer-events: all;
  box-shadow: 0 3rem 9rem rgba(0,0,0, .4);
}

@mixin dropdownMenuArrow($size: 1.6rem, $left: 50%) {
  display: block;
  content: "";

  position: absolute;

  top: -($size);
  left: $left;

  margin-left: -($size / 2);

  height: 0;
  width: 0;

  border: ($size / 2) solid transparent;
  border-bottom-color: #fff;
}

/// Includes a form control
/// @param {String} $type ["text"] - The input type of the control; accepts "text" or "select"
/// @example scss
///   textarea,
///   input[type="text"] {
///     @include form-control;
///   }
///
///   select {
///     @include form-control("select");
///   }
@mixin form-control($type: "text") {
  appearance: none;
  background-color: #fff;
  border: .1rem solid #d4d4d4;
  border-radius: .2rem;
  color: #717880;
  font-size: 1.3rem;
  height: auto;
  outline: 0;
  padding: $spacing $spacing 1.1rem;
  transition: border-color ($animation-speed / 2);
  width: 100%;

  @if $type == "text" {
    @include placeholder {
      color: $font-color-light;
    }
  }

  @if $type == "select" {
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACwAAAAICAYAAACCuR0hAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAyhpVFh0WE1MOmNvbS5hZG9iZS54bXAAAAAAADw/eHBhY2tldCBiZWdpbj0i77u/IiBpZD0iVzVNME1wQ2VoaUh6cmVTek5UY3prYzlkIj8+IDx4OnhtcG1ldGEgeG1sbnM6eD0iYWRvYmU6bnM6bWV0YS8iIHg6eG1wdGs9IkFkb2JlIFhNUCBDb3JlIDUuNi1jMDE0IDc5LjE1Njc5NywgMjAxNC8wOC8yMC0wOTo1MzowMiAgICAgICAgIj4gPHJkZjpSREYgeG1sbnM6cmRmPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5LzAyLzIyLXJkZi1zeW50YXgtbnMjIj4gPHJkZjpEZXNjcmlwdGlvbiByZGY6YWJvdXQ9IiIgeG1sbnM6eG1wPSJodHRwOi8vbnMuYWRvYmUuY29tL3hhcC8xLjAvIiB4bWxuczp4bXBNTT0iaHR0cDovL25zLmFkb2JlLmNvbS94YXAvMS4wL21tLyIgeG1sbnM6c3RSZWY9Imh0dHA6Ly9ucy5hZG9iZS5jb20veGFwLzEuMC9zVHlwZS9SZXNvdXJjZVJlZiMiIHhtcDpDcmVhdG9yVG9vbD0iQWRvYmUgUGhvdG9zaG9wIENDIDIwMTQgKE1hY2ludG9zaCkiIHhtcE1NOkluc3RhbmNlSUQ9InhtcC5paWQ6RjhGQzc5MkNGMDM4MTFFNDlCOTE5QTczMjQ3MjgzMTciIHhtcE1NOkRvY3VtZW50SUQ9InhtcC5kaWQ6RjhGQzc5MkRGMDM4MTFFNDlCOTE5QTczMjQ3MjgzMTciPiA8eG1wTU06RGVyaXZlZEZyb20gc3RSZWY6aW5zdGFuY2VJRD0ieG1wLmlpZDo1MDA1QkRGRkYwMjQxMUU0OUI5MTlBNzMyNDcyODMxNyIgc3RSZWY6ZG9jdW1lbnRJRD0ieG1wLmRpZDo1MDA1QkUwMEYwMjQxMUU0OUI5MTlBNzMyNDcyODMxNyIvPiA8L3JkZjpEZXNjcmlwdGlvbj4gPC9yZGY6UkRGPiA8L3g6eG1wbWV0YT4gPD94cGFja2V0IGVuZD0iciI/PiH5FUMAAAB7SURBVHjaYkwvqZnGwMCQyUAamA7EWSDGjO5mBnoCJiDOBeJNJOjZBNUzIADk4L9AHAnEJ4lQfxKq9u9AOhgEvgGxLxDfwaP2DlTNN4YBBExI7NdA7Aml0QE+uQFzMK5QJCb0B8zB6OmUlPRNF8BCoCRgIbEEoTkACDAA8w0eWK8rNGMAAAAASUVORK5CYII=');
    background-position: right center;
    background-repeat: no-repeat;
    background-size: 2.2rem .4rem;
    cursor: pointer;
    font-weight: 600;
  }

  &:focus {
    border-color: darken($color-border, 20%);
  }
}

/// Apply to a `:before` or `:after` psuedo element to create a soft fade on an
/// edge. Typically used to hide overflow and therefore best used with
/// `overflow: hidden;` and `white-space: nowrap;`.
/// @param {String} $side          - left or right
/// @param {String} $offset [0]    - Amount of offset
/// @param {String} $width  [3rem] - Width of the fade
/// @example scss
///   .text {
///     color: #333;
///     font-size: 1em;
///     overflow: hidden;
///     white-space: nowrap;
///     width: 400px;
///
///     &:after {
///       @include fade-edge("right");
///     }
///   }
@mixin fade-edge($side: "right", $offset: 0, $width: 3rem, $color: #fff) {
  background-image: linear-gradient(to left, $color 0%, rgba($color, 0) 100%);
  bottom: 0;
  content: "";
  height: 100%;
  position: absolute;
  #{$side}: #{$offset};
  top: 0;
  width: $width;
}

// alert component background colors
$alert-colors: (
  "warning": #f00,
  "notice": #ff0,
  "default": #3b444f
);

@mixin alert-background($color: "default") {
  background-color: map-get($alert-colors, $color);
}
