// -----------------------------------------------------------------------------
// Html5 Elements
// -----------------------------------------------------------------------------

article, aside, details, figcaption, figure,
footer, header, hgroup, nav, section, summary,
iframe {
  display: block;
}

time {
  display: inline;
}

// -----------------------------------------------------------------------------
// Slim Normalize - See normalize source code for clarification on rule purposes
//
// I have slimmed it down to adapt it for our supported browser set
//
// https://github.com/necolas/normalize.css
// -----------------------------------------------------------------------------

html {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  overflow-y: scroll;
  -webkit-tap-highlight-color: transparent;
  text-rendering: optimizeLegibility;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

// Fixes jank with scrolling on iOS devices
body {
  -webkit-overflow-scrolling: touch;
}

form,
input,
button,
select,
textarea {
  font-size: 100%;
}

b,
strong {
  font-weight: bold;
}

//a:active, a:focus
//  outline: 0
//  background-color: rgba(255,255,255,0.0)

img {
  border: 0;
  -ms-interpolation-mode: bicubic;
  // Prevent some IE bugs in legacy code
  max-width: 100%;
}

button,
input,
select,
textarea {
  border-radius: 0;
  font-family: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

button,
input {
  line-height: normal;
  margin: 0;
  overflow: visible;
}

[type='checkbox'],
[type='radio'] {
  box-sizing: border-box;
}

textarea {
  overflow: auto;
  vertical-align: top;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

sub,
sup {
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -.45em;
}

sub {
  bottom: -.25em;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

// Override Chrome's agressive defaults
hr {
  border: 0;
  border-bottom: 1px solid #dbe6ec;
}

// Address `[hidden]` styling not present in IE 8/9/10.
// Hide the `template` element in IE 8/9/10/11, Safari, and Firefox < 22.
[hidden],
template {
  display: none;
}

// -----------------------------------------------------------------------------
// Slim Reset
// -----------------------------------------------------------------------------

html, body, div, span, iframe, h1, h2, h3, h4, h5,
h6, p, blockquote, pre, a, abbr, acronym, address,
cite, code, em, img, q, strong, sub, sup, dl, dt,
dd, ol, ul, li, fieldset, form, label, table,
tbody, tfoot, thead, tr, th, td, article, aside,
canvas, figure, figcaption, footer, header,
hgroup, nav, section, time, mark, audio, video,
input, textarea {
  margin: 0;
  padding: 0;
}

nav ul {
  list-style: none;
}

a > img {
  display: block;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
}

fieldset {
  border: 0;
}

// ----------------------------------------------------------------------------
//
// Remove iOs default styles
//
// ----------------------------------------------------------------------------

[type=text],
[type=email],
[type=search],
[type=submit] {
  @extend %webkit-appearance-reset;
}

[type=search]::-webkit-search-cancel-button {
  @extend %webkit-appearance-reset;
}

[type=search]::-webkit-search-decoration {
  @extend %webkit-appearance-reset;
}

[type=search]::-webkit-search-results-button {
  @extend %webkit-appearance-reset;
}

[type=search]::-webkit-search-results-decoration {
  @extend %webkit-appearance-reset;
}
