/// @deprecated
@mixin h1-props($mobile) {
  font-size: 81px;
  line-height: 0.8;
  margin-bottom: 18px;

  @include respond-to($mobile) {
    font-size: 120px;
  }
}

/// TODO: Refactor this
/// @deprecated
@mixin h3-props($mobile) {
  color: $h2-color;
  font: {
    size: 19px;
    family: $sans-serif;
    weight: $semibold;
  }

  @include respond-to($mobile) {
    font-size: 28px;
    margin-top: -10px;
  }
}

/// TODO: Refactor this
/// @deprecated
@mixin h4-props($mobile) {
  color: $tours-title-color;
  font: {
    size: 16px;
    family: $sans-serif;
    weight: $medium;
  }

  @include respond-to($mobile) {
    font-size: 20px;
    line-height: 1.4;
  }
}

/// TODO: Refactor this
/// @deprecated
@mixin h5-props($mobile) {
  color: $articles-blurb-color;
  font: {
    size: 14px;
    family: $sans-serif;
    weight: $medium;
  }

  @include respond-to($mobile) {
    font-size: 16px;
    line-height: 1.7;
  }
}
