/// @deprecated
@mixin h1-props($mobile) {
  font-size: 8.1rem;
  line-height: .8;
  margin-bottom: 1.8rem;

  @include respond-to($mobile) {
    font-size: 12rem;
  }
}

/// TODO: Refactor this
/// @deprecated
@mixin h3-props($mobile) {
  color: $h2-color;
  font: {
    family: $benton-sans;
    size: 1.9rem;
    weight: $font-weight-semibold;
  }

  @include respond-to($mobile) {
    font-size: 2.8rem;
    margin-top: -1rem;
  }
}

/// TODO: Refactor this
/// @deprecated
@mixin h4-props($mobile) {
  color: $tours-title-color;
  font: {
    family: $benton-sans;
    size: 1.6rem;
    weight: $font-weight-medium;
  }

  @include respond-to($mobile) {
    font-size: 2rem;
    line-height: 1.4;
  }
}

/// TODO: Refactor this
/// @deprecated
@mixin h5-props($mobile) {
  color: $articles-blurb-color;
  font: {
    family: $benton-sans;
    size: 1.4rem;
    weight: $font-weight-medium;
  }

  @include respond-to($mobile) {
    font-size: 1.6rem;
    line-height: 1.7;
  }
}
