/// Removes units from a number string
/// @param {string} $number The string to remove units from
@function strip-units($number) {
  @return $number / ($number * 0 + 1);
}

/// Page min width
$min-width: 32rem;
/// Page max width
$max-width: 129rem;
/// Text and inline spacing
$spacing: 1.5rem;
/// Gutter and block level spacing
$gutter: 3rem;
/// Default border radius
$radius: .2rem;

$base-size: 1.8em;

// Typography
$font-family: 'Main', sans-serif;
$font-family-special: 'Secondary', serif;
$font-size: #{strip-units($base-size)}rem;
$font-color: #333;
$font-color-light: #959aa0;
$font-weight-light: 300;
$font-weight-medium: 500;
$font-weight-semibold: 600;
$font-weight-bold: 700;
$line-height: 1.5;


// Typography legacy
$sans-serif: $font-family;
$serif: $font-family-special;
$light: $font-weight-light;
$medium: $font-weight-medium;
$semibold: $font-weight-semibold;


// Colors
$color-warning: #ffc83f;
$color-blue: #287bbb;
$color-lightblue: #e9f2f8;
$color-darkblue: #2c3642;

$color-red: #dc221a;
$color-purpleish: #3b4450;

$color-gray: #e4e4e4;
$color-lightgrey: #f5f5f5;

// Color shortcuts
$color-border: $color-gray;
/// LP Primary blue color
$color-primary: $color-blue;
/// Main Text Color
$color-text: #474f5a;

// Social Network Colors
$color-facebook: #3b5998;
$color-twitter: #00aced;
$color-pinterest: #cb2027;


// UI elements
$header-height: 13rem;
$header-height-mobile: 5rem;

$animation-speed: 400ms;
$animation-speed-ui: 800ms;

// Custom breakpoints (Mobile first)
/// 1410px min width breakpoint
$min-1410: #{(1410 * .0625)}em;
/// 1350px min width breakpoint
$min-1350: #{(1350 * .0625)}em;
/// 1290px min width breakpoint
$min-1290: #{(1290 * .0625)}em;
/// 1200px min width breakpoint
$min-1200: #{(1200 * .0625)}em;
/// 1080px min width breakpoint
$min-1080: #{(1080 * .0625)}em;
/// 1024px min width breakpoint
$min-1024: #{(1024 * .0625)}em;
/// 960px min width breakpoint
$min-960: #{(960 * .0625)}em;
/// 840px min width breakpoint
$min-840: #{(840 * .0625)}em;
/// 768px min width breakpoint
$min-768: #{(768 * .0625)}em;
/// 720px min width breakpoint
$min-720: #{(720 * .0625)}em;
/// 600px min width breakpoint
$min-600: #{(600 * .0625)}em;
/// 560px min width breakpoint
$min-560: #{(560 * .0625)}em;
/// 480px min width breakpoint
$min-480: #{(480 * .0625)}em;
/// 360px min width breakpoint
$min-360: #{(360 * .0625)}em;
/// 320px min width breakpoint
$min-320: #{(320 * .0625)}em;

// Custom breakpoints
$max-1530: #{(1530 * .0625)}em;
$max-1410: #{(1409 * .0625)}em;
$max-1350: #{(1349 * .0625)}em;
$max-1290: #{(1289 * .0625)}em;
$max-1200: #{(1199 * .0625)}em;
$max-1080: #{(1079 * .0625)}em;
$max-1024: #{(1023 * .0625)}em;
$max-960: #{(959 * .0625)}em;
$max-840: #{(839 * .0625)}em;
$max-768: #{(767 * .0625)}em;
$max-720: #{(719 * .0625)}em;
$max-600: #{(599 * .0625)}em;
$max-560: #{(559 * .0625)}em;
$max-480: #{(479 * .0625)}em;
$max-360: #{(359 * .0625)}em;
$max-320: #{(319 * .0625)}em;

/// ----------------------------------------------------------------------------
/// Layouts
///
/// Susy can be used to create multiple grid layouts. The `$default-layout`
/// layout is mapped to the `$susy` variable, which is the required namespace
/// within Susy for the default layout. View
/// [Susy's documentation](http://susydocs.oddbird.net/en/latest/) to learn how
/// to call other layouts and for accepted key/value pairs.
/// ----------------------------------------------------------------------------
$default-layout: (
  columns: 12,
  column-width: 8rem,
  container: $max-width,
  gutter-position: before,
  gutters: 3 / 8,
  math: fluid,
  output: float
);

$susy: $default-layout;
