@import 'core';

.layout-container {
  align-items: stretch;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;

  > header {
    border-bottom: .1rem solid $color-primary;

    a {
      color: $font-color;

      &:hover,
      &:active,
      &:focus {
        color: $color-primary;
      }
    }
  }
}

.navigation {
  a {
    color: $font-color;

    &:hover,
    &:active,
    &:focus {
      color: $color-primary;
    }
  }
}
