@import "core";

.layout-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: stretch;

  & > header {
    border-bottom: 1px solid $color-primary;
    
    a {
      color: $font-color;

      &:hover {
        color: $color-primary;
      }
    }

    // &:before {
    //   display: block;
    //   width: 150px;
    //   background-image: url('data:image/svg+xml;charset=utf-8,%3Csvg%20id%3D%22footer-logo%22%20alt%3D%22Lonely%20Planet%22%20xmlns%3Asvg%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20version%3D%221.1%22%20x%3D%220px%22%20y%3D%220px%22%20viewBox%3D%220%20-117.2%20400%20198.3%22%20enable-background%3D%22new%200%20-117.2%20400%20198.3%22%20xml%3Aspace%3D%22preserve%22%3E%0D%0A%20%20%20%20%20%20%20%20%20%20%3Cg%3E%0D%0A%20%20%20%20%20%20%20%20%20%20%20%20%3Cpath%20d%3D%22M108.1%204.5c-7.4-1.6-12.3-5.8-15.6-13.1v14H78.6V-21c-0.8-5.8-9-5.8-9.8%200V5.3H54.9V-9.5%20c-3.3%209-9.8%2013.1-19.7%2014c-9.8%200-16.4-4.9-20.5-13.1v14H0v-61.6h14.7v30.4c3.3-6.6%207.4-9.9%2013.9-12.3c11.5-2.5%2021.3%202.5%2026.2%2013.1%20c3.3-9%209.8-14%2019.7-14c9%200.8%2015.6%204.9%2018%2014c2.5-6.6%208.2-11.5%2016.4-13.1c11.5-1.6%2019.7%203.3%2024.6%2013.1v-31.2h14.7v17.3h13.9V-12%20c0%204.9%207.4%204.9%207.4%200v-27.1h13.9V7.8l0%200c0%204.9-1.6%208.2-4.9%2012.3c-4.1%204.1-8.2%204.9-13.9%205.8c-7.4%200.8-12.3-1.6-18-5.8l8.2-10.7%20c4.1%203.3%2010.6%203.3%2013.1-1.6c0.8-1.6%200.8-4.1%200.8-6.6c-7.4%207.4-18.8%204.1-21.3-5.8v9.9h-14.7v-18.9H104c1.6%206.6%209%209%2014.7%204.1%20l12.3%201.6C131.1-4.6%20124.5%206.1%20108.1%204.5z%20M42.6-16.9c0-4.9-4.1-9-9-9s-9%204.1-9%209s4.1%209%209%209C39.3-7.9%2043.4-12%2042.6-16.9z%20M103.2-19.4h18C118.8-28.4%20106.5-28.4%20103.2-19.4z%22%3E%3C%2Fpath%3E%0D%0A%20%20%20%20%20%20%20%20%20%20%20%20%3Cpath%20d%3D%22M399.7%200.4c0%202.5-10.6%206.6-17.2%202.5S376-7%20376-13.6h-29.5c3.3%208.2%2013.1%207.4%2016.4%203.3l12.3%202.5%20c-4.1%2014-16.4%2016.4-27.8%2012.3c-6.6-3.3-9.8-6.6-12.3-12.3v14h-13.9c0-9%200-18.1%200-27.1c-0.8-5.8-9.8-5.8-9.8%200V5.3h-13.9h-4.1h-5.7%20v-8.2c0-3.3-3.3%208.2-8.2%208.2c-9.8%200.8-18-4.1-22.1-13.1V5.3h-14.7V-7.9c-4.1%209-14.7%2014-25.4%2011.5l-1.6-0.8c0%200%200.8%2014.8%200.8%2018.9%20h-14.7v-38.6c0-18.1%2019.7-28.8%2034.4-18.1c2.5%202.5%204.9%205.8%206.6%209v-30.4h14.7v30.4c4.9-9%2013.9-14%2024.6-12.3%20c7.4%201.6%2012.3%205.8%2015.6%2013.1c4.1-11.5%2014.7-16.4%2027-12.3c5.7%202.5%208.2%206.6%2010.6%2012.3c4.9-11.5%2016.4-16.4%2028.7-12.3%20c5.7%203.3%209.8%206.6%2012.3%2012.3v-23h13.9v9h9v13.1h-9c0%204.9-0.8%209%200.8%2013.1c0.8%202.5%204.9%203.3%208.2%200.8l0%200L399.7%200.4z%20M232.6-16.9%20c0-4.9-4.1-9-9-9c-4.9%200-9%204.1-9%209s4.1%209%209%209S232.6-12%20232.6-16.9z%20M285.9-16.9c0-4.9-4.1-9-9-9l0%200c-4.9%200-9%204.1-9%209s4.1%209%209%209%20S285.9-12%20285.9-16.9z%20M363.7-20.2c-2.5-9-14.7-8.2-17.2%200H363.7z%22%3E%3C%2Fpath%3E%0D%0A%20%20%20%20%20%20%20%20%20%20%20%20%3Cpath%20d%3D%22M116.3-46.5l-9.8-4.1c13.9-38.6%2050-66.6%2092.6-66.6s78.6%2027.9%2091.7%2066.6l-4.9%201.6l-4.9%201.6%20c-11.5-34.5-44.2-58.3-81.9-58.3S128.6-81%20116.3-46.5z%22%3E%3C%2Fpath%3E%0D%0A%20%20%20%20%20%20%20%20%20%20%20%20%3Cpath%20d%3D%22M280.9%2011.9l9.8%204.1c-13.1%2037.8-49.1%2065.7-91.7%2064.9c-42.6%200-78.6-27.1-91.7-64.9l4.9-1.6l4.9-1.6%20c11.5%2033.7%2044.2%2057.5%2081.9%2057.5S269.5%2046.4%20280.9%2011.9z%22%3E%3C%2Fpath%3E%0D%0A%20%20%20%20%20%20%20%20%20%20%3C%2Fg%3E%0D%0A%20%20%20%20%20%20%20%20%3C%2Fsvg%3E'); 
    // }
  }
}

.navigation {
  a {
    color: $font-color;

    &:hover {
      color: $color-primary;
    }
  }
}
