@import "../../../sass/webpack_deps";

$notification-badge-size: 1.7rem;

.notification-badge {
  width: $notification-badge-size;
  height: $notification-badge-size;
  font-size: 1rem;
  font-weight: bold;
  font-style: normal;
  line-height: ($notification-badge-size + .1);
  text-align: center;
  color: #fff;
  border-radius: 50%;
  background-color: $color-red;
  user-select: none;

  // Use when you need it directly on a word, aka
  // <span class="notification-badge__wrap">Messages
  //   <span class="notification-badge notification-badge--user-inline">
  //   </span>
  // </span>
  &__wrap {
    position: relative;
  }
}

.notification-badge--shop {
  position: absolute;
  top: ($header-height / 2) - ($notification-badge-size / 2) - 1;
  right: -.6rem;
}

.notification-badge--shop-inline {
  position: absolute;
  left: 4.6rem;
  top: 1.8rem;
  width: .6rem;
  height: .6rem;
}

.notification-badge--user,
.notification-badge--user-inline {
  position: absolute;
  border: 3px solid #fff;
}

.notification-badge--user {
  top: 0;
  right: -.2rem;
  width: 1.5rem;
  height: 1.5rem;
}

.notification-badge--user-inline {
  top: -.5rem;
  right: -1.1rem;
  width: 1.2rem;
  height: 1.2rem;
}

.notification-badge--mobile-menu {
  position: absolute;
  top: 1.6rem;
  right: 1.2rem;
  width: .6rem;
  height: .6rem;
  z-index: 2;
}
