{{!-- notification Widget --}}
{{#if number}}
<span class="notification-badge{{#if className}} {{ className }}{{/if}} js-notification-badge"{{#if label}} aria-label="{{ label }}"{{/if}}>
  {{ number }}
</span>
{{/if}}
