@import "../../../sass/webpack_deps";

.map_static {
  @media (max-width: $max-960) {
    margin: 0 ($gutter*0.5);

    max-width: $max-width;
    height: .1rem;

    background: $color-border;
  }

  &__container {
    display: none;

    @media (min-width: $min-960) {
      display: block;
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      height: 0;
      width: 100%;
      padding: ($gutter*13.2) 0;
    }
  }
}
