<article class="map_static">
  <div class="map_static__container" data-preload="{{static_map.map_url}}" style="background-image: url('{{static_map.map_url}}')">
    <button class="map_static__btn js-open-map">
      <i class="icon--open"></i>
      <span class="map_static__btn__text">launch map view</span>
    </button>
  </div>
</article>
