<article id="maps" class="map_static" >
  <div class="map_static__container resrc" style="background-image: url('{{static_map.map_url}}')">
    {{!-- hide button until ready for preview --}}
    <button class="map_static__btn js-open-map is-hidden">Open Map</button>
  </div>
</article>
