@import "../../../sass/webpack_deps";

.article-header {
  @include container;
  margin-bottom: 6.8rem;
  margin-top: 6.6rem;
  position: relative;

  @media (min-width: $min-720) {
    margin-top: 13.2rem;
    margin-bottom: 9.8rem;
  }

  &.-narrow {
    @include container-static(8);
  }

  &.-flex {
    display: flex;
    flex-direction: column-reverse;
  }

  &.-centered {
    text-align: center;
  }
}

.article-title {
  line-height: 1;

  &.-xlarge {
    color: #1c222a;
    font-size: 4rem;
    font-weight: 600;
    letter-spacing: -2px;

    @media (min-width: $min-480) {
      font-size: 5.4rem;
    }

    @media (min-width: $min-600) {
      font-size: 6.4rem;
    }
  }

  &.-small {
    color: #b6c3ca;
    font-size: 1.4rem;
    font-weight: 400;
    letter-spacing: 1px;

    @media (min-width: $min-480) {
      font-size: 1.6rem;
    }

    @media (min-width: $min-560) {
      display: inline-block;
    }

    @media (min-width: $min-600) {
      font-size: 1.8rem;
    }
  }

  &.-xsmall {
    color: #ca0000;
    font-size: 1.2rem;
    font-weight: 600;
    text-transform: uppercase;

    @media (min-width: $min-560) {
      display: inline-block;
    }

    @media (min-width: $min-600) {
      font-size: 1.4rem;
    }
  }

  &.-padded-bottom {
    .article-header & {
      margin-bottom: 2.2rem;
    }
  }
}

.article-footer {
  @include container;

  &.-narrow {
    @include container-static(6);
  }
}

.article-footer__top {
  @include container;
}

.article-footer__bottom {
  @include container;
  border-top: .1rem solid $color-border;

  @include with-layout(static) {
    margin-top: (gutter() + gutter-half());
    padding-top: gutter();
  }

  .auth {
    @include span(3 of 6);
    margin-left: 0;
    background-color: red;
    height: 100px;
  }

  .place {
    @include span(3 of 6);
    background-color: red;
    height: 100px;
  }
}

$action-sheet: (
  'background-color': #f0f0f0,
  'button-size': 30px,
  'margin-left': 4px,
  'margin-top': 9px
);

.action-sheet {
  margin-left: -#{get($action-sheet, 'margin-left')};
  margin-top: -#{get($action-sheet, 'margin-top')};

  &.-left {
    float: left;
  }

  &.-right {
    float: right;
  }

  a {
    background-color: get($action-sheet, 'background-color');
    border-radius: 100%;
    color: #333;
    display: inline-block;
    height: get($action-sheet, 'button-size');
    line-height: 1;
    margin-left: get($action-sheet, 'margin-left');
    margin-top: get($action-sheet, 'margin-top');
    width: get($action-sheet, 'button-size');
    transition: background-color .4s linear;

    &:hover,
    &:active,
    &:focus {
      background-color: darken(get($action-sheet, 'background-color'), 3);
    }
  }
}

$category-list: (
  'background-color': #f0f0f0,
  'margin-left': 4px,
  'margin-top': 9px
);

$category-list-background-color: #f0f0f0;
$category-list-margin-left: 4px;
$category-list-margin-top: 9px;

.category-list {
  margin-left: -#{get($category-list, 'margin-left')};
  margin-top: -#{get($category-list, 'margin-top')};

  &.-left {
    float: left;
  }

  &.-right {
    float: right;
  }

  &.-constrained {
    width: 430px;
  }

  a {
    background-color: get($category-list, 'background-color');
    border-radius: 4px;
    color: #333;
    display: inline-block;
    font-size: 12px;
    line-height: 1;
    margin-left: get($category-list, 'margin-left');
    margin-top: get($category-list, 'margin-top');
    max-height: 30px;
    padding: 10px 12px 8px;
    transition: background-color .4s linear;

    &:hover,
    &:active,
    &:focus {
      background-color: darken(get($category-list, 'background-color'), 3);
    }
  }
}

