@import '../../../sass/webpack_deps';

$navigation-sub-height: 8rem;
$navigation-sub-height-mobile: $header-height-mobile;

@keyframes fly-in-sub-nav {
  0% {
    opacity: 0;
    transform: translate(-25rem);
    width: 150%;
  }

  100% {
    opacity: 1;
    transform: translate(0);
    width: 150%;
  }
}

.sub-nav-placeholder {
  display: block;
  margin: 0;
  padding: 0;
  position: relative;
  visibility: hidden;
  z-index: -1;

  &.is-fixed {
    height: ($navigation-sub-height-mobile + .1);

    @media (min-width: $min-720) {
      height: ($navigation-sub-height + .1);
    }
  }
}

.sub-nav {
  background-color: #fff;
  font-size: 0;
  height: ($navigation-sub-height-mobile + .1);
  margin: 0;
  padding: 0;
  position: relative;
  transform: translateZ(0); // force hardware acceleration for iOS
  transition: opacity $animation-speed, visibility $animation-speed;

  @media (min-width: $min-720) {
    height: ($navigation-sub-height + .1);
  }

  &.is-fixed {
    @include z-layer(top);
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
  }

  &.is-bottom {
    bottom: 0;
    left: 0;
    opacity: 0;
    position: absolute;
    right: 0;
    visibility: hidden;
  }

  &__wrap {
    &::after {
      border-bottom: .1rem solid #e4e4e4;
      content: '';
      display: block;
      margin: 0 ($gutter / 2);
      max-width: $max-width;
    }

    @media (min-width: $min-720) {
      @include container-padded();

      &::after {
        margin: 0;
      }
    }
  }

  &__container {
    height: $navigation-sub-height-mobile;
    overflow: hidden;

    @media (min-width: $min-720) {
      height: $navigation-sub-height;
    }

    &::before,
    &::after {
      bottom: 0;
      content: '';
      display: block;
      position: absolute;
      top: 0;
      width: ($gutter / 2);
    }

    &::before {
      background: linear-gradient(to right, rgba(#fff, 1) 0%, rgba(#fff, 0) 100%);
      left: 0;
    }

    &::after {
      background: linear-gradient(to left, rgba(#fff, 1) 0%, rgba(#fff, 0) 100%);
      right: 0;
    }
  }

  &__list {
    animation: fly-in-sub-nav $animation-speed-ui;
    height: ($navigation-sub-height-mobile + 2); // to push horizontal scrollbar out of view
    margin: 0;
    -webkit-overflow-scrolling: touch;
    overflow-x: auto;
    overflow-y: hidden;
    padding: 0;
    text-align: center;
    transition: opacity $animation-speed;
    white-space: nowrap;
    width: 100%;

    @media (min-width: $min-480) {
      animation: none;
    }

    @media (min-width: $min-720) {
      height: $navigation-sub-height;
    }
  }

  &__item {
    display: inline-block;
    line-height: $navigation-sub-height-mobile;
    margin: 0;
    padding: 0;

    @media (min-width: $min-720) {
      height: 100%;
      line-height: $navigation-sub-height;
    }

    &--active,
    a:hover,
    a:focus {
      color: $color-blue;
    }

    &--maps {
      @media (max-width: $max-960) {
        display: none;
      }
    }
  }

  &__link {
    color: $font-color;
    display: block;
    font-size: 1.2rem;
    font-weight: 400;
    padding: .2rem ($gutter / 2) 0;
    text-transform: uppercase;
    transition: 300ms color ease-in;

    &--active {
      color: $color-blue;
    }

    @media (min-width: $min-720) {
      font-weight: 600;
      height: 100%;
    }
  }

  @media (min-width: $min-480) and (max-width: $min-720) {
    &__item:first-child &__link {
      padding-left: $gutter;
    }

    &__item:last-child &__link {
      padding-right: $gutter;
    }
  }
}
