
<article id="sub_nav" class="sub-nav js-sub-nav">
  <div class="sub-nav__wrap">
    <div class="sub-nav__container">
      <ul class="sub-nav__list">
        {{#each sub_nav}}
          <li class="sub-nav__item">
            <a class="sub-nav__link js-sub-nav-lnk" href="{{link}}">{{title}}</a>
          </li>
        {{/each}}
      </ul>
    </div>
  </div>
</article>
