.place {
  background-color: #fff;
  cursor: pointer;
  height: 6rem;
  position: relative;

  .title {
    color: $color-darkblue;
    transition: color $animation-speed ease;
  }

  &.is-hovered.list {
    .title {
      color: $color-blue;
    }
  }

  &.list {
    margin-bottom: ($gutter / 3);
    margin-top: ($gutter / 3);
    width: 100%;

    &::after {
      border-top: .1rem solid $divider-color;
      bottom: 0;
      content: "";
      display: block;
      height: 0;
      position: absolute;
      right: 0;
      width: ($item-width-list - $image-width - ($order-width / 2));
    }

    .title {
      font-size: 1.6rem;
    }

    .place__pointer {
      display: none;
    }
  }

  &.pin {
    box-shadow: 0 4.4rem 8.7rem -2.2rem #000;
    width: $item-width-pin;

    .title {
      font-size: 1.5rem;
    }

    &:hover .title,
    &:focus .title {
      color: $color-blue;
    }

    .subtitle {
      margin-top: .7rem;
    }

    .place__pointer {
      border-left: 1rem solid transparent;
      border-right: 1rem solid transparent;
      border-top: 1rem solid #fff;
      bottom: -1rem;
      height: 0;
      left: 0;
      margin-left: auto;
      margin-right: auto;
      position: absolute;
      right: 0;
      width: 0;
    }

    &::after {
      background-position: .3rem 61%;
      border-left: .1rem solid #eef1fa;
      height: ($order-width * .6);
      position: absolute;
      right: 1rem;
      top: 50%;
      transform: translate(0, -50%);
      width: 1.7rem;
    }
  }

  &__pic {
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    left: 0;
    overflow: hidden;
    position: absolute;
    top: 0;
    width: $image-width;
  }

  &__order {
    color: $feature-copy;
    display: block;
    font-weight: bold;
    height: $order-width;
    left: $image-width;
    line-height: $order-width;
    position: absolute;
    text-align: center;
    top: 50%;
    transform: translate(-50%, -50%);
    width: $order-width;

    .pin & {
      font-size: 1rem;
    }

    .list & {
      font-size: 1.2rem;
      padding-top: .2rem;
    }

    &::before {
      background-color: #fff;
      border-radius: .4rem;
      box-shadow: .2rem .1rem .4rem -.2rem #333;
      content: "";
      display: block;
      height: 40%;
      left: 50%;
      position: absolute;
      top: 50%;
      transform: translate(-50%, -50%) rotate(45deg);
      width: 40%;
      z-index: -1;
    }
  }

  &__text {
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);

    .subtitle {
      color: $footer-bottom-link-color;
      font-size: 1rem;
      font-weight: 600;
      text-transform: uppercase;
    }

    .list & {
      left: 10.7rem;
      padding-right: 1rem;
      width: ($item-width-list - $image-width - $gutter);
    }

    .pin & {
      padding-right: $gutter;
      right: 0;
      width: ($item-width-pin - $image-width - $gutter);
      word-spacing: -.1em;
    }
  }
}
