$inactive: #999;
$active: $lpblue;
$speed: .8s;
$size: 30px;
$unit: $size / 16;

@keyframes spinner {
  0% { transform: rotate(0); }
  100% { transform: rotate(360deg); }
}

.fetching {
  text-align: center;
  padding: 30px;
}
.spinner {
  display: block;
  width: $size;
  height: $size;
  border-radius: 50%;
  border: $unit solid $inactive;
  animation: spinner $speed linear infinite;
  position: relative;
  margin: 20px auto;

  &:before,
  &:after {
    content: '';
    position: absolute;
    top: (-$unit*1.5);
    left: ($size/2 -$unit);
    width: ($unit*2);
    height: ($unit*2);
    border-radius: 50%;
    background: $active;
  }
}

.sidebar {
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  background: #fff;
  width: $sidebarwidth;
  overflow: hidden;

  .flexbox & {
    display: flex;
    flex-direction: column;
    position: relative;
    flex: 0 0 auto;
  }

  .no-content {
    padding: 30px;
  }

  .sidebar-header {
    background: #2569AF;

    h1 {
      margin-top: -12px;
      padding: 0 30px;
      color: #fff;
      font-weight: bold;
      font-size: 45px;
      letter-spacing: -1px;
    }

    .details {
      a {
        color: #fff;
      }
    }

    .location-subtitle {
      display: block;
      color: #82A6CE;
      padding: 10px 0 0 25px;
      font-size: 24px;
      font-weight: 600;
    }

    .close-poi {
      color: #fff;
    }

    .tabs {
      list-style: none;
      margin: 20px 30px 0 30px;
      padding: 0;
      border-top: 1px solid rgba(255,255,255,.2);

      .tab {
        position: relative;
        display: inline-block;
        color: #fff;
        text-align: center;
        margin: 0 25px 0 0;
        padding: 12px 0 15px;
        font-size: 1.5rem;
        cursor: pointer;
        font-weight: bold;
        letter-spacing: -.3px;

        &:after {
          display: block;
          width: 100%;
          height: 4px;
          position: absolute;
          bottom: 0;
          left: 0;
          transform: translate(0, 4px);
          transition: transform .2s linear;
          background: #fff;
          content: "";
        }

        &:hover,
        &.active {
          &:after {
            transform: translate(0,0);
          }
        }
      }
    }
  }

  .panel {
    height: 80vh;
    overflow: auto;

    .listing {
      position: relative;
      margin: 30px 30px 0 30px;
      border-top: 1px solid $divider-color;
    }

    &__content {
      padding: $gutter / 2;
    }

    &__footer {
      position: absolute;
      top: auto;
      bottom: 0;
      width: 100%;
    }

    &__close {
      @include button();

      text-transform: uppercase;
      background: $color-blue;
      color: #FFF;
      display: block;
      text-align: center;
      width: 100%;
      padding: .5em;
      border-radius: 0;
    }
  }

  .about-panel {
    margin-bottom: 36rem;
  }
}
