$inactive: #999;
$active: $lpblue;
$size: 3rem;
$unit: $size / 16;

@keyframes spinner {
  0% { transform: rotate(0); }
  100% { transform: rotate(360deg); }
}

.fetching {
  text-align: center;
  padding: $gutter;
}

.spinner {
  display: block;
  width: $size;
  height: $size;
  border-radius: 50%;
  border: $unit solid $inactive;
  animation: spinner $animation-speed-ui linear infinite;
  position: relative;
  margin: 2rem auto;

  &:before,
  &:after {
    content: "";
    position: absolute;
    top: (-$unit * 1.5);
    left: ($size / 2) - $unit;
    width: ($unit * 2);
    height: ($unit * 2);
    border-radius: 50%;
    background: $active;
  }
}

.sidebar {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: #fff;
  width: $sidebar-width;
  overflow: visible;
  height: 100vh;

  .no-content {
    padding: $gutter;
  }

  .sidebar__header {
    background-color: $color-blue;
    height: $sidebar-header-height;
    padding: 1.9rem $gutter .5rem;

    .details {
      a {
        color: #fff;
      }
    }

    .sidebar__title {
      margin-top: .8rem;
      color: #fff;
      font-weight: bold;
      font-size: 4rem;
      letter-spacing: -.2px;
      line-height: 1;

      &.__continent {
        margin-top: 3.5rem;
      }
    }

    .location-subtitle {
      display: inline-block;
      color: #92b5d6;
      font-size: 2.2rem;
      letter-spacing: -1.5px;
      line-height: 1;
      transition: color $animation-speed;

      &:hover,
      &:focus {
        color: #cbdaea;
      }

      .icon {
        top: -2px;
        position: relative;
        padding-right: 5px;
        font-size: 1.25rem;
      }
    }
  }

  .sidebar__tabs {
    list-style: none;
    margin-top: 2.6rem;
    border-top: .1rem solid rgba(255,255,255,.2);
    line-height: 1;

    .tab {
      position: relative;
      display: inline-block;
      color: #fff;
      text-align: center;
      padding-top: 1.7rem;
      padding-bottom: 1.7rem;
      font-size: 1.4rem;
      cursor: pointer;
      font-weight: bold;
      letter-spacing: -.3px;

      + .tab {
        margin-left: $gutter;
      }

      &__sub-nav {
        $width: 25rem;
        // args = $top, $left, $width, $margin-left, $padding-top
        @include dropdownMenu( 4.3rem, 75%, $width, -($width / 2), 2rem );

        &:before {
          @include dropdownMenuArrow(30%);
        }
      }

      &__sub-nav--visible {
        @include dropdownMenuVisible;
      }

      &__sub-nav__list {
        margin: 0 0 2rem $gutter;
        padding: 0 1.5rem 0 0;
        text-align: left;
        list-style: none;

        &--item {
          font-size: 2.3rem;
          margin-left: .25rem;
          text-transform: capitalize;
          color: #2c3642;

          &:hover {
            color: $lpblue;
            list-style: disc;
          }
        }

        &--text {
          font-size: 1.6rem;
        }
      }

      &:after {
        $height: .4rem;
        display: block;
        width: 100%;
        height: $height;
        position: absolute;
        bottom: 0;
        left: 0;
        transform: translate(0, $height);
        transition: transform ($animation-speed / 2) linear;
        background: #fff;
        content: "";
      }

      &:hover,
      &.active {
        &:after {
          transform: translate(0,0);
        }
      }
      .tab--icon {
        float: right;
        margin-top: 2px;
        margin-left: 10px;
        height: 8px;
        width: 8px;
      }
    }
  }

  .panel {
    height: calc(100% - #{$sidebar-header-height});
    overflow: auto;

    .listing {
      position: relative;
      width: (($sidebar-width - ($gutter * 2)) / $sidebar-width) * 100%;
      margin: $gutter auto;
      border-top: .1rem solid $divider-color;
    }

    &__header {
      padding: ($gutter + .7rem) $gutter 0;
      font-size: 3rem;
      font-weight: 300;
      line-height: 1.2;
      color: #2b3642;
    }

    &__content {
      padding: ($gutter - .5rem) 5rem ($gutter * 2) $gutter;
      font-size: 1.5rem;

      h2 {
        color: rgba($color-text, .7);
        font-size: 2rem;
      }

      p {
        margin: $gutter 0;
        font-size: 1.6rem;
        line-height: (22 / 16);
        color: rgba($color-text, .7);
      }

      .copy--feature {
        margin-top: 0;
      }

      h2 + p {
        margin-top: .7rem;
      }

      ul {
        margin-left: 1rem;
        font-size: 1.8rem;
        line-height: (24 / 18);
      }
    }

    &__footer {
      position: absolute;
      top: auto;
      bottom: 0;
      width: 100%;
      box-shadow: 0 0 6rem 0 rgba(0,0,0,.08);
    }

    &__close {
      @include button("inverse");
      display: block;
      border-radius: 0;
      padding-top: 2.5rem;
      padding-bottom: 2.3rem;
    }
  }

  .slideshow__progress__dot {
    width: .7rem;
    height: .7rem;
  }
}
