
<div class="video-poster-button segment">
    <div class="container">
        <div class="video-poster-button__container">
            <a class="video-poster-button__inner video-poster-button__inner--visible" href="">
                <img class="video-poster-button__poster" />
                <div class="video-poster-button__text">
                    <div class="video-poster-button__backdrop">
                    </div>
                    <div class="video-poster-button__text__inner">
                        <i class="video-poster-button__play icon-play3"></i>
                        <div class="video-poster-button__title">
                        </div>
                    </div>
                </div>
            </a>
            <div class="video-poster-button__video">
                <!-- Video will be dynamically inserted here -->
            </div>
        </div>
        <div class="video-poster-button__description">
        </div>
    </div>
</div>