@import "../../../sass/webpack_deps";


$mobile-breakpoint: 717;
$tablet-breakpoint: 1025;
$small-breakpoint: 320;

.articles {
  width: 92%;
  margin: 0 auto $gutter;

  &__heading {
    @include h1();
  }

  .tabs {
    max-width: 85rem;
    margin: 0 auto;
  }
}

.articles__title {
  @include respond-to($mobile-breakpoint) {
    &:after {
      margin-bottom: 34px;
    }
  }
  @include respond-to($tablet-breakpoint) {
    &:after {
      margin-bottom: 100px;
    }
  }
}

.articles__list {
  max-width: 850px;
  margin: 0 auto;
}

.article {
  @include divider;
  @include clearfix;

  margin-bottom: 42px;
  padding-bottom: 48px;

  @include respond-to($tablet-breakpoint) {
    margin-bottom: 62px;
    padding-bottom: 60px;
  }

  &:last-child {
    margin-bottom: 0;
    border-bottom: 0 none;
  }
}

.article__imagery {
  display: none;

  @include respond-to($mobile-breakpoint) {
    display: inline-block;
    vertical-align: top;
    width: 189px;
    height: 271px;
    float: right;
  }
}

.article__imagery__image {
  @include respond-to($mobile-breakpoint) {
    width: 100%;
    height: 100%;
    background: {
      position: center center;
      size: cover;
    }
  }
}

.article__info {
  @include respond-to($mobile-breakpoint) {
    display: inline-block;
    vertical-align: top;
    width: calc(98% - 189px);
    padding-right: 40px;
    float: left;
  }
}

.article__info__link {
  display: block;
}

.article__info__title {
  line-height: (27/19);
  color: $h2-color;
  font: {
    size: 1.9rem;
    family: $sans-serif;
    weight: $semibold;
  }
  letter-spacing: -.2px;

  @include respond-to($mobile-breakpoint) {
    font-size: 2.8rem;
    line-height: (40/28);
    margin-top: -.8rem;
  }
}

.article__info__teaser {
  line-height: (24/16);
  margin-top: 1.9rem;
  color: $tours-title-color;
  font: {
    size: 1.6rem;
    family: $sans-serif;
    weight: $medium;
  }
  letter-spacing: .1px;

  @include respond-to($mobile-breakpoint) {
    font-size: 2rem;
    line-height: (30/20);
    margin-top: 2.4rem;
  }
}

.article__info__blurb {
  color: $articles-blurb-color;
  font: {
    size: 1.4rem;
    family: $sans-serif;
    weight: $medium;
  }
  margin-top: .8rem;

  @include respond-to($mobile-breakpoint) {
    font-size: 1.6rem;
    line-height: (26/16);
    margin-top: 1rem;
  }
}

.article__info__title + .article__info__blurb {
  margin-top: 2rem;

  @include respond-to($mobile-breakpoint) {
    margin-top: 2.5rem;
  }
}

.article__info__author {
  display: inline-block;
  margin-top: 2.4rem;

  @include respond-to($mobile-breakpoint) {
    margin-top: 3rem;
  }
}

.article__info__author__image {
  @include author-image(9999999, 'horizontal'); // massive number here because we don't want it resizing ever
  margin-right: 1rem;
}

.article__info__author__creds {
  display: inline-block;
  margin-top: .6rem;
  vertical-align: middle;
}

.article__info__author__creds__name {
  @include author-name($small-breakpoint);
}

.article__info__author__creds__title {
  @include author-title($small-breakpoint);
}

.articles__button-container {
  //@include see-more-link;
  text-align: center;
}

.articles__more {
  @include see-more();
}
