<div class="video-overlay lp-overlay">
  <div class="video-overlay__close">
    <a class="video-overlay__close__button icon-close-small js-close-video"></a>
  </div>
  <div class="video-overlay__video">
    <div class="video-overlay__video__container">
      <video data-account="5104226627001" 
        data-player="default" 
        data-embed="default" 
        data-application-id 
        class="video-js" 
        controls >
      </video>
      <script src="//players.brightcove.net/5104226627001/default_default/index.min.js"></script>
    </div>
  </div>
</div>