@import "../../../sass/webpack_deps";

$mobile-breakpoint: 717px;
$square-size: 220px;
$gutter: 30px;
$fluid-max: 427px;
$fluid-min: $fluid-max + 1;
$desktop-size: 1170px;
// When all 9 cards are up
$max-card-width: 1395px;

/**************************************/
/********** helper functions **********/
/**************************************/

// column size should be half of the blueprint-size
// 2 and 4 cards should show up in a single row
@function calculate-columns($blueprint-size, $card-count) {
  @if $card-count == 2 or $card-count == 4 {
    @return $card-count;
  }
  @else {
    @return $blueprint-size / 2;
  }
}

// figure out odd or even based on card numbers .. (1 to 9)
@function determine-parity($card-count) {
  @if $card-count % 2 == 0 {
    @return "even";
  }
  @else {
    @return "odd";
  }
}

// calculate first cards size depending on odd/even
@function calculate-first-square-size($parity) {
  @if $parity == "odd" {
    @return $square-size * 2;
  }
  @else {
    @return $square-size;
  }
}

// calculates the size of the grid
// odd numbered grid size equals card numbers plus 3
// (big card == 4x small card)
@function calculate-blueprint-size($parity, $card-count) {
  @if $parity == "odd" {
    @return $card-count + 3;
  }
  @else {
    @return $card-count;
  }
}

/***********************************/
/********** helper mixins **********/
/***********************************/

// outputs a media query dynamicaly
// for each whole quotient of blueprint
@mixin generate-dynamic-media-queries($square-size, $blueprint-size, $fluid-max, $card-count) {
  $factor: $blueprint-size;
  $i: $blueprint-size - 1;

  @while $i > 1 {
    @if round($blueprint-size / $i) == $blueprint-size / $i {
      $mq-max-width: ($factor * $square-size) + 60px + 15px;

      @media screen and (min-width: $fluid-max) and (max-width: $mq-max-width) {
        $factor: $i;

        .interests__cards.interests__cards--#{$card-count} {
          width: $i * $square-size;
        }
      }
    }

    $i: $i - 1;
  }
}

// outputs distinct styles for all card number permutations 1-9
@mixin generate-style-permutations($card-count, $column-count, $square-size, $first-square-dimension, $g, $parity, $fluid-max) {
  .interests__cards--#{$card-count} {
    width: $column-count * $square-size;

    .interests__card {
      &:first-child {
        width: $first-square-dimension;
        height: $first-square-dimension;

        .interests__card--inner {
          width: $first-square-dimension - $g;
          height: $first-square-dimension - $g;

          @if $parity == "odd" {
            .interests__card__link {
              text-transform: capitalize;
              //text-align: left;
              //font-size: 40px;

              left: $gutter;
              bottom: $gutter;
              right: $gutter;

              padding-top: 1.8rem;

              font-size: 3.6rem;
              line-height: 1;
              text-align: left;
            }
          }
        }
      }
    }

    @media screen and (max-width: $fluid-max) {
      .interests__card {
        width: 50%;
        height: auto;
        margin-bottom: 2px;

        &:first-child {
          @if $parity == "odd" {
            width: 100%;
            height: auto;

            .interests__card--inner {
              width: 100%;
              height: 100%;
            }
          }
          @else {
            width: 50%;
            height: auto;

            .interests__card--inner {
              margin-right: 1px;
              width: calc(100% - 1px);
              height: 100%;
            }
          }
        }

        .interests__card--inner {
          width: 100%;
          height: 100%;
          padding-bottom: 100%;
        }

        &:nth-child(#{ if($parity == "odd", "even", "odd")}) {
          .interests__card--inner {
            margin-right: 1px;
            width: calc(100% - 1px);
          }
        }
      }
    }
  }
}

/******************************************/
/********** BEM component styles **********/
/******************************************/

.interests {
  margin-bottom: $gutter;

  &__heading {
    @include h1();
  }
}

.interests__cards {
  margin: 0 auto;

  overflow: hidden;
  
  &--9 {
    @media (min-width: $max-card-width) {
      margin-left: -1.5rem;
    }  
  }
  

  .interests__card {
    float: left;

    width: $square-size;
    height: $square-size;

    overflow: hidden;

    .interests__card--inner {
      position: relative;

      width: $square-size - $gutter;
      height: $square-size - $gutter;

      background: {
        color: #67747c;
        position: 0;
        size: cover;
      }

      &:before {
        display: block;
        content: "";

        position: absolute;

        top: 0;
        left: 0;
        right: 0;
        bottom: 0;

        background: linear-gradient(to bottom, rgba(0,0,0,0) 1%,rgba(0,0,0,0) 60%,rgba(0,0,0,0.71) 98%,rgba(0,0,0,0.75) 100%); 
      }

      .interests__card__bottom {
        height: 4rem;

        position: absolute;
        z-index: 1;

        left: 0;
        bottom: 1rem;
        right: 0;

        padding-top: 1rem;
        border-top: .1rem solid rgba(#fff, .6);
        display: table;
        text-align: center;
        width: 90%;
        margin: 0 auto;
      }
  
      .interests__card__link {
        display: table-cell;
        vertical-align: middle;
        text-align: center;

        font-size: 1.2rem;
        font-weight: 600;
        color: #fff;

        line-height: 1.5rem;
        text-align: center;
        text-transform: uppercase;
      }
    }

    @include respond-to($fluid-min) {
      transition: transform $animation-speed;

      &:hover {
        transform: translateY(-.5rem);
      }
    }
  }
}

// main loop to control dynamic style creation
@for $card-count from 1 through 9 {
  $parity: determine-parity($card-count);
  $first-square-dimension: calculate-first-square-size($parity);
  $blueprint-size: calculate-blueprint-size($parity, $card-count);
  $column-count: calculate-columns($blueprint-size, $card-count);

  @include generate-style-permutations(
    $card-count,
    $column-count,
    $square-size,
    $first-square-dimension,
    $gutter,
    $parity,
    $fluid-max
  );

  @include generate-dynamic-media-queries(
    $square-size,
    $blueprint-size,
    $fluid-max,
    $card-count
  );
}

/**************************************/
/*********  FLUID STYLES  *************/
/**************************************/

@media screen and (max-width: $fluid-max) {
  .interests .interests__cards {
    width: calc(100% - 2px);
    margin: 0 auto;
    font-size: 0;
    text-align: center;

    .interests__card {
      float: none;
      display: inline-block;
    }
  }
}

@include respond-to($fluid-min) {
  .interests__card--inner {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
