@import "rizzo-next/sass/webpack_deps";

$mobile-breakpoint: 480px;
$tablet-breakpoint: 1066;
$mobile-image-size: 70px;

.tours {
  margin: 0 auto $gutter;

  max-width: 108rem;
  overflow: hidden;

  @include clearfix;

  &__heading {
    @include h1();
  }
}

.tours__list {
  margin: 0 -$gutter;

  text-align: center;
  font-size: 0;

  @include respond-to(1268) {
    text-align: left;
  }
}

.tours__title {
  @include respond-to($tablet-breakpoint) {
    margin-bottom: 65px;
  }
}

$image-width: 19rem;
$image-width-mobile: 7rem;

.tour {
  display: block;
  position: relative;

  margin: 0 auto ($gutter * 1);
  padding: 0 $gutter 0 $image-width-mobile + $gutter;

  max-width: 50rem + $gutter * 2;
  min-height: 10rem;

  text-align: left;
  vertical-align: top;
  font-size: 0;

  @media (min-width: $min-480) {
    padding-left: $image-width + $gutter;

    min-height: 14rem;
  }

  @media (min-width: $min-960) {
    display: inline-block;

    margin: 0 0 ($gutter * 2);

    width: 50%;
    max-width: none;
  }

  &__imagery,
  &__description {
    font-size: $font-size;
  }

  &__imagery {
    position: absolute;

    top: 0;
    left: $gutter;

    padding: 0 0 .6rem;

    width: $image-width-mobile;

    font-size: 13px;

    border-bottom: 1px solid $divider-color;

    @media (min-width: $min-480) {
      width: $image-width;
    }
  }

  &__description {
    padding: 0 0 0 $gutter;

    font-weight: $medium;
    color: $tours-title-color;
  }
}



.tour__imagery__caption {
  position: absolute;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;

  @include respond-to($mobile-breakpoint) {
    position: relative;
    color: $tours-type-color;
  }
}

.tour__imagery__caption__price,
.tour__imagery__caption__type {
  display: inline-block;
  vertical-align: middle;
}

.tour__imagery__image {
  width: $mobile-image-size;
  height: $mobile-image-size;
  margin-bottom: 6px;
  background-position: center center;
  background-size: cover;

  @include respond-to($mobile-breakpoint) {
    width: 190px;
    height: 100px;
  }
}

.tour__imagery__caption__price {
  min-width: 70px;
  margin-right: $gutter;
  padding: 0 10px 4px 8px;
  font-weight: $semibold;
  background-color: $tours-price-background;
  text-align: center;
  color: #fff;

  @include respond-to($mobile-breakpoint) {
    min-width: 52px;
    margin-right: 5px;
  }
}

.tour__imagery__caption__type {
  font-weight: $semibold;
  text-transform: uppercase;
  color: $tours-title-color;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  display: inline;

  @include respond-to($mobile-breakpoint) {
    color: $tours-type-color;
  }
}

.tour__description__title {
  margin: {
    top: -2px;
    bottom: 5px;
  }
  font-size: 17px;
  line-height: 1.1;

  @include respond-to($mobile-breakpoint) {
    margin-top: -4px;
    font-size: 20px;
  }
}

.tour__description__blurb {
  font-size: 13px;
  line-height: 1.4;
  color: $tours-blurb-color;

  @include respond-to($mobile-breakpoint) {
    font-size: 16px;
    line-height: 1.6;
  }
}

.tours__button-container {
  @include see-more-link;
}

.tours__more {
  @include see-more();
}

// IE9 can't use Clamp.js, so we have to force it to hide the paragraph at a specific height
.ie9 {
  .tour__description__blurb {
    height: 55px;
    overflow: hidden;

    @include respond-to($mobile-breakpoint) {
      height: 74px;
    }
  }
}
