@import "../../../sass/webpack_deps";

/// Author component
///
/// .is-contained: Used for article; or when the author is not inside of a `container`
/// .is-vertical: Used for love-letter, article; or when the `avatar` and `author-details` are stacked
/// .is-horizontal: Used for articles on highlight pages; or when the `avatar` and `author-details` are inline
/// .is-small: Used for love-letter; changes fonts and margins for `author-name`, `author-title`; doesn't effect `avatar`

.author {
  font-size: 1.4rem;
  letter-spacing: .01rem;
  margin: 0 auto;

  &.is-contained {
    @include container;
    width: auto;

    @media (min-width: $min-480) {
      @include with-layout(static) {
        width: span(3);
      }
    }
  }

  &.is-vertical {
    text-align: center;
  }

  &.is-horizontal {
    display: inline-block;
    margin-top: 2.4rem;
    overflow: hidden;

    @media (min-width: $min-600) {
      margin-top: 3rem;
    }
  }

  &.has-bio.is-horizontal {
    margin-top: 1.2rem;

    @media (min-width: $min-600) {
      margin-top: 1.2rem;
    }
  }

  a {
    display: inline-block;
  }
}

.author-details {
  .author.is-horizontal & {
    float: left;
    margin-top: .6rem;
  }

  .author.is-vertical & {
    margin-top: 1.3rem;

    @media (min-width: $min-600) {
      margin-top: 1.8rem;
    }
  }

  .author.is-vertical.is-small & {
    @media (min-width: $min-600) {
      margin-top: 3rem;
    }
  }
}

.author-name {
  color: $body-color;
  font-size: 1.2rem;
  font-weight: $semibold;
  line-height: 1;

  @media(min-width: $min-600) {
    font-size: 1.4rem;
  }

  &:not(.is-inline) {
    margin-bottom: .8rem;
    text-transform: uppercase;

    .author.is-small & {
      margin-bottom: .5rem;
    }
  }

  &.is-inline {
    display: inline;
    font-size: 1.4rem;
  }

  .author.is-small & {
    letter-spacing: .06rem;

    @media(min-width: $min-600) {
      font-size: 1.2rem;
    }
  }
}

.author-title {
  color: $light-text-color;
  font-size: 1.4rem;
  letter-spacing: .06rem;
  line-height: 1;

  &:not(.is-inline) {
    font-family: $serif;
    font-style: italic;
  }

  &.is-inline {
    display: inline;
    font-size: 1.2rem;
  }
}

.author-bio {
  margin-top: .4rem;
  max-width: 40rem;
}
