<div class="author_modern">
  <div class="author_modern__inner">
    <div class="author_modern__name">
      {{ article.author_details.name }}
    </div>
    <div class="author_modern__details">
      {{ article.author_details.title }}
    </div>
  </div>
</div>
