@import "../../../sass/webpack_deps";

.author {
  font-size: 1.4rem;
  letter-spacing: .01rem;
  margin: 0 auto;

  &.-contained {
    @include container;
    width: span(3);
  }

  &.-vertical {
    text-align: center;
  }

  &.-horizontal {
    display: inline-block;
    margin-top: 2.4rem;
    overflow: hidden;

    @media (min-width: $min-720) {
      margin-top: 3rem;
    }
  }

  &.-bio.-horizontal {
    margin-top: 1.2rem;

    @media (min-width: $min-720) {
      margin-top: 1.2rem;
    }
  }

  a {
    display: inline-block;

    // &:hover,
    // &:focus {
    //   .avatar {
    //     transform: scale(1.1);
    //   }
    // }
  }
}

.author-details {
  .author.-horizontal & {
    float: left;
    margin-top: .6rem;
  }
}

.author-name {
  color: $body-color;
  font-size: 1.2rem;
  font-weight: $semibold;
  letter-spacing: .06rem;
  line-height: 1;

  &:not(.-inline) {
    margin-bottom: .5rem;
    text-transform: uppercase;
  }

  &.-inline {
    display: inline;
    font-size: 1.4rem;
  }
}

.author-title,
.author-post-date {
  color: $light-text-color;
  font-size: 1.4rem;
  letter-spacing: .06rem;
  line-height: 1;

  &:not(.-inline) {
    font-family: $serif;
    font-style: italic;
  }

  &.-inline {
    display: inline;
    font-size: 1.2rem;
  }
}

.author-post-date {
  &.-inline {
    &:before {
      content: "";
      // content: "| ";
      // color: $light-text-color;
      background-color: $light-text-color;
      display: inline-block;
      height: 1.2rem;
      position: relative;
      // top: -1px;
      top: 2px;
      margin-right: 1px;
      width: 1px;
    }
    // border-left: 1px solid $light-text-color;
  }
}

.author-bio {
  margin-top: .4rem;
  max-width: 400px;
}
