@import "../../../sass/webpack_deps";

.author {
  font-size: 1.4rem;
  letter-spacing: .01rem;
  margin: 0 auto;

  &.is-contained {
    @include container;
    width: auto;

    @media (min-width: $min-480) {
      @include with-layout(static) {
        width: span(3);
      }
    }
  }

  &.is-vertical {
    text-align: center;
  }

  &.is-horizontal {
    display: inline-block;
    margin-top: 2.4rem;
    overflow: hidden;

    @media (min-width: $min-720) {
      margin-top: 3rem;
    }
  }

  &.has-bio.is-horizontal {
    margin-top: 1.2rem;

    @media (min-width: $min-720) {
      margin-top: 1.2rem;
    }
  }

  a {
    display: inline-block;
  }
}

.author-details {
  .author.is-horizontal & {
    float: left;
    margin-top: .6rem;
  }
}

.author-name {
  color: $body-color;
  font-size: 1.2rem;
  font-weight: $semibold;
  letter-spacing: .06rem;
  line-height: 1;

  &:not(.-inline) {
    margin-bottom: .5rem;
    text-transform: uppercase;
  }

  &.-inline {
    display: inline;
    font-size: 1.4rem;
  }
}

.author-title {
  color: $light-text-color;
  font-size: 1.4rem;
  letter-spacing: .06rem;
  line-height: 1;

  &:not(.-inline) {
    font-family: $serif;
    font-style: italic;
  }

  &.-inline {
    display: inline;
    font-size: 1.2rem;
  }
}

.author-bio {
  margin-top: .4rem;
  max-width: 400px;
}
