<div class="article__sponsor-ad js-article-sponsor-ad">
  {{#if adpackage}}
    <div
      id="ad-articles-sponsor{{#if count}}-{{ count }}{{/if}}{{#unless count}}-1{{/unless}}"
      class="adunit--sponsor-logo js-sponsor-logo">
    </div>
  {{/if}}

  {{#unless adpackage}}
    <div class="adunit adunit--sponsor-logo display-none js-sponsor-logo"
      data-size-mapping="sponsor-logo"
      data-targeting='{ "position": "article-attribution" }'>
    </div>
  {{/unless}}
</div>
