@import "../../../sass/webpack_deps";

.ad {
  background-color: #2c3642;
}

/// MPU

.ad--mpu {
  height: 25rem;
  width: 30rem;
}

.ad--mpu.ad--article {
  @media (max-width: $max-600) {
    display: none !important;
  }

  @media (min-width: $min-600) {
    margin-left: auto;
    margin-right: auto;
    margin-top: 7.7rem;
  }

  @media (min-width: $min-1350) {
    position: absolute;
    right: 0;
    top: auto;
  }
}

/// Leaderboard

.ad--leaderboard__container {
  display: table;
  margin-left: auto;
  margin-right: auto;
}

/// Adunit

.adunit {
  padding-bottom: 1.8rem;
  padding-top: 1.8rem;
}
