@import "../../../sass/webpack_deps";

.ad {
  background-color: #2c3642;
}

/// MPU

.ad--mpu {
  height: 25rem;
  width: 30rem;
}

.ad--mpu.ad--article {
  @media (max-width: $max-600) {
    display: none !important;
  }

  @media (min-width: $min-600) {
    margin-left: auto;
    margin-right: auto;
    margin-top: 7.7rem;
  }

  @media (min-width: $min-1350) {
    position: absolute;
    right: 0;
    top: auto;
  }
}

/// Leaderboard

.ad--leaderboard__container {
  display: table;
  margin-left: auto;
  margin-right: auto;
}

/// Adunit

.adunit {
  padding-bottom: 1.8rem;
  padding-top: 1.8rem;

  &--sponsor-logo, &--sponsor-logo-masthead {
    width: 15rem;
    height: 12rem;
    display: inline-block;
    margin-left: $gutter * 2;
  }

  &--sponsor-logo-masthead {
    position: absolute;
    right: 0;
    bottom: 0;

    @media (max-width: $max-720) {
      left: 0;
      right: 0;
      margin-left: auto;
      margin-right: auto;
    }
  }

  &.display-none {
    display: none;
  }
}
