@import "../../../sass/webpack_deps";
@import "article-loading";

.article {
  position: relative;
  opacity: 1;
  transform: translateY(0);
  transition: transform $animation-speed ease, opacity $animation-speed ease;

  &.is-loading {
    opacity: 0;
    transform: translateY(20rem);
  }
}

.article__container {
  @include container-padded;
  overflow: hidden; // Prevent horizontal movement in iOS caused by .size-full images
  position: relative;
}
