@import "../../../sass/webpack_deps";

.article-loading {
  // border-top: .1rem solid $color-border;
  opacity: 1;
  padding-top: gutter();
  padding-bottom: gutter();
  text-align: center;
  transition: opacity $animation-speed ease;

  &.is-invisible {
    opacity: 0;
  }
}
