@import 'headings_mixins';

.h1 {
  @include h1();
}

.h2 {
  @include h2();
}

.h3 {
  @include h3();
}



// Legacy
// should not be used

$mobile-breakpoint: 717px;
$tablet-breakpoint: 1025px;

.secondary-heading {
  color: $h2-color;
  font: {
    family: $benton-sans;
    size: 2.8rem;
    weight: $font-weight-light;
  }
  line-height: 1.8;
  padding-top: 4rem;
  text-align: center;

  &::after {
    border-bottom: .2rem solid $h2-secondary-color;
    content: '';
    display: block;
    margin-bottom: 2.4rem;
    margin-left: auto;
    margin-right: auto;
    width: 3.1rem;
  }

  @media (min-width: $mobile-breakpoint) {
    font-size: 5rem;
    padding-top: 8rem;

    &::after {
      margin-bottom: 3.5rem;
    }
  }

  @media (min-width: $tablet-breakpoint) {
    padding-top: 12.5rem;
  }
}
