@mixin link-transition(){
  transition-property: color, border, background;
  transition-duration: .3s;

  &:after,
  &:before {
    transition-property: color, border, background;
    transition-duration: .3s;
  }

  &:hover {
    transition-duration: 0ms;

    &:after,
    &:before {
      transition-duration: 0ms;
    }
  }
}

@mixin more() {
  font-size: 1.3rem;
  line-height: 1;
  font-weight: 600;
  text-transform: uppercase;

  @include link-transition();

  &:hover {
    color: $color-primary + 30;
  }

  [class*="icon-"] {
    display: inline-block;

    font-size: 6px;
    vertical-align: 20%;

    transition: transform 500ms;

    transform: translateX(.6rem);
    backface-visibility: hidden;
  }

  &:hover {
    [class*="icon-"] {
      transform: translateX(.2rem);
    }
  }
}

@mixin see-more() {
  @include more();

  position: relative;
  display: inline-block;

  padding: $gutter;
}

/// Provides the underline for the fancy link
/// @param {Color} $color [$color-blue] - Color of the underline (usually same as the text color)
/// @param {Dimension} $weight [.1rem] - Width of the underline
/// @param {Dimension} $offset [.2rem] - Amount of padding above the underline
@mixin underline($color: $color-blue, $weight: .1rem, $offset: .2rem) {
  background-image: linear-gradient(to top, transparent, transparent $offset, $color $offset, $color ($offset + $weight), transparent ($offset + $weight));
}

/// Creates a nicely underlined hyperlink
/// @param {Color} $link-color [$color-blue] Link color
/// @param {Color} $link-color-active [$color-blue + 30] Link color for hover, active and focus states
/// @param {Color} $background-color [#fff] Background color of the link, usually the same color as the page
/// @param {Boolean} $breaking-underlines [true] If the underline should "break" as it passes thru a descender
@mixin fancy-link($link-color: $color-blue, $link-color-active: $color-blue + 30, $background-color: #fff, $breaking-underlines: true) {
  @include underline($link-color);
  color: $link-color;
  position: relative;
  text-decoration: none;
  transition: color .2s ease;
  @if $breaking-underlines {
    text-shadow: -.1rem -.1rem 0 $background-color,
      .1rem -.1rem 0 $background-color,
      -.1rem .1rem 0 $background-color,
      .1rem .1rem 0 $background-color;
  }

  @media (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi) {
    @include underline($link-color, .05);
  }

  &:hover,
  &:active,
  &:focus {
    @include underline($link-color-active);
    color: $link-color-active;

    @media (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi) {
      @include underline($link-color-active, .05);
    }
  }
}
