%lede {
  color: $color-darkblue;
  font-size: 1.8rem;
  font-weight: 300;
  line-height: (28 / 18);
  margin-bottom: 2.5rem;

  @media (min-width: $min-480) {
    font-size: 2rem;
  }

  @media (min-width: $min-600) {
    font-size: 2.8rem;
    line-height: (42 / 28);
    margin-bottom: 5.5rem;
  }
}

.lede {
  @extend %lede;
}

%post-date {
  color: $light-text-color;
  font-family: $benton-sans;
  font-size: 1.2rem;
  font-weight: 600;
  line-height: 1.2;
  text-transform: uppercase;
}

.post-date {
  @extend %post-date;



  // Implementation detail

  &.in-article-footer {
    text-align: left;
    width: 50%;

    @media (max-width: $max-360) {
      padding-right: gutter(static);
    }

    .no-flexbox & {
      float: left;
    }
  }
}
