@import "../../../sass/webpack_deps";

.ttd {
  overflow: hidden;
  margin-bottom: $gutter;

  &__heading {
    @include h1();
  }

  &__list {
    transition: $animation-speed-ui opacity ease-in;
    margin: 0 (-$gutter/8) $gutter;
    list-style: none;

    font-size: 0;
    text-align: center;
    counter-reset: image-card;
    opacity: 1;

    &--next {
      opacity: 0;
    }

    @media (min-width: $min-480) {
      margin: 0 0 $gutter;
    }
  }

  &__item {
    display: inline-block;

    margin: 0 0 $gutter / 4;
    padding: 0 ($gutter / 8);

    width: 50%;

    vertical-align: top;
    text-align: right;

    &:nth-child(2n) {
      text-align: left;
    }

    @media (min-width: $min-480) {
      margin: 0 0 $gutter;
      padding: 0 ($gutter / 2);
    }

    @media (min-width: $min-960) {
      width: 25%;
    }
  }

  &__bottom {
    margin: 0 0 $spacing;
    text-align: center;
  }

  &__more {
    @include more();
  }
}

.image-card {
  display: inline-block;
  position: relative;

  width: 100%;
  max-width: 30rem;

  background: #ccc;

  transition: transform $animation-speed;

  @media (min-width: $min-720) {
    &:hover {
      transform: translateY(-.5rem);
    }
  }

  &__image {
    padding-top: 150%;

    width: 100%;

    background-size: cover;

    opacity: 1;
    transition: opacity $animation-speed-ui;

    &--visible {
      opacity: 1;
    }
  }

  &__content {
    position: absolute;

    left: 0;
    bottom: 0;
    right: 0;

    padding: 0 ($gutter / 3) ($gutter / 2);

    font-size: $font-size;
    color: #fff;
    text-align: center;

    background: linear-gradient(to top,  rgba(0,0,0,0.5) 0%,rgba(0,0,0,0) 100%);

    @media (min-width: $min-480) {
      padding: 0 ($gutter / 2) ($gutter - 1);
    }
  }

  &__number {
    $size: 2.7rem;

    display: inline-block;
    position: relative;

    margin: 0 0 ($spacing/2 + .5);

    width: $size;
    height: $size;

    font-family: $font-family-special;
    font-size: 1.4rem;
    line-height: $size;
    text-align: center;
    color: $font-color;

    border-radius: .4rem;
    background: #fff;
    box-shadow: 0 .2rem .2rem rgba(0,0,0, .3);

    transform: rotate(45deg);

    .num {
      display: block;
      transform: rotate(-45deg);
    }

    // &:before {
    //   display: block;

    //   counter-increment: image-card;
    //   content: counter(image-card);

    //   transform: rotate(-45deg);
    // }

    @media (min-width: $min-480) {
      $size: 3.7rem;

      margin: 0 0 ($spacing + 1);

      width: $size;
      height: $size;

      line-height: $size;

      font-size: 2rem;
    }
  }

  &__title {
    margin-top: .6rem;
    font-size: 1.2rem;
    font-weight: 600;
    line-height: (18 / 12);
    text-transform: uppercase;
    overflow: hidden;

    @media (min-width: $min-480) {
      margin-top: 1.2rem;
      font-size: 1.4rem;
      line-height: (20 / 14);
      letter-spacing: .6px;
    }
  }

  &__subtitle {
    font-family: $font-family-special;
    font-style: italic;
    font-size: 1.2rem;
    line-height: 1;

    @media (min-width: $min-480) {
      font-size: 1.4rem;
    }
  }
}
