@import "../../../sass/webpack_deps";

$image-card-hover-movement: .5rem;

.ttd {
  position: relative;

  @media (max-width: $max-480) {
    overflow: hidden;
  }

  &__heading {
    @include h1();
    z-index: z("middle") + 5;
  }

  &__container {
    margin-bottom: $gutter;
    position: relative;

    @media (max-width: $max-840) {
      margin-left: auto;
      margin-right: auto;
      max-width: 61.5rem;
    }

    @media (min-width: $min-840) {
      margin-bottom: 2rem;
    }
  }

  &__list-container {
    overflow: hidden; // hide transitioning slides, which is a completely new ul element

    @media (min-width: $min-840) {
      margin-top: -#{$image-card-hover-movement}; // reset the position and offset the padding-top
      padding-top: $image-card-hover-movement; // becuase of overflow: hidden, this gives the .image-card room to move for hover transition
    }
  }

  &__list {
    counter-reset: image-card;
    display: flex; // Controls the speed of the more and less
    list-style: none;
    opacity: 1;
    position: relative;
    transition: 500ms transform ease-in-out;

    @media (max-width: $max-840) {
      flex-wrap: wrap;
    }

    .no-flexbox & {
      @include clearfix;
      float: left;
      width: 100%;
    }

    &--next {
      opacity: 0;
    }
  }

  &__item {
    width: span(6);

    @media (min-width: $min-840) {
      width: span(3);
    }

    .no-flexbox & {
      float: left;
    }

    &:not(:first-child) {
      margin-left: gutter();
    }

    &:nth-child(3) {
      @media (max-width: $max-840) {
        margin-left: 0;
      }
    }

    &:nth-child(3),
    &:nth-child(4) {
      @media (max-width: $max-840) {
        margin-top: gutter();
      }
    }
  }

  &__more {
    right: -2.5rem;

    @media (min-width: $min-480) {
      right: -3rem;
    }

    @media (min-width: $min-840) {
      right: -2rem;
    }
  }

  &__less {
    left: -2.5rem;

    @media (min-width: $min-480) {
      left: -3rem;
    }

    @media (min-width: $min-840) {
      left: -2rem;
    }
  }

  &__more,
  &__less {
    background-color: #fff;
    border: 0;
    border-radius: 50%;
    cursor: pointer;
    display: block;
    height: 5rem;
    outline: none;
    padding: 0;
    position: absolute;
    top: 50%;
    width: 5rem;
    z-index: z("middle") + 5;

    @media (min-width: $min-480) {
      height: 6rem;
      width: 6rem;
    }

    @media (min-width: $min-720) {
      box-shadow: 0 .2rem 1rem .15rem rgba(#000, .07);
    }

    @media (max-width: $max-840) {
      transform: translateY(-50%);
    }

    @media (min-width: $min-840) {
      height: 4rem;
      transition: box-shadow $animation-speed ease-in-out;
      width: 4rem;
    }

    &:hover,
    &:active {
      @media (min-width: $min-840) {
        box-shadow: 0 .2rem 1rem .15rem rgba(#000, .1);
      }
    }

    &[disabled] {
      opacity: 0;
      pointer-events: none;
    }
  }

  &__more-icon,
  &__less-icon {
    color: #324355;
    font-size: 1.1rem;
    font-weight: 700;
    position: relative;
    transition: color $animation-speed ease-in-out;

    @media (min-width: $min-840) {
      font-size: .9rem;
    }
  }

  &__more-icon {
    right: .3rem;

    @media (min-width: $min-720) {
      right: -.1rem;
    }

    .ttd__more:hover,
    .ttd__more:active {
      color: $color-blue;
    }
  }

  &__less-icon {
    left: .3rem;

    @media (min-width: $min-720) {
      left: -.1rem;
    }

    .ttd__less:hover,
    .ttd__less:active {
      color: $color-blue;
    }
  }
}

.image-card {
  background-color: #ccc;
  display: block;
  position: relative;
  transition: transform $animation-speed;
  width: 100%;

  &:hover,
  &:active,
  &:focus {
    @media (min-width: $min-840) {
      transform: translateY(-#{$image-card-hover-movement});
    }
  }

  &__image {
    background-size: cover;
    opacity: 1;
    padding-top: 150%;
    transition: opacity $animation-speed-ui;
    width: 100%;

    &.is-visible {
      opacity: 1;
    }
  }

  &__content {
    background: linear-gradient(to top, rgba(#000, .5) 0%, rgba(#000, 0) 100%);
    bottom: 0;
    color: #fff;
    font-size: $font-size;
    left: 0;
    padding: 0 ($gutter / 3) ($gutter / 2);
    position: absolute;
    right: 0;
    text-align: center;

    @media (min-width: $min-480) {
      padding: 0 ($gutter / 2) ($gutter - 1);
    }

    @media (min-width: $min-720) {
      min-height: 14.5rem;
    }
  }

  &__number {
    $size: 2.7rem;
    backface-visibility: hidden;
    background-color: #fff;
    border-radius: .4rem;
    box-shadow: 0 .2rem .2rem rgba(#000, .3);
    color: #3b444f;
    display: inline-block;
    font-family: $miller-daily;
    font-size: 1.4rem;
    height: $size;
    line-height: $size;
    margin-bottom: (($spacing / 2) + .5);
    position: relative;
    text-align: center;
    transform: rotate(45deg);
    width: $size;

    .num {
      display: block;
      transform: rotate(-45deg);
    }

    @media (min-width: $min-480) {
      $size: 3.7rem;
      font-size: 2rem;
      height: $size;
      line-height: $size;
      margin-bottom: 2.1rem;
      width: $size;
    }
  }

  &__title {
    font-size: 1.2rem;
    font-weight: 600;
    line-height: (18 / 12);
    margin-top: .6rem;
    overflow: hidden;
    text-transform: uppercase;

    @media (min-width: $min-480) {
      font-size: 1.4rem;
      letter-spacing: .06rem;
      line-height: (19 / 14);
      margin-top: 1.2rem;
    }
  }

  &__subtitle {
    font-family: $miller-daily;
    font-size: 1.2rem;
    font-style: italic;
    line-height: 1;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100%;

    @media (min-width: $min-480) {
      font-size: 1.4rem;
    }
  }
}
