@import "../../../sass/webpack_deps";

.ttd {
  overflow: visible;
  position: relative;

  &__heading {
    @include h1();
    z-index: 15;
  }

  &__list-container {
    position: relative;
    margin-bottom: $gutter;

    @media (min-width: $min-960) {
      margin-bottom: 2rem;
    }

    .has-more--left, .has-more--right {
      transition: 50ms opacity;
      opacity: 1;

      &.is-invisible {
        opacity: 0;
        pointer-events: none;
      }
    }

    .has-more--right:before, .has-more--left:before {
      content: "";
      display: block;
      height: 100%;
      position: absolute;
      top: 0%;
      background: #fff;
      z-index: 10;
      width: 7%;

      @media (min-width: $min-480) {
        width: 8%;
      }
    }

    .has-more--left:before {
      left: -2rem;

      @media (min-width: $min-480) {
        left: -3rem;
      }

      @media (min-width: $min-840) {
        left: -7%;
      }
    }

    .has-more--right:before {
      right: -2rem;

      @media (min-width: $min-480) {
        right: -3rem;
      }

      @media (min-width: $min-840) {
        right: -7%;
      }
    }
  }

  &__list {
    // Controls the speed of the more and less
    transition: 500ms transform ease-in-out;
    margin: 0 (-$gutter/8);
    list-style: none;
    font-size: 0;
    text-align: left;
    counter-reset: image-card;
    opacity: 1;
    position: relative;

    &--next {
      opacity: 0;
    }
  }

  &__item {
    display: inline-block;
    padding-left: ($gutter / 8);
    padding-right: ($gutter / 8);

    width: 50%;

    vertical-align: top;
    text-align: right;

    @media (min-width: $min-480) {
      padding-left: ($gutter / 2);
      padding-right: ($gutter / 2);
    }

    @media (min-width: $min-960) {
      margin-bottom: 0;
      width: 25%;
    }

    &:nth-child(-n+2) {
      margin-bottom: ($gutter / 4);

      @media (min-width: $min-480) {
        margin-bottom: ($gutter);
      }
    }

    &:nth-child(2n) {
      text-align: left;
    }

  }
  &__more {
    right: -0.5rem;
    box-shadow: .2rem .1rem .4rem -.3rem #333;
  }
  &__less {
    left: -0.5rem;
    box-shadow: -.2rem .1rem .4rem -.3rem #333;
  }

  &__more, &__less {
    cursor: pointer;
    position: absolute;
    min-height: 4rem;
    height: 6vw;
    min-width: 4rem;
    width: 6vw;
    padding-left: 7px;
    padding-top: 3px;
    top: calc(50% - (4vw + #{$gutter} / 8));
    z-index: 15;
    border-radius: 50%;
    border: none;
    outline: none;
    background: #fff;

    @media (min-width: $min-480) {
      top: calc(50% - 3vw);
    }

    @media (min-width: $min-960) {
      height: 3rem;
      width: 3rem;
      top: calc(50% - 1.5rem);
      display: block;
    }

    &__icon {
      font-size: 1rem;
    }

    &.is-invisible {
      pointer-events: none;
    }
  }
}

.image-card {
  display: inline-block;
  position: relative;

  width: 100%;
  max-width: 30rem;

  background-color: #ccc;

  transition: transform $animation-speed;

  &:hover {
    @media (min-width: $min-720) {
      transform: translateY(-.5rem);
    }
  }

  &__image {
    padding-top: 150%;

    width: 100%;

    background-size: cover;

    opacity: 1;
    transition: opacity $animation-speed-ui;

    &.is-visible {
      opacity: 1;
    }
  }

  &__content {
    position: absolute;

    left: 0;
    bottom: 0;
    right: 0;

    padding: 0 ($gutter / 3) ($gutter / 2);

    font-size: $font-size;
    color: #fff;
    text-align: center;

    background: linear-gradient(to top, rgba(0,0,0, .5) 0%, rgba(0,0,0, 0) 100%);

    @media (min-width: $min-480) {
      padding: 0 ($gutter / 2) ($gutter - 1);
    }

    @media (min-width: $min-720) {
      min-height: 14.5rem;
    }
  }

  &__number {
    $size: 2.7rem;

    display: inline-block;
    position: relative;

    margin-bottom: ($spacing/2 + .5);

    width: $size;
    height: $size;

    font-family: $font-family-special;
    font-size: 1.4rem;
    line-height: $size;
    text-align: center;
    color: $font-color;

    border-radius: .4rem;
    background: #fff;
    box-shadow: 0 .2rem .2rem rgba(0,0,0, .3);

    transform: rotate(45deg);
    backface-visibility: hidden;

    .num {
      display: block;
      transform: rotate(-45deg);
    }

    @media (min-width: $min-480) {
      $size: 3.7rem;

      margin-bottom: 2.1rem;

      width: $size;
      height: $size;

      line-height: $size;

      font-size: 2rem;
    }
  }

  &__title {
    margin-top: .6rem;
    font-size: 1.2rem;
    font-weight: 600;
    line-height: (18 / 12);
    text-transform: uppercase;
    overflow: hidden;

    @media (min-width: $min-480) {
      margin-top: 1.2rem;
      font-size: 1.4rem;
      line-height: (19 / 14);
      letter-spacing: .6px;
    }
  }

  &__subtitle {
    font-family: $font-family-special;
    font-style: italic;
    font-size: 1.2rem;
    line-height: 1;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100%;

    @media (min-width: $min-480) {
      font-size: 1.4rem;
    }
  }
}
