@import "../../../sass/webpack_deps";

$image-card-hover-movement: .5rem;

.ttd {
  position: relative;

  @media (max-width: $max-480) {
    overflow: hidden;
  }

  &__heading {
    @include h1();
    z-index: 15;
  }

  &__container {
    margin-bottom: $gutter;
    position: relative;

    @media (max-width: $max-840) {
      max-width: 61.5rem;
      margin-left: auto;
      margin-right: auto;
    }

    @media (min-width: $min-840) {
      margin-bottom: 2rem;
    }
  }

  &__list-container {
    overflow: hidden; // hide transitioning slides, which is a completely new ul element

    @media (min-width: $min-840) {
      margin-top: -#{$image-card-hover-movement}; // reset the position and offset the padding-top
      padding-top: $image-card-hover-movement; // becuase of overflow: hidden, this gives the .image-card room to move for hover transition
    }
  }

  &__list {
    transition: 500ms transform ease-in-out; // Controls the speed of the more and less
    list-style: none;
    counter-reset: image-card;
    opacity: 1;
    position: relative;
    display: flex;

    @media (max-width: $max-840) {
      flex-wrap: wrap;
    }

    .no-flexbox & {
      @include clearfix;
      float: left;
      width: 100%;
    }

    &--next {
      opacity: 0;
    }
  }

  &__item {
    width: span(6);

    @media (min-width: $min-840) {
      width: span(3);
    }

    .no-flexbox & {
      float: left;
    }

    &:not(:first-child) {
      margin-left: gutter();
    }

    &:nth-child(3) {
      @media (max-width: $max-840) {
        margin-left: 0;
      }
    }

    &:nth-child(3),
    &:nth-child(4) {
      @media (max-width: $max-840) {
        margin-top: gutter();
      }
    }
  }

  &__more {
    right: -2.5rem;

    @media (min-width: $min-480) {
      right: -3rem;
    }

    @media (min-width: $min-840) {
      right: -2rem;
    }

    &:hover,
    &:active {
      .ttd__more-icon {
        color: $color-blue;
      }
    }
  }

  &__less {
    left: -2.5rem;

    @media (min-width: $min-480) {
      left: -3rem;
    }

    @media (min-width: $min-840) {
      left: -2rem;
    }

    &:hover,
    &:active {
      .ttd__less-icon {
        color: $color-blue;
      }
    }
  }

  &__more,
  &__less {
    display: block;
    cursor: pointer;
    position: absolute;
    height: 5rem;
    width: 5rem;
    top: 50%;
    z-index: 15;
    border-radius: 50%;
    border: none;
    outline: none;
    background-color: #fff;
    padding: 0;

    @media (min-width: $min-480) {
      height: 6rem;
      width: 6rem;
    }

    @media (min-width: $min-720) {
      box-shadow: 0 .2rem 1rem .15rem rgba(#000, .07);
    }

    @media (max-width: $max-840) {
      transform: translateY(-50%);
    }

    @media (min-width: $min-840) {
      height: 4rem;
      width: 4rem;
      transition: box-shadow $animation-speed ease-in-out;
    }

    &:hover,
    &:active {
      @media (min-width: $min-840) {
        box-shadow: 0 .2rem 1rem .15rem rgba(#000, .1);
      }
    }

    &[disabled] {
      opacity: 0;
      pointer-events: none;
    }
  }

  &__more-icon,
  &__less-icon {
    color: #324355;
    font-size: 1.1rem;
    font-weight: 700;
    position: relative;
    transition: color $animation-speed ease-in-out;

    @media (min-width: $min-840) {
      font-size: .9rem;
    }
  }

  &__more-icon  {
    right: .3rem;

    @media (min-width: $min-720) {
      right: -.1rem;
    }
  }

  &__less-icon {
    left: .3rem;

    @media (min-width: $min-720) {
      left: -.1rem;
    }
  }
}

.image-card {
  display: block;
  position: relative;

  width: 100%;

  background-color: #ccc;

  transition: transform $animation-speed;

  &:hover,
  &:active,
  &:focus {
    @media (min-width: $min-840) {
      transform: translateY(-#{$image-card-hover-movement});
    }
  }

  &__image {
    padding-top: 150%;

    width: 100%;

    background-size: cover;

    opacity: 1;
    transition: opacity $animation-speed-ui;

    &.is-visible {
      opacity: 1;
    }
  }

  &__content {
    position: absolute;

    left: 0;
    bottom: 0;
    right: 0;

    padding: 0 ($gutter / 3) ($gutter / 2);

    font-size: $font-size;
    color: #fff;
    text-align: center;

    background: linear-gradient(to top, rgba(0,0,0, .5) 0%, rgba(0,0,0, 0) 100%);

    @media (min-width: $min-480) {
      padding: 0 ($gutter / 2) ($gutter - 1);
    }

    @media (min-width: $min-720) {
      min-height: 14.5rem;
    }
  }

  &__number {
    $size: 2.7rem;

    display: inline-block;
    position: relative;

    margin-bottom: (($spacing / 2) + .5);

    width: $size;
    height: $size;

    font-family: $font-family-special;
    font-size: 1.4rem;
    line-height: $size;
    text-align: center;
    color: #3b444f;

    border-radius: .4rem;
    background: #fff;
    box-shadow: 0 .2rem .2rem rgba(0,0,0, .3);

    transform: rotate(45deg);
    backface-visibility: hidden;

    .num {
      display: block;
      transform: rotate(-45deg);
    }

    @media (min-width: $min-480) {
      $size: 3.7rem;

      margin-bottom: 2.1rem;

      width: $size;
      height: $size;

      line-height: $size;

      font-size: 2rem;
    }
  }

  &__title {
    margin-top: .6rem;
    font-size: 1.2rem;
    font-weight: 600;
    line-height: (18 / 12);
    text-transform: uppercase;
    overflow: hidden;

    @media (min-width: $min-480) {
      margin-top: 1.2rem;
      font-size: 1.4rem;
      line-height: (19 / 14);
      letter-spacing: .6px;
    }
  }

  &__subtitle {
    font-family: $font-family-special;
    font-style: italic;
    font-size: 1.2rem;
    line-height: 1;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100%;

    @media (min-width: $min-480) {
      font-size: 1.4rem;
    }
  }
}
