{{#with top_things_to_do}}
{{#if cards}}
<article id="ttd" class="ttd" data-lp-initial-cards="{{cards}}">
  <h2 class="ttd__heading">{{title}}</h2>

  <ul class="ttd__list">
  </ul>

  <div class="ttd__bottom">
    <a class="ttd__more" href="{{see_more_url}}">
      See More
      <span class="icon-chevron-right"></span>
    </a>
  </div>
</article>
{{/if}}
{{/with}}
