{{#with top_things_to_do}}
{{#if cards}}
<article class="ttd" data-lp-initial-cards="{{cards}}">
  <h2 class="ttd__heading">{{title}}</h2>

  <div class="js-ttd-list-container ttd__list">
    <ul class="js-ttd-list">
    </ul>
  </div>
</article>
{{/if}}
{{/with}}
