@import "../../../sass/webpack_deps";

.guidebook {
  @include clearfix;
  margin: 0 auto $gutter;

  @media (max-width: $max-1080) {
    text-align: center;
  }
}

.guidebook__info {
  position: relative;
  z-index: 5;

  @media (min-width: $min-1080) {
    float: right;
    width: 35%;
    margin-right: 3%;
  }
}

.guidebook__blurb {
  width: 90%;
  margin: 0 auto;
  font-size: 1.8rem;
  font-weight: $font-weight-medium;
  line-height: (32 / 18);

  @media (min-width: $min-1080) {
    width: 100%;
    max-width: 400px;
    margin-left: 0;
    margin-right: 0;
    font-size: 2rem;
    font-weight: 300;
    line-height: (36 / 20);
  }
}

.guidebook__button {
  margin-top: 5.3rem;
}

.guidebook__header {
  position: relative;
  z-index: 5;
  margin-bottom: $spacing;
  text-align: center;

  @media (min-width: $min-1080) {
    float: right;
    width: 43%;
    margin-top: 10%;
    padding-left: 5%;
    text-align: left;
  }
}

.guidebook__title {
  @include h1();
  margin: 0;
  padding: 0;
  line-height: 1;
  color: $color-red;
  font-size: 5rem;

  &:after {
    display: none;
  }

  @media (min-width: $min-1080) {
    max-width: 450px;
    line-height: 1;
  }

  @media (min-width: $min-1080) {
    padding-top: 0;
    text-align: left;
    color: $h2-secondary-color;

    &:after {
      display: none;
    }
  }
}

.guidebook__subtitle {
  margin: ($spacing / 2) 0 0;
  display: none;
  font-size: 20px;
  font-weight: 300;
  color: $ancillary-header-color;

  @media (min-width: $min-1080) {
    font-size: 28px;
    display: block;
  }
}

.guidebook__pictures {
  display: block;
  position: relative;
  width: 80%;
  margin: 2rem auto;
  text-align: center;

  @media (min-width: $min-720) {
    margin: 5rem auto;
  }

  @media (min-width: $min-960) {
    margin: 2rem auto;
  }

  @media (min-width: $min-1080) {
    width: 55%;
    float: left;
  }
}

.guidebook__picture {
  display: inline-block;
  width: 60%;
  font-size: 0;
  box-shadow: 2rem 1rem 6rem rgba(0, 0, 0, .4);
  background: $color-primary;
  backface-visibility: hidden;

  @media (min-width: $min-480) {
    width: 20rem;
  }

  @media (min-width: $min-560) {
    width: 25rem;
  }

  @media (min-width: $min-720) {
    width: 35rem;
  }
}

.guidebook__picture--primary {
  position: relative;
  z-index: 1;
  top: 0;
  transform: translate(3rem,0) rotateZ(1deg);

  @media (min-width: $min-560) {
    left: 50%;
    margin-left: (-25rem / 2);
  }

  @media (min-width: $min-720) {
    margin-left: (-35rem / 2);
  }

  .guidebook__pictures--single & {
    left: 0;
    margin-left: -5rem;
  }
}

.guidebook__picture--secondary {
  transform: translate(-11rem, -1rem) rotateZ(-19deg) scale(.8);

  @media (max-width: $max-560) {
    position: absolute;
    top: 2rem;
    left: 11rem;
  }
}

.guidebook__image {
  width: 100%;
  max-width: 465px;

  @media (min-width: $min-1080) {
    max-width: 100%;
  }
}
