@import "rizzo-next/sass/webpack_deps";

$mobile-breakpoint: 800;
$small-breakpoint: 500;

html.no-scroll {
  //overflow: hidden;
}

.top_places {
  $close-button-size: 7.2rem;

  position: fixed;
  z-index: 9999;

  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  box-shadow: 0 5px 50px rgba(0,0,0,.5);

  background: #fff;

  opacity: 0;
  transition: transform .4s, opacity .4s;
  transform: translateY(15%);

  @include respond-to($small-breakpoint) {
    top: auto;

    //transform: translateY(100%);
    //opacity: 1;
  }

  &--visible {
    transform: translateY(0);
    opacity: 1;
  }

  &__close {
    display: block;

    position: absolute;
    z-index: 10000;

    top: $gutter / 2;
    right: $gutter / 2;

    height: 4rem;
    width: 4rem;

    font-size: 2rem;
    line-height: 4rem;
    text-align: left;
    text-indent: -9999px;

    cursor: pointer;

    &:before {
      display: block;

      position: absolute;

      top: 0;
      left: 0;
      right: 0;
      bottom: 0;

      text-indent: 0;
      text-align: center;
    }

    @include respond-to($small-breakpoint) {
      z-index: 9998;
      top: 0;
      left: 50%;

      margin-left: (-$close-button-size / 2);

      width: $close-button-size;
      height: $close-button-size;

      font-size: 2.6rem;
      line-height: $close-button-size; //$close-button-size;
      text-align: center;

      border: none;
      border-radius: 50%;

      box-shadow: 0 22px 45px rgba(0,0,0, .75);
      background: #fff;

      user-select: none;

      transition: transform .4s 1s;
    }
  }

  &--visible &__close {
    @include respond-to($small-breakpoint) {
      transition: transform .4s .4s;
      transform: translateY(-($close-button-size + $gutter));
    }
  }

  &__content {
    position: absolute;
    z-index: 9999;

    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    margin: 0 auto;
    padding: ($gutter);

    max-width: 1290px;

    overflow-x: hidden;
    overflow-y: auto;

    background: #fff;

    @include respond-to($small-breakpoint) {
      position: relative;

      top: auto;
      left: auto;
      right: auto;
      bottom: auto;

      padding: ($gutter * 2);

      max-height: calc(100vh - #{($close-button-size + $gutter * 2)});
    }
  }
}

.top_places {
  &__wrap {
    margin: 0 (-$gutter);
  }

  &__section {
    float: left;

    padding: 0 $gutter;

    width: 100%;

    @include respond-to($mobile-breakpoint) {
      width: 50%;
    }
  }
}

.top_places--centered{
  .top_places__section{
    margin: 0 auto;
    float: none;
    width: 100%;
    @include respond-to($mobile-breakpoint) {
      width: 50%;
    }
  }
  .top_places__section__list__item__target--ancillary{
    display: none;
  }
}

.top_places__section__title{
  text-transform: uppercase;
  color: $sub-navigation-color;
  font-size: 13px;
  font-weight: bold;
  padding-bottom: 30px;
  border-bottom: 1px solid $sub-nav-border-color;
}
.top_places__section__list{
  list-style-type: none;
  font-size: 0;
  margin: 0;
  padding: 0;
  float: left;
  width: 100%;
}

.top_places__section__list--rest{
  @include respond-to($small-breakpoint) {
    width: 25%;
  }
  margin-top: 10px;
  .top_places__section__list__item{
    margin-bottom: 10px;
    &:before{
      color: $light-sub-nav-color;
      font-weight: bold;
    }
  }
  .top_places__section__list__item__target{
    position: absolute;
    left: 20px;
  }
}

.top_places__img{
  height: 100%;
  width: 100%;
}

.top_places__section__list--top3{
  counter-reset: step-counter;
  @include respond-to($small-breakpoint) {
    width: 75%;
  }
  .top_places__section__list__item__target{
    font-size: 15px;
    text-decoration: none;
    display: inline-block;
    vertical-align: middle;
    margin-left: 30px;
  }
  .top_places__section__list__item{
    margin: 10px 0;
    &:before{
      position: absolute;
      top: 50%;
      margin-top: -13px;
      left: 77px;
      width: 25px;
      height: 25px;
      z-index: 1;
      font-size: 15px;
    }
    &:after{
      content: "";
      position: absolute;
      top: 50%;
      margin-top: -13px;
      left: 67px;
      width: 25px;
      height: 25px;
      transform: rotate(45deg);
      box-shadow: 0 1px 5px rgba(0,0,0,.75);
      border-radius: 4px;
      background-color: #fff;
    }
  }
}
.top_places__section__list__item{
  position: relative;
  &:before{
    content: counter(step-counter);
    counter-increment: step-counter;
    font-size: 13px;
  }
}

%divider{
  border: 0;
  background-color: $sub-nav-border-color;
  height: 1px;
  width: 70%;
  margin-right: 45px;
  float: right;
}
.top_places__divider{
  @extend %divider;
}
.top_places__divider--last{
  @extend %divider;
  width: 105%;
  margin-right: -25%;
}

.top_places__section__list__item__target--ancillary{
  color: $light-sub-nav-color;
  display: block;
}
.top_places__section__list__item__target{
  font-size: 15px;
  color: $sub-navigation-color;
  font-weight: bold;
  font-size: 13px;
}

.top_places__placeholder{
  width: 80px;
  height: 55px;
  background-color: $lpblue;
  display: inline-block;
  vertical-align: middle;
}

.top_places__exit{
  z-index: 100;
  background-color: #fff;
  color: $body-color;
  position: absolute;
  bottom: 0px;
  left: 50%;
  top: -85px;
  min-width: 70px;
  text-align: center;
  font: {
    weight: 100;
    size: 50px;
  };
  cursor: pointer;
  width: 70px;
  margin-left: -35px;
  height: 70px;
  border-radius: 50%;
  border: none;
  box-shadow: 0 1rem 1rem rgba(0,0,0,.75);
  opacity: 1;
  &.is-hidden{
    opacity: 0;
  }
  @include respond-to($small-breakpoint) {
    top: -100px;
  }
}

.top_places__section__see-more{
  @include more();

  display: block;
  margin: 0 0 $gutter;
}
