@import "../../sass/webpack_deps";


.tlist {
  $height: 6rem;
  $image-width: 8rem;
  $item-spacing: 1rem;

  $total-height: ($height + $item-spacing) * 3;

  $size-width: 35%;

  position: relative;

  margin: 0 0 $spacing*2;

  text-align: left;

  counter-reset: tlist;

  &__heading {
    margin: 0 0 $spacing * 2;

    font-size: 1.3rem;
    font-weight: 600;
    text-transform: uppercase;
  }

  &__content {
    position: relative;

    margin: 0 0 $spacing*2;
    padding: 0;

    border-top: 1px solid #f4f7fc;

    @media (min-width: $min-360){
      padding: 0 $size-width 0 0;
    }
  }

  &__top {
    display: none;

    margin: 0;
    padding: $item-spacing $gutter 0 0;

    @media (min-width: $min-360){
      display: block;
    }
  }

  &__top-item {
    display: block;

    margin: 0 0 $item-spacing;
    padding: 0;

    list-style: none;
  }

  &__top-link {
    display: block;

    position: relative;

    padding: 0 0 0 $image-width + $gutter;

    height: $height;

    font-size: 1.8rem;
    color: $font-color;
    transition: color $animation-speed;

    &:hover {
      transition-duration: $animation-speed/4;
      color: $color-primary;
    }
  }

  &__number {
    $size: 2.7rem;

    position: absolute;

    top: 50%;
    left: $image-width - $size / 2;

    margin-top: -$size/2;

    width: $size;
    height: $size;

    font-family: $sans-serif;
    font-size: 1.4rem;
    color: $font-color;
    text-align: center;
    line-height: $size - .5rem;

    border-radius: .3rem;
    box-shadow: 0 .2rem .3rem rgba(0,0,0, .30);
    background: #fff;

    transform: rotate(45deg);

    &:before {
      display: block;

      counter-increment: tlist;
      content: counter(tlist);

      transform: rotate(-45deg);
    }
  }

  &__image {
    position: absolute;

    top: 0;
    left: 0;

    width: $image-width;
    height: $height;

    background: center no-repeat #333;
    background-size: cover;
  }

  &__title {
    padding: 1rem 0 0;

    line-height: ($height / 2) - 1rem;
    height: ($height / 2);
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;

    &:last-child {
      padding: 0;

      line-height: $height;
      height: $height - .1rem;

      border-bottom: .1rem solid #f4f7fc;
    }
  }

  &__subtitle {
    padding: 0 0 1rem;
    line-height: ($height / 2) - 1rem;
    height: ($height / 2);
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;

    font-size: 1.6rem;
    color: #cdd0d6;

    &:last-child {
      border-bottom: .1rem solid #f4f7fc;
    }
  }

  $bottom-line-height: ($total-height - .1rem - $item-spacing * 2) / 7;

  &__bottom {
    padding: $item-spacing 0 $item-spacing 3rem;

    font-size: 1.4rem;
    font-weight: 600;
    line-height: $bottom-line-height;

    border-bottom: .1rem solid #f4f7fc;

    @media (min-width: $min-360){
      position: absolute;

      top: 0;
      right: 0;
      bottom: 0;

      width: $size-width;
      height: $total-height - .1rem;
    }
  }

  &__bottom-item {
    position: relative;

    margin: 0;
    padding: 0;

    list-style: none;

    &:before {
      display: block;

      position: absolute;

      top: 0;
      left: -4rem;

      width: 3rem;
      text-align: right;

      font-family: $font-family-special;
      font-weight: 500;
      color: #a7a9ae;

      counter-increment: tlist;
      content: counter(tlist) ".";
    }

    &--top {
      display: block;

      @media (min-width: $min-360) {
        display: none;
      }
    }
  }

  &__bottom-link {
    position: relative;

    display: block;

    height: $bottom-line-height;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;

    color: #2b3642;

    transition: color $animation-speed;

    &:hover {
      transition-duration: $animation-speed/4;
      color: $color-primary;
    }
  }

  &__more {
    @include more();

    display: block;

    margin: 0 0 $spacing;
  }
}

.top_places {
  $close-button-size: 7.2rem;

  position: fixed;
  z-index: 9999;

  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  box-shadow: 0 5px 50px rgba(0,0,0,.5);

  background: #fff;

  opacity: 0;
  transition: transform .4s, opacity .4s;
  transform: translateY(15%);

  @media (min-width: $min-720) {
    top: auto;

    //transform: translateY(100%);
    //opacity: 1;
  }

  &--visible {
    transform: translateY(0);
    opacity: 1;
  }

  &__close {
    display: block;

    position: absolute;
    z-index: 10000;

    top: $gutter / 2;
    right: $gutter / 2;

    height: 4rem;
    width: 4rem;

    font-size: 2rem;
    line-height: 4rem;
    text-align: left;
    text-indent: -9999px;

    cursor: pointer;

    &:before {
      display: block;

      position: absolute;

      top: 0;
      left: 0;
      right: 0;
      bottom: 0;

      text-indent: 0;
      text-align: center;
    }

    @media (min-width: $min-720) {
      z-index: 9998;
      top: 0;
      left: 50%;

      margin-left: (-$close-button-size / 2);

      width: $close-button-size;
      height: $close-button-size;

      font-size: 2.6rem;
      line-height: $close-button-size; //$close-button-size;
      text-align: center;

      border: none;
      border-radius: 50%;

      box-shadow: 0 22px 45px rgba(0,0,0, .75);
      background: #fff;

      user-select: none;

      transition: transform .4s 1s;
    }
  }

  &--visible &__close {
    @media (min-width: $min-720) {
      transition: transform .4s .4s;
      transform: translateY(-($close-button-size + $gutter));
    }
  }

  &__content {
    position: absolute;
    z-index: 9999;

    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    margin: 0 auto;
    padding: $gutter $gutter 0;

    max-width: 1290px;

    overflow-x: hidden;
    overflow-y: auto;

    background: #fff;

    @media (min-width: $min-720) {
      position: relative;

      top: auto;
      left: auto;
      right: auto;
      bottom: auto;

      padding: ($gutter*2) $gutter*2 $gutter;

      max-height: calc(100vh - #{($close-button-size + $gutter * 2)});
    }
  }

  &__wrap {
    font-size: 0;
    text-align: center;

    @media (min-width: $min-960) {
      margin: 0 -$gutter/2;
    }
  }

  &__spacer {
    display: inline-block;

    margin-bottom: $gutter;

    max-width: 65rem;
    width: 100%;

    &:last-child:first-child {

    }

    @media (min-width: $min-960) {
      margin: 0;
      padding: 0 $gutter/2;

      width: 50%;
    }
  }
}
