{{!--

  # lp-logo

  Primary logo for LP.com that links to the home page

  - `modifier`: a classname to extend the logo and change its appearence ["lp-logo--blue"]
  - `implementation`: a classname to provide implementation detail, such as positioning and margin ["in-global-header"]

--}}

<a class="lp-logo{{#if modifier}} {{modifier}}{{/if}}{{#if implementation}} {{implementation}}{{/if}}" href="/">
  <svg viewBox="0 0 142 72" aria-label="Lonely Planet">
    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#lp-icon-logo"></use>
  </svg>
</a>
