@import "../../../sass/webpack_deps";

$small-breakpoint: 600;
$mobile-breakpoint: 717;
$tablet-breakpoint: 1025;
$fad-color: #b2b4b8;
$fad-column-width: (100% / 3);
$item-border-color: #f1f4fb;

.food-and-drink {
  position: relative;
  margin-bottom: $spacing;
  font-weight: $medium;

  &__heading {
    @include h1();
  }

  &__image {
    display: none;

    @media (min-width: $min-480) {
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      width: $fad-column-width;
      margin-top: auto;
      margin-bottom: auto;
    }
  }

  &__image + &__inner {
    @media (min-width: $min-480) {
      margin-bottom: ($spacing * 4);
      margin-left: $fad-column-width;
      padding-left: $gutter;
    }
  }

  &__list {
    position: relative;
    margin-bottom: ($spacing * 4);
    list-style: none;

    @media (min-width: $min-960) {
      overflow: hidden;
      column-count: 2;
      column-gap: $gutter;
    }
  }

  &__item {
    display: block;
    break-inside: avoid-column;
    border-bottom: .1rem solid $item-border-color;

    &:first-child,
    &:nth-child(6) {
      border-top: .1rem solid $item-border-color;
    }

    @media (max-width: $max-960) {
      &:nth-last-child(-n+5) {
        display: none;
      }
    }

    a {
     display: block;
     padding-top: 2.1rem;
     padding-bottom: 1.8rem;
     transition: transform $animation-speed;
     backface-visibility: hidden; // Fix hidden content bug in Chrome, FF, Opera
     transform: scale(1); // Fix hidden content bug in Safari
    }

    &:hover a {
     transform: translateX(1rem);
    }
  }


  &__title {
    @include link-transition();
    font-size: 1.4rem;
    font-weight: 700;
    color: $color-darkblue;
    line-height: 1;
  }

  &__item:hover &__title {
    color: $color-primary;
  }

  &__categories {
    margin-top: .4rem;
    font-size: 1.1rem;
    font-weight: 700;
    color: $fad-color;
    line-height: 1;
    text-transform: uppercase;
  }

  &__button-container {
    text-align: center;
  }

  &__more {
    @include more();
  }
}
