@import "../../../sass/webpack_deps";


$small-breakpoint: 600;
$mobile-breakpoint: 717;
$tablet-breakpoint: 1025;
$fad-gutter: 20px;
$fad-color: #b2b4b8;

.food-and-drink {
  position: relative;

  margin: 0 0 $spacing;

  font-weight: $medium;
  color: $fad-color;

  //outline: 1px dashed #000;

  &__heading {
    @include h1();
  }

  &__image {
    display: none;
    position: absolute;

    top: 0;
    left: 0;
    bottom: 0;

    width: (100%/3);

    z-index: -1;

    background: right center url(https://assets.staticlp.com/destinations-next/images/food-and-drink-default@1x.jpg) no-repeat;
    background-size: contain;

    @media (-webkit-min-device-pixel-ratio: 1.3), (-o-min-device-pixel-ratio: 2.6 / 2), (min--moz-device-pixel-ratio: 1.3), (min-device-pixel-ratio: 1.3), (min-resolution: 1.3dppx) {
      background-image: url(https://assets.staticlp.com/destinations-next/images/food-and-drink-default@2x.jpg);
    }
  }

  &__inner {
    margin: 0;
  }

  &__list {
    position: relative;

    margin: 0 0 $spacing*4;
    padding: 0;

    list-style: none;
  }

  &__item {
    display: block;

    margin: 0;
    padding: $spacing 0; //$spacing*1.5;

    list-style: none;

    break-inside: avoid-column;

    border-bottom: .1rem solid #eeeef0;

    &:first-child,
    &:nth-child(6) {
      border-top: .1rem solid #eeeef0;
    }

    @media (max-width: $max-960) {
      &:nth-last-child(-n+5) {
        display: none;
      }
    }

    //a {
    //  display: block;
    //
    //  transition: transform $animation-speed;
    //}
    //
    //&:hover a {
    //  transform: translateX(1rem);
    //}
  }


  &__title {
    margin: 0 0 .8rem;

    font-size: 1.6rem;
    font-weight: 700;
    color: $font-color;
    line-height: 1;

    @include link-transition();
  }

  &__item:hover &__title {
    color: $color-primary;
  }

  &__categories {
    margin: 0 0 0;

    font-size: 1.2rem;
    font-weight: 600;
    color: #b9bec1;
    line-height: 1;
    text-transform: uppercase;
  }

  &__button-container {
    text-align: center;
  }

  &__more {
    @include more();
  }

  @media (min-width: $min-480) {
    &__inner {
      margin: 0 0 $spacing*4 (100%/3);
      padding: 0 0 0 $gutter;
    }

    &__image {
      display: block;
    }
  }

  @media (min-width: $min-960) {
    &__list {
      overflow: hidden;

      column-count: 2;
      column-gap: $gutter;
    }
  }
}
