@import "../../../sass/webpack_deps";

$mobile-breakpoint: 720;
$small-breakpoint: 320;

.love-letter__heading {
  @include h1(3.1rem);

  [class*="icon-"] {
    color: #f01516;
    display: inline-block;
    font-size: 0;
    transform-origin: 50% 60%;

    &::before {
      font-size: 1.6rem;

      @media (min-width: $min-720) {
        font-size: 2.8rem;
      }
    }
  }

  &:hover [class*="icon-"] {
    animation: heartbeat 3000ms infinite;
  }
}

.love-letter__text {
  color: #67747d;
  font-family: $benton-sans;
  font-size: $font-size;
  font-style: italic;
  line-height: 1.8;
  margin: 0 auto 5.5rem;
  text-align: center;

  @media (min-width: $min-480) {
    font-size: 2rem;
    max-width: 86%;
  }
}

.love-letter__more {
  @include more();
  display: inline-block;
  font-style: normal;
}

.love-letter__author {
  font-size: 1.4rem;
  letter-spacing: .01rem;
  text-align: center;

  a {
    display: inline-block;
  }
}

.love-letter__author__image {
  @include author-image($mobile-breakpoint);
  transform: scale(1);
  transition: transform $animation-speed;

  .love-letter__author a:hover &,
  .love-letter__author a:focus & {
    transform: scale(1.1);
  }
}

.love-letter__author__creds {
  @include author-creds($mobile-breakpoint);
}

.love-letter__author__creds__name {
  @include author-name($small-breakpoint);
}

.love-letter__author__creds__title {
  @include author-title($small-breakpoint);
}
