@import "../../../sass/webpack_deps";

$mobile-breakpoint: 717;
$small-breakpoint: 320;

@keyframes heartbeat {
  0%  { transform: scale(1);   }
  5%  { transform: scale(1.3); }
  10% { transform: scale(1);   }
  15% { transform: scale(1.3); }
  20% { transform: scale(1);   }
}

.love-letter {
  &__heading {
    @include h1(3.1rem);

    [class*="icon-"] {
      display: inline-block;
      font-size: 0;

      color: #f01516;

      transform-origin: 50% 60%;

      &:before {
        font-size: 1.6rem;

        @media (min-width: $min-720) {
          font-size: 2.8rem;
        }
      }
    }

    &:hover [class*="icon-"] {
      animation: heartbeat 3s infinite;
    }
  }

  &__text {
    margin: 0 auto 5.5rem;  
    font-family: $font-family-special;
    font-style: italic;
    font-size: $font-size;
    font-weight: 300;
    color: #67747d;
    text-align: center;
    line-height: 1.8;

    @media (min-width: $min-480) {
      font-size: 2rem;

      max-width: 86%;
    }
  }

  &__more {
    @include more();

    text-transform: uppercase;
    font-family: $font-family;
    font-style: normal;
  }
}

.love-letter__author {
  font-size: 1.4rem;
  letter-spacing: 1px;
  margin: 0 auto;
  text-align: center;
  width: 93%;

  @include respond-to($mobile-breakpoint) {
    text-align: center;
  }

  a {
    display: inline-block;

    &:hover,
    &:focus {
      .love-letter__author__image {
        transform: scale(1.1);
      }
    }
  }
}

.love-letter__author__image {
  @include author-image($mobile-breakpoint);
  transition: transform $animation-speed;
  transform: scale(1);
}

.love-letter__author__creds {
  @include author-creds($mobile-breakpoint);
}

.love-letter__author__creds__name {
  @include author-name($small-breakpoint);
}

.love-letter__author__creds__title {
  @include author-title($small-breakpoint);
}
