@import "../../../sass/webpack_deps";

.mobile-navigation {
  background-color: #fff;
  bottom: 0;
  height: 100vh;
  max-width: 75vw;
  overflow: hidden;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  padding: $gutter;
  position: fixed;
  right: 0;
  top: 0;
  width: 25rem;
  z-index: 10000;

  &,
  &__list {
    opacity: 0;
    transform: translateX(30%);
    transition: transform ($animation-speed / 2), opacity ($animation-speed / 2);
  }

  &--visible,
  &--visible &__list {
    opacity: 1;
    transform: translateX(0);
  }

  &__close {
    $size: 5rem;
    color: $font-color;
    cursor: pointer;
    display: none;
    height: $size;
    line-height: $size;
    position: absolute;
    right: 1.5rem;
    text-align: center;
    text-indent: -9999px;
    top: 1.5rem;
    width: $size;

    &:before {
      bottom: 0;
      left: 0;
      position: absolute;
      right: 0;
      text-indent: 0;
      top: 0;
    }
  }

  &__list {
    transition: transform $animation-speed ($animation-speed / 4), opacity $animation-speed ($animation-speed / 4);
  }

  &__item {
    border-bottom: .1rem solid #e4e4e4;
    position: relative;

    // Search
    &:first-child {
      display: none;
    }

    &:last-child {
      border-bottom: 0;
    }

    &--active > .mobile-navigation__link {
      color: $color-primary;
    }

    .icon {
      float: right;
      height: 1.3rem;
      margin-top: .6rem;
      transition: transform $animation-speed linear;
      width: 1.3rem;
    }

    &.clicked .icon {
      transform: rotateZ(180deg);
    }
  }

  &__link {
    color: $font-color;
    display: block;
    padding: ($spacing + .1) 0 ($spacing - .4);
    position: relative;
  }
}
