@import "../../../sass/webpack_deps";

.navigation {
  font-size: 0;
  line-height: $header-height;

  user-select: none;

  &__list,
  &__item {
    margin: 0;
    padding: 0;

    list-style: none;
  }

  &__item {
    position: relative;

    display: inline-block;

    margin-left: $gutter / 3;

    &:not(:last-child) {
      margin-right: ($gutter / 3);
    }

    &:first-child {
      display: none;

      @media (min-width: $min-720) and (max-width: $max-1080) {
        display: inline-block;
      }
    }

    &--active {
      height: $header-height;
      border-bottom: .4rem solid #fff;
    }

    &--user > a {
      @include buttonBorder;
      line-height: 0;

      &.avatar {
        padding: 0;
        border: none;
      }

      .navigation--narrow & {
        @include buttonBorder($font-color)

        &:hover {
          border-color: $color-primary;
        }

        &.avatar {
          padding: 0;
          border: none;
        }
      }
    }
  }

  .navigation--narrow &__item--active {
    border-bottom-color: transparent;
  }

  &__link {
    display: block;

    padding: 0 $gutter / 4;

    font-size: 1.4rem;
    font-weight: 600;
    color: #fff;

    transition: color $animation-speed;

    &:hover {
      color: #eee;
      transition: color $animation-speed / 3;
    }
  }

  .navigation--narrow &__link {
    color: $font-color;

    &:hover {
      color: $color-primary;
    }
  }

  .navigation--narrow &__item--active &__link {
    color: $color-primary;
  }

  &__counter {
    $size: 1.7rem;

    position: absolute;

    top: 50%;
    right: -($size / 3);

    margin-top: -($size);

    width: $size;
    height: $size;

    font-family: $font-family;
    font-size: 1.3rem;
    font-weight: 600;
    color: #fff;
    text-align: center;
    text-indent: 0;
    line-height: 13px;

    border-radius: 50%;

    background: #dc221a;
    box-shadow: 0 .1rem .2rem rgba(0,0,0, .2);

    user-select: none;
  }
}
