<a class="backpack-AvatarMarker {{className}}" href="{{user.publicProfileLink}}">
  <img class="backpack-AvatarMarker-avatar" src="{{user.avatar}}" alt="">
  <span class="backpack-AvatarMarker-name">{{user.username}}</span>
</a>
