<a class="backpack-AvatarMarker {{className}}" href="//www.lonelyplanet.com/thorntree/profiles/{{user.profileSlug}}">
  <img class="backpack-AvatarMarker-avatar" src="{{user.avatar}}" alt="">
  <span class="backpack-AvatarMarker-name">{{user.username}}</span>
</a>
