<li
  class="js-nav-item mobile-navigation__item mobile-navigation__item--thorn-tree"
  data-lpa-category="Destinations Next"
  data-lpa-action="Mobile Global Navigation Click"
  data-lpa-label="Thorn Tree">
  <a
    class="mobile-navigation__link"
    href="https://www.lonelyplanet.com/thorntree/dashboard">
    Thorn Tree
  </a>
</li>
