<a class="mobile-navigation__link" href="#">
  {{#if user.notification_count}}
    <span class="notification-badge__wrap">
      Profile
      <span class="notification-badge notification-badge--user-inline" aria-label="Unread notifications"></span>
    </span>
  {{else}}
    Profile
  {{/if}}

  <i class="icon icon--chevron-down" aria-hidden="true"></i>
</a>
