<div class="{{className}}">
  <ul class="sub-navigation__list">
    <li class="sub-navigation__item">
      <a class="sub-navigation__link" href="//www.lonelyplanet.com/thorntree/profiles/{{user.profileSlug}}">Profile</a>
    </li>

    <li class="sub-navigation__item">
      <a class="sub-navigation__link" href="http://www.lonelyplanet.com/thorntree">Thorn Tree</a>
    </li>

    <li class="sub-navigation__item">
      <a class="sub-navigation__link" href="//www.lonelyplanet.com/thorntree/messages">
        {{#if user.unread_message_count}}
          <span class="notification-badge__wrap">
            Messages
            <span class="notification-badge notification-badge--user-inline" aria-label="Unread messages"></span>
          </span>
        {{else}}
          Messages
        {{/if}}
      </a>

    </li>

    <li class="sub-navigation__item">
      <a class="sub-navigation__link" href="//www.lonelyplanet.com/thorntree/profiles/{{user.profileSlug}}/activities">Activity</a>
    </li>

    <li class="sub-navigation__item">
      <a class="sub-navigation__link" href="//auth.lonelyplanet.com/users/sign_out">Sign Out</a>
    </li>
  </ul>
</div>
