<a class="avatar avatar--navigation" href="#">
  {{#if user.notification_count}}
    <span class="notification-badge notification-badge--user" aria-label="Unread notifications"></span>
  {{/if}}

  <img src="{{user.avatar}}" alt="{{user.username}} avatar">
</a>
