@import "../../../sass/webpack_deps";


$mobile-breakpoint: 717;
$small-breakpoint: 320;

@keyframes heartbeat {
  0%  { transform: scale(1);   }
  5% { transform: scale(1.3); }
  10% { transform: scale(1);   }
  15% { transform: scale(1.3); }
  20% { transform: scale(1);   }
}

.intro-narrative {
  &__heading {
    @include h1();

    [class*="icon-"] {
      display: inline-block;
      font-size: 0;

      color: #f01516;

      transform-origin: 50% 60%;

      &:before {
        font-size: 1.6rem;

        @media (min-width: $min-720) {
          font-size: 2.8rem;
        }
      }
    }

    &:hover [class*="icon-"] {
      animation: heartbeat 3s infinite;
    }
  }

  &__text {
    margin: 0 auto 3rem;

    font-style: italic;
    font-size: $font-size;
    color: #67747d;
    text-align: center;
    line-height: 1.8;

    @media (min-width: $min-480) {
      font-size: 2.1rem;

      max-width: 80%;
    }

    //@include p-props($mobile-breakpoint);
    @include respond-to($mobile-breakpoint) {

      //max-width: 790px;
    }
  }

  &__more {
    @include more();

    text-transform: uppercase;
    font-style: normal;
  }
}


.intro-narrative__author {
  font-size: 14px;
  letter-spacing: 1px;
  margin: 0 auto;
  width: 93%;

  @include respond-to($mobile-breakpoint) {
    text-align: center;
  }
}

.intro-narrative__author__image {
  @include author-image($mobile-breakpoint);
  margin-right: 0px;
}

.intro-narrative__author__creds {
  @include author-creds($mobile-breakpoint);
}

.intro-narrative__author__creds__name {
  @include author-name($small-breakpoint);
}

.intro-narrative__author__creds__title {
  @include author-title($small-breakpoint);
}
