@import "../../../../sass/webpack_deps";

.search-item {
  $height: 6rem;
  position: relative;
  margin-bottom: 1rem;
  line-height: $height;
  cursor: pointer;
  transition: background-color ($animation-speed / 2);

  &:hover,
  &:active,
  &:focus {
    .search-item__name {
      transform: translateX($spacing / 2);
    }
  }

  &--selected {
    background-color: #f4f5f8;
  }

  &__link {
    display: block;
    position: relative;
    padding-left: (8rem + $gutter);
  }

  &__name {
    font-size: $font-size;
    font-weight: 300;
    color: $color-darkblue;
    border-bottom: .1rem solid #f1f4fb;
    transition: transform $animation-speed;
    backface-visibility: hidden;

    @media (min-width: $min-720) {
      font-size: 2.2rem;
    }

    .is-highlight {
      color: $font-color;
    }
  }

  &--selected &__name {
    transform: translateX($spacing / 2);
  }
}
