@import "../../../../sass/webpack_deps";


.search-item {
  $height: 6rem;

  position: relative;

  margin: 0 0 1rem 0;
  padding: 0 0 0 (8rem + $gutter);

  line-height: $height;

  list-style: none;

  cursor: pointer;

  transition: background $animation-speed / 2;

  &:hover {
    background: #f1f4fb;
  }

  &--selected {
    background: #f1f4fb;
  }

  &__name {
    font-size: $font-size;
    color: #ccc;

    border-bottom: .1rem solid #f1f4fb;

    transition: transform $animation-speed;

    .is-highlight {
      color: $font-color;
    }

    @media (min-width: $min-720) {
      font-size: 2.4rem;
    }
  }

  &--selected &__name {
    transform: translateX($spacing / 2);
  }
}


