@import "../../../sass/webpack_deps";

$tablet-breakpoint: 700;
$mobile-breakpoint: 400;

.survival-guide {
  font-weight: $medium;
  text-align: center;

  &__heading {
    @include h1(3.8rem);
  }

  &__list {
    margin: 0 auto 2.5rem;
  }

  &__link {
    display: block;
    color: $body-color;

    &:hover,
    &:focus {
      .survival-guide__icon {
        transform: translateY(-.5rem);
      }

      .survival-guide__title {
        color: $color-primary;
      }
    }
  }

  &__item {
    display: inline-block;
    width: 100%;
    text-align: center;
    vertical-align: top;

    @include respond-to($mobile-breakpoint - 1, 'max') {
      margin-top: 4.5rem;

      &:first-child {
        margin-top: 0;
      }
    }

    @include respond-to($mobile-breakpoint) {
      width: 45%;
    }

    @include respond-to($tablet-breakpoint) {
      width: 23%;
    }

    &:nth-child(-n+2) {
      @media only screen and (min-width: $mobile-breakpoint + 'px') and (max-width: $tablet-breakpoint - 1px) {
        margin-bottom: 4.5rem;
      }
    }
  }

  &__icon {
    display: block;
    width: 60px;
    height: 60px;
    margin: 0 auto;
    transition: transform $animation-speed;

    @include respond-to($mobile-breakpoint) {
      width: 80px;
      height: 80px;
    }
  }

  &__title {
    font-size: 1.8rem;
    font-weight: 700;
    line-height: 1;
    margin-top: 2rem;
    transition: color $animation-speed;

    @include respond-to($mobile-breakpoint) {
      margin-top: 2.8rem;
    }
  }

  &__blurb {
    width: 90%;
    margin: .5rem auto 0;
    font-size: 1.6rem;
    line-height: 1.2;
    color: $light-text-color;

    @include respond-to($mobile-breakpoint) {
      margin-top: .9rem;
    }
  }

  &__button-container {
    @include see-more-link;
  }

  &__more {
    @include see-more();
  }
}
