<div class="js-action-sheet">
  <div class="social-share__container js-action-sheet-item">
    <button class="social-share__control social-share__control--no-menu social-share__control--big social-share__control__facebook js-action-sheet-share-control" data-network="facebook">
      <svg class="svg-icon svg-icon--small svg-icon--inline">
        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#lp-icon-facebook"></use>
      </svg>
    </button>
    <button class="social-share__control social-share__control--no-menu social-share__control--big social-share__control__twitter js-action-sheet-share-control" data-network="twitter">
      <svg class="svg-icon svg-icon--small svg-icon--inline">
        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#lp-icon-twitter"></use>
      </svg>
    </button>
    <button class="social-share__control social-share__control--no-menu social-share__control--big social-share__control__facebook-messenger js-action-sheet-share-control" data-network="facebook-messenger">
      <svg class="svg-icon svg-icon--small svg-icon--inline">
        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#lp-icon-facebook-messenger"></use>
      </svg>
    </button>
    <button class="social-share__control social-share__control--no-menu social-share__control--big social-share__control__pinterest js-action-sheet-share-control" data-network="pinterest">
      <svg class="svg-icon svg-icon--small svg-icon--inline">
        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#lp-icon-pinterest"></use>
      </svg>
    </button>
  </div>
</div>