<section class="modal{{#if centered}} modal{{ centered }}{{/if}}">

  <button class="modal__close icon-close-small" type="button">Close</button>

  <div class="modal__content">
    <div class="modal__wrap">
      {{!-- ebook --}}
      {{#if ebook }}
      {{> "components/modal/ebook/ebook" }}

      {{/if}}

    </div>
    {{#if ebook }}
      <div class="ebook__modal__terms">
        {{{ebook.terms}}}
      </div>
    {{/if}}
  </div>
</section>
