@import "../../../sass/webpack_deps";

$mobile-breakpoint: $min-480;
$tours-image-width: 19rem;
$tours-image-width-mobile: 7rem;
$tours-width-base: 52rem * 2 + $gutter;
$tours-container-width: $tours-width-base / $max-width * 100%;
$tours-width: 52rem / $tours-width-base * 100%;

.tours {
  @include clearfix;
  margin: 0 auto $gutter;
}

.tours__heading {
  @include h1();
}

.tours__list {
  @include clearfix;
  display: flex;
  flex-flow: row wrap;
  margin: 0 auto;
  width: $tours-container-width;


  @media (min-width: $min-1290) {
    text-align: center;

  }
}

.tours__title {
  @media (min-width: $min-1080) {
    margin-bottom: 6.5rem;
  }
}

.tour {
  display: block;
  position: relative;
  margin: 0 auto ($gutter * 1);
  padding-left: $tours-image-width-mobile + $gutter;
  max-width: 50rem + $gutter * 2;
  min-height: 10rem;
  text-align: left;
  vertical-align: top;

  @media (min-width: $min-480) {
    padding-left: $tours-image-width + $gutter;
    min-height: 14rem;
  }

  @media (min-width: $min-960) {
    display: inline-block;
    margin: 0 0 ($gutter * 2);
    width: 50%;
    max-width: none;
    float: left;
  }

  @media (min-width: $min-1290) {
    float: none;
    width: $tours-width;
  }

  &:nth-child(even) {
    @media (min-width: $min-1290) {
      margin-left: 100% - ($tours-width * 2);
    }
  }
}

.tour__imagery,
.tour__description {
  font-size: $font-size;
}

.tour__imagery {
  position: absolute;
  top: 0;
  left: 0;
  width: $tours-image-width-mobile;

  @media (min-width: $min-480) {
    width: $tours-image-width;
  }

  @media (min-width: $min-960) {
    left: $gutter;
  }
}

.tour__description {
  font-weight: $medium;
  color: $tours-title-color;

  @media (min-width: $min-960) {
    margin-left: $gutter;
  }
}

.tour__imagery__caption {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding-bottom: .3rem;
  margin-top: -.3rem;

  @media (max-width: $max-480) {
    position: absolute;
  }

  @media (min-width: $min-480) {
    border-bottom: .1rem solid $divider-color;
    margin-top: .3rem;
    color: $tours-type-color;
  }
}

.tour__imagery__image {
  width: $tours-image-width-mobile;
  height: $tours-image-width-mobile + .7rem;
  background-position: center center;
  background-size: cover;

  @media (min-width: $min-480) {
    width: 19rem;
    height: 10rem;
  }
}

.tour__imagery__caption__price {
  display: inline-block;
  min-width: $tours-image-width-mobile;
  margin-right: $gutter - .5rem;
  padding: .5rem .8rem .4rem;
  font-size: 1.2rem;
  font-weight: $semibold;
  line-height: 1;
  background-color: $tours-price-background;
  text-align: center;
  color: #fff;
  vertical-align: middle;

  @media (min-width: $min-480) {
    min-width: 5rem;
    margin-right: .5rem;
  }
}

.tour__imagery__caption__type {
  font-size: 1.1rem;
  font-weight: $semibold;
  text-transform: uppercase;
  color: $tours-title-color;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  display: inline;

  @media (min-width: $min-480) {
    color: $tours-type-color;
  }
}

.tour__description__title {
  margin: {
    top: -.2rem;
    bottom: .5rem;
  }
  font-size: 1.7rem;
  line-height: 1.1;

  @media (min-width: $min-480) {
    font-size: 1.8rem;
    line-height: (24 / 18);
  }
}

.tour__description__blurb {
  font-size: 1.3rem;
  line-height: 1.4;
  color: $tours-blurb-color;

  @media (min-width: $min-480) {
    font-size: 1.4rem;
    line-height: (24 / 16);
  }
}

// IE9 can't use Clamp.js, so we have to force it to hide the paragraph at a specific height
.ie9 .tour__description__blurb {
  height: 5.5rem;
  overflow: hidden;

  @media (min-width: $min-480) {
    height: 7.4rem;
  }
}

.tours__button-container {
  @include see-more-link;
}

.tours__more {
  @include see-more();
}
