@import "rizzo-next/sass/webpack_deps";
$mobile-breakpoint: 717;
$tablet-breakpoint: 1025;
$small-breakpoint: 320;

.articles {
  width: 92%;
  margin: 0 auto $gutter;

  &__heading {
    @include h1();
  }
}

.articles__title {
  @include respond-to($mobile-breakpoint) {
    &:after {
      margin-bottom: 34px;
    }
  }
  @include respond-to($tablet-breakpoint) {
    &:after {
      margin-bottom: 100px;
    }
  }
}

.articles__list {
  max-width: 850px;
  margin: 0 auto;
}

.article {
  margin-bottom: 30px;
  padding-bottom: 30px;

  @include divider;
  @include clearfix;
  @include respond-to($tablet-breakpoint) {
    padding: {
      top: 32px;
      bottom: 60px;
    }
  }

  &:last-child {
    margin-bottom: 0;
    border-bottom: 0 none;
  }

  &:first-child {
    padding-top: 0;
  }
}

.article__imagery {
  display: none;
  float: right;
}

.article__info,
.article__imagery {
  @include respond-to($mobile-breakpoint) {
    display: inline-block;
    vertical-align: top;
  }
}

.article__info {
  float: left;

  @include respond-to($mobile-breakpoint) {
    width: calc(98% - 189px);
    padding-right: 40px;
  }
}

.article__imagery {
  width: 189px;
  height: 271px;
  background: {
    position: center center;

    size: cover;
  }
}

.article__info__title {
  margin-bottom: 14px;
  line-height: 1.25;

  @include h3-props($mobile-breakpoint);
}

.article__info__teaser {
  margin-bottom: 13px;
  line-height: 1.3;

  @include h4-props($mobile-breakpoint);
}

.article__info__blurb {
  margin-bottom: 22px;

  @include h5-props($mobile-breakpoint);
}

.article__info__author {
  margin-bottom: 14px;
}

.article__info__author__image {
  @include author-image(9999999); // massive number here because we don't want it resizing ever
}

.article__info__author__creds {
  display: inline-block;
  vertical-align: middle;
}

.article__info__author__creds__name {
  @include author-name($small-breakpoint);
}

.article__info__author__creds__title {
  @include author-title($small-breakpoint);
}

.articles__button-container {
  //@include see-more-link;
  text-align: center;
}

.articles__more {
  @include see-more();
}
