<div class='location--image'>
  <img data-src='http://localhost:8080/images/{{image}}' alt='placeholder images' />
</div>
<div class='location--details'>
  <div class='location--header'>
    <h2 class='location--title'>{{name}}</h2>
  </div>
</div>
<div class="location--index">{{@index}}</div>
