.poi {
  background-color: #fff;
  border: .35rem solid $pin-color;
  border-radius: 50%;
  height: 1.4rem !important; // override inline mapbox style
  width: 1.4rem !important; // override inline mapbox style
  display: block;
}
