@import "../../../sass/webpack_deps";

.lp-global-header {
  position: relative;
  z-index: z("global-header");

  &--narrow {
    background-color: #fff;
  }

  &--normal {
    background: linear-gradient(to bottom, rgba(#000, .2), rgba(#000, 0));
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    z-index: z("global-header");
  }

  &__container {
    @include container-padded();
  }

  &__inner {
    border-bottom: .1rem solid rgba(#fff, .3);
    height: $header-height-mobile;
    perspective: 800px;
    position: relative;

    @media (min-width: $min-720) {
      height: $header-height;
    }
  }

  &--narrow &__inner {
    border-bottom-color: transparent;
  }

  &--no-images.lp-global-header--narrow &__inner {
    border-bottom-color: $color-border;
  }

  &__search {
    display: none;

    @media (min-width: $min-1080) {
      background-color: transparent;
      border: 0;
      color: rgba(#fff, .38);
      cursor: pointer;
      display: block;
      font-size: 2.4rem;
      font-weight: 100;
      height: $header-height;
      left: 0;
      line-height: $header-height;
      margin-top: (-$header-height / 2);
      overflow: hidden;
      padding: 0;
      position: absolute;
      text-align: left;
      text-overflow: ellipsis;
      top: 50%;
      user-select: none;
      white-space: nowrap;
      width: percentage(447px / 1155px); // So it doesn't get too close to the logo
    }

    @media (min-width: $min-1290) {
      text-align: center;
      width: auto;
    }

    &--fade {
      -webkit-mask-image: -webkit-gradient(linear, 70% 0, 100% 0, from(rgba(#000, 1)), to(rgba(#000, 0)));
      width: 42%;
    }

    [class*="icon-"] {
      color: #fff;
      font-size: 2rem;
      margin-right: 1.2rem;
      transition: margin $animation-speed;
    }

    &:hover,
    &:active,
    &:focus {
      [class*="icon-"] {
        margin-right: (1.2rem - .3);
      }
    }

    &:focus {
      outline: 0;
    }
  }

  &__search-text {
    color: #fff;
    transition: color $animation-speed;
  }

  &__search:hover &__search-text,
  &__search:active &__search-text,
  &__search:focus &__search-text {
    color: rgba(#fff, .38);
  }

  &--narrow &__search,
  &--narrow &__search:hover &__search-text,
  &--narrow &__search:active &__search-text,
  &--narrow &__search:focus &__search-text {
    color: rgba($body-color, .38);
  }

  &--narrow &__search [class*="icon-"],
  &--narrow &__search-text {
    color: $body-color;
  }

  &__navigation {
    bottom: 0;
    display: none;
    position: absolute;
    right: 0;
    top: 0;
    z-index: z("default");

    @media (min-width: $min-720) {
      display: block;
    }
  }

  &__mobile {
    bottom: 0;
    position: absolute;
    right: (-$gutter / 2);
    top: 0;
    transition: opacity $animation-speed;

    &--left {
      left: (-$gutter / 2);
      right: auto;
    }

    &--hidden {
      opacity: 0;
      pointer-events: 0;
    }

    @media (min-width: $min-720) {
      display: none;
    }
  }

  &__mobile-search,
  &__mobile-menu,
  &__mobile-cart {
    background: transparent;
    border: 0;
    color: #fff;
    cursor: pointer;
    display: block;
    line-height: $header-height-mobile;
    padding: 0;
    position: relative;
    text-indent: -9999rem;
    user-select: none;

    &::before {
      bottom: 0;
      display: block;
      font-size: 2.3rem;
      left: 0;
      position: absolute;
      right: 0;
      text-align: center;
      text-indent: 0;
      top: 0;
    }
  }

  &--narrow &__mobile-search,
  &--narrow &__mobile-menu,
  &--narrow &__mobile-cart {
    color: $body-color;
  }

  &__mobile-search {
    height: $header-height-mobile;
    width: $header-height-mobile;

    &::before {
      margin-left: .4rem;
    }
  }

  &__mobile-menu {
    height: $header-height-mobile;
    width: $header-height-mobile;

    .menu-icon {
      left: 1.5rem;
      right: 1.5rem;
      top: ($header-height-mobile / 2 - .1);

      &,
      &::before,
      &::after {
        background-color: #fff;
        display: block;
        height: .2rem;
        position: absolute;
        width: 2rem;
      }

      &::before,
      &::after {
        content: "";
        left: 0;
        right: 0;
      }

      &::before {
        top: -.5rem;
      }

      &::after {
        top: .5rem;
      }
    }
  }

  &--narrow &__mobile-menu {
    .menu-icon {
      &,
      &::before,
      &::after {
        background-color: $body-color;
      }
    }
  }
}
