<div hidden>
  <svg xmlns="http://www.w3.org/2000/svg">
    <symbol id="lp-icon-logo" viewBox="0 0 2066 1024">
      <title>logo</title>
      <path d="M559.121 629.027c-38.251-8.269-63.574-29.977-80.633-67.711v72.364h-71.842v-136.454c-4.137-29.977-46.519-29.977-50.651 0v135.938h-71.842v-76.496c-17.054 46.519-50.651 67.711-101.824 72.364-50.651 0-84.765-25.328-105.956-67.711v72.364h-75.985v-318.395h75.979v157.129c17.054-34.114 38.251-51.168 71.842-63.574 59.442-12.922 110.093 12.922 135.421 67.711 17.054-46.519 50.651-72.364 101.824-72.364 46.519 4.137 80.633 25.328 93.039 72.364 12.922-34.114 42.382-59.442 84.765-67.711 59.442-8.269 101.824 17.054 127.147 67.711v-161.266h75.979v89.418h71.842v139.037c0 25.328 38.251 25.328 38.251 0v-140.070h71.842v242.41c0 25.328-8.269 42.382-25.328 63.574-21.191 21.191-42.382 25.328-71.842 29.977-38.251 4.137-63.574-8.269-93.039-29.977l42.382-55.305c21.191 17.054 54.788 17.054 67.711-8.269 4.137-8.269 4.137-21.191 4.137-34.114-38.251 38.251-97.171 21.191-110.093-29.977v51.168h-75.979v-97.687h-148.344c8.269 34.114 46.519 46.519 75.979 21.191l63.574 8.269c0.522 17.059-33.592 72.364-118.357 64.090zM220.573 518.417c0-25.328-21.191-46.519-46.519-46.519s-46.519 21.191-46.519 46.519 21.191 46.519 46.519 46.519c29.46 0 50.656-21.191 46.519-46.519zM533.793 505.495h93.039c-12.406-46.514-75.979-46.514-93.039 0z"></path>
      <path d="M2066.309 607.836c0 12.922-54.788 34.114-88.902 12.922s-33.597-51.168-33.597-85.281h-152.475c17.054 42.382 67.711 38.251 84.765 17.054l63.574 12.922c-21.191 72.364-84.765 84.765-143.69 63.574-34.114-17.054-50.651-34.114-63.574-63.574v72.364h-71.842c0-46.519 0-93.555 0-140.070-4.137-29.977-50.651-29.977-50.651 0v135.421h-122.494v-42.382c0-17.054-17.054 42.382-42.382 42.382-50.651 4.137-93.034-21.191-114.23-67.711v67.711h-75.979v-68.227c-21.191 46.519-75.979 72.364-131.284 59.442l-8.269-4.137c0 0 4.137 76.496 4.137 97.687h-75.979v-199.511c0-93.555 101.824-148.86 177.804-93.555 12.922 12.922 25.328 29.977 34.114 46.519v-157.129h75.979v157.129c25.328-46.519 71.842-72.364 127.147-63.574 38.251 8.269 63.574 29.977 80.633 67.711 21.191-59.442 75.979-84.765 139.553-63.574 29.46 12.922 42.382 34.114 54.788 63.574 25.328-59.442 84.765-84.765 148.344-63.574 29.46 17.054 50.651 34.114 63.574 63.574v-118.883h71.842v46.519h46.519v67.711h-46.519c0 25.328-4.137 46.519 4.137 67.711 4.137 12.922 25.328 17.054 42.382 4.137v0l2.577 65.118zM1202.625 518.417c0-25.328-21.191-46.519-46.519-46.519s-46.519 21.191-46.519 46.519 21.191 46.519 46.519 46.519 46.519-21.191 46.519-46.519zM1478.115 518.417c0-25.328-21.191-46.519-46.519-46.519v0c-25.328 0-46.519 21.191-46.519 46.519s21.191 46.519 46.519 46.519c25.323 0 46.519-21.191 46.519-46.519zM1880.237 501.363c-12.922-46.519-75.979-42.382-88.902 0h88.902z"></path>
      <path d="M601.503 365.425l-50.651-21.191c71.842-199.511 258.431-344.234 478.617-344.234s406.258 144.207 473.969 344.234l-50.656 16.538c-59.442-178.32-228.455-301.335-423.313-301.335s-364.387 127.669-427.966 305.989z"></path>
      <path d="M1452.271 667.277l50.651 21.191c-67.711 195.374-253.783 339.581-473.969 335.449-220.186 0-406.258-140.070-473.969-335.449l50.656-16.538c59.442 174.183 228.455 297.198 423.313 297.198s364.392-123.532 423.318-301.852z"></path>
    </symbol>
  </svg>
</div>

<header class="lp-global-header lp-global-header--{{type}}{{#if images}} lp-global-header--has-images{{else}} lp-global-header--no-images{{/if}}" role="banner">
  <div class="lp-global-header__container">
    <div class="lp-global-header__inner js-lp-global-header-inner">

      <a class="lp-logo lp-logo--{{type}}" href="/">
        <svg class="svg-icon svg-icon--fit" viewBox="0 0 142 72" aria-label="Lonely Planet">
          <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#lp-icon-logo"></use>
        </svg>
      </a>

      <a class="lp-global-header__search js-lp-global-header-search" href="/search">
        <i class="icon-search" aria-hidden="true"></i>
        <span class="lp-global-header__search-text">Search {{search.title}}</span>
        <span class="lp-global-header__search-beyond">and beyond</span>
      </a>

      <div class="lp-global-header__navigation">
        {{> "components/navigation/navigation" }}
      </div>

      <div class="lp-global-header__mobile lp-global-header__mobile--left">
        <a class="lp-global-header__mobile-search icon-search-thin js-lp-global-header-search" href="/search">Search</a>
      </div>

      <div class="lp-global-header__mobile js-lp-global-header-mobile">
        {{!--
        <a class="lp-global-header__mobile-cart icon-cart js-mobile-cart">Cart</a>
        --}}

        <a class="lp-global-header__mobile-menu js-menu" href="#footer" aria-label="Menu">
          <i class="menu-icon" aria-hidden="true"></i>
        </a>
      </div>

    </div>
  </div>
</header>
