@import "../../../sass/webpack_deps";

.tlist {
  $height: 6rem;
  $image-width: 8rem;
  $item-spacing: 1rem;
  $total-height: ($height + $item-spacing) * 3;
  $size-width: 35%;
  position: relative;
  text-align: left;
  counter-reset: tlist;

  &__heading {
    font-size: 1.2rem;
    font-weight: 600;
    text-transform: uppercase;
    line-height: 1;
  }

  &__content {
    position: relative;
    margin-top: ($gutter - .3rem);
    border-top: .1rem solid #f1f4fb;

    @media (min-width: $min-360) {
      padding-right: $size-width;
    }
  }

  &__primary {
    list-style: none;
    padding-top: $item-spacing;
    padding-right: $gutter;

    @media (max-width: $max-360) {
      display: none;
    }
  }

  &__primary-item {
    &:not(:first-child) {
      margin-top: $item-spacing;
    }
  }

  &__primary-link {
    display: block;
    position: relative;
    padding-left: ($image-width + $gutter);
    height: $height;
    font-size: 1.6rem;
    color: $color-darkblue;
    transition: color $animation-speed;

    &:hover,
    &:active,
    &:focus {
      color: $color-primary;
    }
  }

  &__number {
    $size: 2.7rem;

    position: absolute;

    top: 50%;
    left: $image-width - ($size / 2);

    margin-top: -($size / 2);

    width: $size;
    height: $size;

    font-family: $sans-serif;
    font-size: 1.2rem;
    color: $font-color;
    text-align: center;
    line-height: ($size + .1rem);

    border-radius: .3rem;
    box-shadow: 0 .2rem .3rem rgba(0,0,0, .3);
    background-color: #fff;

    transform: rotate(45deg);

    &:before {
      display: block;

      counter-increment: tlist;
      content: counter(tlist);

      transform: rotate(-45deg);
    }
  }

  &__image {
    position: absolute;

    top: 0;
    left: 0;

    width: $image-width;
    height: $height;

    background: center no-repeat #333;
    background-size: cover;
  }

  &__title {
    line-height: ($height / 2) - 1rem;
    height: ($height / 2);
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;

    &:not(:last-child) {
      padding-top: 1rem;
    }

    &:last-child {
      line-height: $height;
      height: $height - .1rem;
      border-bottom: .1rem solid #f4f7fc;
    }
  }

  &__subtitle {
    padding-bottom: 1rem;
    line-height: ($height / 2) - 1rem;
    height: ($height / 2);
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 1.4rem;
    color: #cdd0d6;

    &:last-child {
      border-bottom: .1rem solid #f4f7fc;
    }
  }

  $secondary-line-height: ($total-height - .1rem - $item-spacing * 2) / 7;

  &__secondary {
    padding: $item-spacing 0 $item-spacing $gutter;
    font-size: 1.2rem;
    font-weight: 600;
    line-height: $secondary-line-height;
    border-bottom: .1rem solid #f4f7fc;
    list-style: none;

    @media (min-width: $min-360) {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      width: $size-width;
      height: ($total-height - .1rem);
    }
  }

  &__secondary-item {
    position: relative;

    &:before {
      display: block;
      position: absolute;
      top: 0;
      left: -4rem;
      width: 3rem;
      text-align: right;
      font-family: $font-family-special;
      font-weight: 500;
      color: #a7a9ae;
      counter-increment: tlist;
      content: counter(tlist) ".";
    }

    &--top {
      display: block;

      @media (min-width: $min-360) {
        display: none;
      }
    }
  }

  &__secondary-link {
    position: relative;
    display: block;
    height: $secondary-line-height;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: #2b3642;
    transition: color $animation-speed;

    &:hover,
    &:active,
    &:focus {
      color: $color-primary;
    }
  }

  &__more {
    @include more();
    display: block;
    margin-top: (4rem - .2);
    font-size: 1.1rem;
  }
}

.top_places {
  $close-button-size: 7.2rem;

  position: fixed;
  z-index: 9999;

  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  box-shadow: 0 .5rem 5rem rgba(0,0,0,.5);

  background: #fff;

  opacity: 0;
  transition: transform .4s, opacity .4s;
  transform: translateY(15%);

  @media (min-width: $min-720) {
    top: auto;
  }

  &--visible {
    transform: translateY(0);
    opacity: 1;
  }

  &__close {
    display: block;
    position: absolute;
    z-index: 10000;
    top: ($gutter / 2);
    right: ($gutter / 2);
    height: 4rem;
    width: 4rem;
    font-size: 2rem;
    line-height: 4rem;
    text-align: left;
    text-indent: -9999px;
    cursor: pointer;
    padding: 0;
    border: 0;
    background-color: transparent;
    outline: 0;

    &:before {
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      text-indent: 0;
      text-align: center;
    }

    @media (min-width: $min-720) {
      z-index: 9998;
      top: 0;
      left: 50%;
      margin-left: (-$close-button-size / 2);
      width: $close-button-size;
      height: $close-button-size;
      font-size: 2.6rem;
      line-height: $close-button-size;
      text-align: center;
      border-radius: 50%;
      box-shadow: 0 2.2rem 4.5rem rgba(0,0,0, .75);
      background-color: #fff;
      user-select: none;
      transition: transform .4s 1s;
    }
  }

  &--visible &__close {
    @media (min-width: $min-720) {
      transition: transform .4s .4s;
      transform: translateY(-($close-button-size + $gutter));
    }
  }

  &__content {
    position: absolute;
    z-index: 9999;

    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    margin: 0 auto;
    padding: $gutter $gutter 0;

    max-width: $max-width;

    overflow-x: hidden;
    overflow-y: auto;

    background-color: #fff;

    @media (min-width: $min-720) {
      position: relative;
      top: auto;
      left: auto;
      right: auto;
      bottom: auto;
      padding: 4rem ($gutter * 2) ($gutter * 2);
      max-height: calc(100vh - #{($close-button-size + $gutter * 2)});
    }

    $top-places-content-mq: (strip-units($max-width) * 10) + (strip-units($gutter) * 10 * 4);

    @media (min-width: #{$top-places-content-mq * .0625}em) {
      padding-left: 0;
      padding-right: 0;
    }
  }

  &__wrap {
    @media (min-width: $min-720) {
      display: flex;
    }

    .no-flexbox & {
      overflow: hidden;
    }
  }

  &__column {
    margin-left: auto;
    margin-right: auto;
    max-width: 63rem;
    width: 100%;

    &:not(:first-child) {
      @media (max-width: $max-720) {
        margin-top: ($gutter * 2);
      }
    }

    .no-flexbox & {
      @media (min-width: $min-960) {
        float: left;
        width: calc(50% - #{$gutter});
      }
    }

    + .top_places__column {
      @media (min-width: $min-960) {
        margin-left: $gutter;
      }
    }
  }
}
