@import "../../../sass/webpack_deps";

.lp-beta-banner {
  background: $beta-banner-color;
  color: $color-white;
  font-size: 1.4rem;
  padding-bottom: 1.4rem;
  padding-top: 1.4rem;
  width: 100%;

  @media (max-width: $max-720) {
    font-size: 1.1rem;
    letter-spacing: -.65px;
    padding-bottom: .8rem;
    padding-top: .8rem;
  }

  &__container {
    @include container-header;
    align-items: center;
    display: flex;
    justify-content: space-between;
    position: relative;
  }

  p {
    text-align: center;
    width: 100%;
  }
}
