@import "../../../sass/webpack_deps";

.lp-beta-banner {
  background: $beta-banner-color;
  color: $color-white;
  font-size: 1.6rem;
  padding-bottom: 1.6rem;
  padding-top: 1.6rem;
  width: 100%;

  @media (max-width: $max-720) {
    font-size: 1.2rem;
  }

  &--left {
    float: left;
    max-width: 50%;
  }

  &--right {
    position: absolute;
    right: 0;
  }

  &--action-list li {
    display: inline;
    padding-left: 3.2rem;

    @media (max-width: $max-720) {
      font-size: 1.4rem;
      padding-left: .8rem;
    }

    a {
      color: $color-white;
      font-weight: 600;
      text-decoration: underline;
      transition: color $animation-speed ease-in-out;
    }

    a:hover,
    a:active,
    a:focus {
      color: rgba($color-white, .8);
    }

    a:focus {
      outline: 1px dotted rgba($color-white, .4);
      outline-offset: 2px;
    }
  }

  &__container {
    @include container-header;
    align-items: center;
    display: flex;
    justify-content: space-between;
    position: relative;
  }
}
