<div class="lp-beta-banner">
  <div class="lp-beta-banner__container">
      <div class="lp-beta-banner--left">
        <p>Welcome to our new beta experience! Help us test new functionality.</p>
      </div>
      <div class="lp-beta-banner--right">
          <ul class="lp-beta-banner--action-list">
            <li><a id="feedback-beta" href="#">Feedback</a></li>
            <li><a id="exit-beta" href="#">Exit Beta</a></li>
          </ul>
      </div>
  </div>
</div>
