@mixin button($type: '') {
  appearance: none;
  backface-visibility: hidden;
  border: 0;
  border-radius: 2.2rem;
  cursor: pointer;
  display: inline-block;
  font-size: 1.2rem;
  -webkit-font-smoothing: antialiased;
  font-weight: 600;
  line-height: 1;
  outline: none;
  padding: 1.8rem 3rem 1.4rem;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  transition: color $animation-speed, border $animation-speed, background-color $animation-speed;
  vertical-align: middle;
  white-space: nowrap;

  @if $type == '' {
    background-color: $color-primary;
    color: #fff;
  }

  @if $type == 'inverse' {
    background-color: #fff;
    color: $color-primary;
  }

  [class*="icon-"] {
    display: inline-block;
    font-size: .6rem;
    margin-left: .6rem;
    transform: translate3d(0, 0, 0);
    transition: transform 500ms;
    vertical-align: 20%;
  }

  &:hover,
  &:focus {
    text-decoration: none;

    @if $type == '' {
      background-color: $color-primary + 15;
      color: #fff;
    }

    @if $type == 'inverse' {
      background-color: #fff;
      color: $color-primary + 30;
    }

    [class*='icon-'] {
      transform: translate3d(-.4rem, 0, 0);
    }

    .icon-chevron-right {
      transform: translate3d(.4rem, 0, 0);
    }

    .icon-chevron-down {
      transform: translate3d(0, 0, 0);
    }
  }
}

// A 'fake' button that just wraps an element in a rounded border
@mixin button-border($color: #fff) {
  border: .1rem solid $color;
  border-radius: 2.2rem;
  padding: 1.7rem 2rem;
}

// Legacy
// do not use
@mixin button-props($mobile) {
  @include respond-to($mobile) {
    letter-spacing: .1rem;
    padding: 1.4rem 3.1rem;
  }
}
