<div class="article-pagination">
  <a class="article-pagination__item is-prev" href="/{{ article.related_articles.[0].slug }}">
    {{ article.related_articles.[0].title }}
  </a><!-- .article-pagination__item -->

  <a class="article-pagination__item is-next" href="/{{ article.related_articles.[1].slug }}">
    {{ article.related_articles.[1].title }}
  </a><!-- .article-pagination__item -->
</div><!-- .article-pagination -->
