<div class="article-pagination">
  {{#each article.related_articles }}
    <a class="article-pagination__item" href="/{{ this.slug }}">
      {{ this.title }}
    </a><!-- .article-pagination__item -->
  {{/each}}
</div><!-- .article-pagination -->
