@import "../../../sass/webpack_deps";

.article-pagination {
  border-bottom: .1rem solid $color-border;
  border-top: .1rem solid $color-border;

  &.is-hidden {
    opacity: 0;
  }
}

.article-pagination__container {
  @include container;

  @include with-layout(static) {
    margin-left: -#{gutter-half()};
    margin-right: -#{gutter-half()};
  }

  @media (min-width: $min-480) {
    @include with-layout(static) {
      margin-left: -#{gutter()};
      margin-right: -#{gutter()};
    }
  }

  @media (min-width: $min-600) {
    align-items: stretch;
    display: flex;
    flex-direction: row-reverse;
  }

  @media (min-width: $min-960) {
    margin-left: auto;
    margin-right: auto;
  }

  .no-flexbox & {
    @media (min-width: $min-600) {
      display: block;
    }
  }
}

.article-pagination__item {
  color: #2c3642;
  display: block;
  font-size: 2.4rem;
  font-weight: 300;
  line-height: (32 / 24);
  text-align: center;
  transition: color ($animation-speed / 2) linear;

  @include with-layout(static) {
    padding: 6.7rem gutter-half() 7.1rem;
  }

  @media (min-width: $min-480) {
    @include with-layout(static) {
      padding-left: gutter();
      padding-right: gutter();
    }
  }

  @media (min-width: $min-600) {
    width: 50%;
  }

  @media (min-width: $min-960) {
    font-size: 2.8rem;
    line-height: (36 / 28);
    max-height: 21.4rem;
  }

  @media (min-width: $min-1200) {
    padding-left: 8rem;
    padding-right: 8rem;
  }

  .no-flexbox & {
    @media (min-width: $min-600) {
      float: right;
    }
  }

  &:hover,
  &:active,
  &:focus {
    color: $color-blue;
  }

  &:not(:first-child) {
    @media (max-width: $max-600) {
      border-top: .1rem solid $color-border;
    }
  }

  &:first-child {
    @media (min-width: $min-600) {
      border-left: .1rem solid $color-border;
    }
  }
}
