<div class="feedback__form">
  <form class="js-feedback-form">
    <input class="feedback__input name" type="text" name="Jonathan" placeholder="Name" name="name" />
    <textarea class="feedback__text" name="feedback"></textarea>
    <button type="submit">Send</button>
  </form>
</div>
