@import "../../../sass/webpack_deps";

// !important is needed to override specificity in article-body__content
@mixin copy-caption {
  font-family: $benton-sans !important;
  font-size: 1.1rem !important;
  line-height: 1.4 !important;
  text-align: center !important;

  @media (min-width: $min-600) {
    font-size: 1.2rem !important;
    line-height: 1.6 !important;
  }
}

.article-body {
  @include container;
  padding-bottom: 4.4rem;
  padding-top: 4.6rem;
  position: relative;

  @media (min-width: $min-720) {
    padding-bottom: 5.8rem;
    padding-top: 5.3rem;
  }

  &.is-narrow {
    @include container-static(6);
  }

  // Warning:
  // The following contains legacy classnames from Rizzo/Waldorf as content
  // stored in the database has markup attached. Placeholders are used to
  // indicate the preferred classname when applicable. Disgusting nesting may
  // be necessary.
  //
  // Use this modifier when the article body contains content that was formatted
  // within the CMS
  &.has-legacy-code .article-body__content {
    .copy--feature {
      @extend %lede;
    }

    > address {
      color: $light-text-color;
      font-size: 1.4rem;
      font-style: normal;
      line-height: (24 / 14);
      margin-bottom: 3.2rem;

      @media (min-width: $min-600) {
        font-size: 1.8rem;
        line-height: (34 / 18);
        margin-bottom: 6.6rem;
      }
    }

    p:not(.copy--feature),
    .copy--body__list {
      color: $color-darkblue;
      font-family: $miller-daily;
      font-size: 1.6rem;
      line-height: (26 / 16);

      @media (min-width: $min-720) {
        font-size: 2rem;
        line-height: (36 / 20);
      }

      + p,
      + .copy--body__list {
        margin-top: 1rem;

        @media (min-width: $min-600) {
          margin-top: 1.7em;
        }
      }
    }

    .copy--h3,
    .copy--h4 {
      color: #2b3642;
      font-weight: 600;
      letter-spacing: -.02rem;
      margin-bottom: 1rem;
      margin-top: 2.5rem;
    }

    .copy--h3 {
      font-size: 1.6rem;
      line-height: (26 / 16);

      @media (min-width: $min-720) {
        font-size: 2rem;
        line-height: (28 / 20);
      }
    }

    .copy--h4 {
      font-size: 1.4rem;
      line-height: (24 / 14);

      @media (min-width: $min-720) {
        font-size: 1.6rem;
        line-height: (24 / 16);
      }
    }

    li a:not([data-callout-slug]),
    p:not(.stack__article__image-container) a:not([data-callout-slug]),
    p:not(.copy--caption) > a:not([data-callout-slug]),
    .client-body a {
      @include underlined-link(
        $link-color: $color-darkblue,
        $link-color-active: $color-blue
      );
    }

    .stack__article__image-container {
      @include copy-caption;
      margin-bottom: 3.2rem !important;
      margin-top: 3.2rem !important;
      opacity: 0;
      transition: opacity 200ms ease;
      visibility: hidden;

      @media (min-width: $min-600) {
        font-size: 1.4rem !important;
        margin-bottom: 6.6rem !important;
        margin-top: 6.6rem !important;
      }

      .no-js &,
      &.is-visible {
        opacity: 1;
        visibility: visible;
      }

      &.is-wide {
        @media (min-width: $min-840) {
          margin-left: -10%;
          width: 120%;
        }

        @media (min-width: $min-1024) {
          margin-left: -20%;
          width: 140%;
        }

        @media (min-width: $min-1290) {
          margin-left: -40%;
          width: 180%;
        }

        @media (min-width: $min-1410) {
          @include with-layout(static) {
            margin-left: -#{span(2) + gutter()};
            width: span(10);
          }
        }
      }

      // This selects the image
      > .copy--body__link:first-of-type {
        background-image: none; // Reset underlined-link mixin
        display: block;
        margin-bottom: 1rem;
        position: relative;

        @media (min-width: $min-600) {
          margin-bottom: 1.6rem;
        }

        &::after {
          @include pop-out;
          bottom: 1.5rem;
          content: "";
          position: absolute;
          right: 1.5rem;
          z-index: 2;
        }
      }

      .stack__article__image {
        // Break the image out of the container; .article needs overflow: hidden
        margin-left: percent(-15px, 290px);
        margin-right: percent(-15px, 290px);
        max-width: none;
        width: percent(320px, 290px);

        @media(min-width: $min-480) {
          margin-left: percent(-30px, 420px);
          margin-right: percent(-30px, 420px);
          width: percent(480px, 420px);
        }

        @media(min-width: $min-720) {
          margin-left: percent(-45px, 630px);
          margin-right: percent(-45px, 630px);
          width: percent(720px, 630px);
        }

        @media(min-width: $min-840) {
          margin-left: 0;
          margin-right: 0;
          max-width: 100%;
          width: 100%;
        }

        &.aligncenter {
          margin-left: auto;
          margin-right: auto;
        }
      }
    }

    .stack__article__image-container + p.copy--caption,
    .stack__article__image-container + p > span.caption {
      margin-bottom: 3.2rem;
      margin-top: -3.2rem;
      padding-top: 1rem;

      @media (min-width: $min-600) {
        margin-bottom: 6.6rem;
        margin-top: -6.6rem;
        padding-top: 1.6rem;
      }
    }

    .copy--caption,
    p > span.caption {
      @include copy-caption;

      a {
        @include underlined-link(
          $link-color: $color-text,
          $link-color-active: $color-blue,
          $underline-offset: .1rem
        );
      }
    }

    span.copy--caption,
    p > span.caption {
      display: block;
    }

    p.copy--caption {
      margin-bottom: 0;
      margin-top: 1.6rem;
    }
  }

  a[data-callout-slug] {
    @media(max-width: $max-1200) {
      @include underlined-link(
        $link-color: $color-darkblue,
        $link-color-active: $color-blue
      );
    }

    @media(min-width: $min-1200) {
      backface-visibility: hidden;
      border-bottom: .1rem dashed #bbb;
      color: #2b3542;
      position: relative;
      text-decoration: none;
      transform: translateZ(0);
      transition: color 300ms, border-bottom 200ms ease;

      &::before {
        background: #f0f0f0;
        bottom: 0;
        content: "";
        left: 0;
        position: absolute;
        right: 0;
        top: 0;
        transform: scaleY(0);
        transform-origin: 50% 100%;
        transition: transform 100ms ease, border-bottom 100ms ease;
        z-index: -1;
      }

      &:hover,
      &:focus,
      &.is-active {
        border-bottom: .1rem solid #f0f0f0;

        &::before {
          transform: scaleY(1);
        }
      }
    }
  }

  .client-strap {
    @include container;
    border-bottom: .1rem solid $color-border;
    border-top: .1rem solid $color-border;
    color: #2b3642;
    font-size: 1.4rem;
    line-height: (24 / 14);
    margin-bottom: 3.2rem;
    margin-top: 3.2rem;
    padding-bottom: 3.2rem;
    padding-top: 3.2rem;

    @media(min-width: $min-720) {
      font-size: 1.8rem;
      line-height: (34 / 18);
      margin-bottom: 6.6rem;
      margin-top: 6.6rem;
      padding-bottom: 6.6rem;
      padding-top: 6.6rem;
    }
  }

  .client-body {
    @media (min-width: $min-720) {
      float: left;
      width: 70%;
    }
  }

  .client-logo {
    @media(max-width: $max-720) {
      margin-top: 3rem;
    }

    @media(min-width: $min-720) {
      float: right;
      margin-left: 10%;
      width: 20%;
    }

    > img {
      display: block;

      @media(max-width: $max-720) {
        max-width: 20rem;
      }
    }
  }
}

.article-post-date {
  color: $light-text-color;
  font-family: $benton-sans;
  font-size: 1.2rem;
  font-weight: 600;
  line-height: 1;
  text-transform: uppercase;
}
