@import "../../../sass/webpack_deps";

.article-body {
  @include container;
  margin-bottom: 12rem;
  margin-top: 6.9rem;
  position: relative;

  &.is-narrow {
    @include container-static(6);
  }

  // Warning:
  // The following contains legacy classnames from Rizzo/Waldorf as content
  // stored in the database has markup attached. Placeholders are used to
  // indicate the preferred classname when applicable. Disgusting nesting may
  // be necessary.
  //
  // Use this modifier when the article body contains content that was formatted
  // within the CMS
  &.has-legacy-code .article-body__content {
    .copy--feature {
      @extend %lede;
    }

    p:not(.copy--feature),
    .copy--body__list {
      color: #2b3542;
      font-family: "Secondary";
      font-size: 1.8rem;
      line-height: (25 / 18);

      @media (min-width: $min-720) {
        font-size: 2rem;
        line-height: (36 / 20);
      }

      + p,
      + .copy--body__list {
        margin-top: 1.7em;
      }
    }

    .copy--h3 {
      color: #2b3642;
      font-size: 1.8rem;
      font-weight: 600;
      letter-spacing: -.02rem;
      line-height: (25 / 18);
      margin-bottom: (1.7em * .5);
      margin-top: (1.7em * 1.5);

      @media (min-width: $min-720) {
        font-size: 2rem;
        line-height: (28 / 20);
      }
    }

    .copy--body__link {
      @include fancy-link($link-color: #2b3542, $link-color-active: $color-blue);
    }

    .stack__article__image-container {
      font-family: "Main", sans-serif !important;
      font-size: 1.2rem !important;
      line-height: 1.3 !important;
      opacity: 0;
      text-align: center !important;
      transition: opacity .2s ease;
      visibility: hidden;

      .no-js &,
      &.is-visible {
        opacity: 1;
        visibility: visible;
      }

      &.is-wide {
        @media (min-width: $min-840) {
          margin-left: -10%;
          width: 120%;
        }

        @media (min-width: $min-1024) {
          margin-left: -20%;
          width: 140%;
        }

        @media (min-width: $min-1290) {
          margin-left: -40%;
          width: 180%;
        }

        @media (min-width: $min-1410) {
          @include with-layout(static) {
            margin-left: -#{span(3) + gutter()};
            width: span(12);
          }
        }
      }

      // This selects the image
      > .copy--body__link:first-of-type {
        display: block;
        margin-bottom: 1.4rem;
        position: relative;
      }

      .stack__article__image {
        max-width: 100%;
        width: 100%;
      }

      .copy--caption {
        display: block;

        a {
          color: $color-text;
        }
      }
    }
  }
}

.article-post-date {
  color: $light-text-color;
  font-family: "Main", sans-serif;
  font-size: 1.2rem;
  font-weight: 600;
  line-height: 1;
  text-transform: uppercase;
}
