@import "../../../sass/webpack_deps";

// !important is needed to override specificity in article-body__content
@mixin copy-caption {
  font-family: "Main", sans-serif !important;
  font-size: 1.2rem !important;
  line-height: 1.6 !important;
  text-align: center !important;
}

.article-body {
  @include container;
  padding-bottom: 5.8rem;
  padding-top: 5.3rem;
  position: relative;

  @media (min-width: $min-720) {
    padding-bottom: 5.8rem;
    padding-top: 5.3rem;
  }

  &.is-narrow {
    @include container-static(6);
  }

  // Warning:
  // The following contains legacy classnames from Rizzo/Waldorf as content
  // stored in the database has markup attached. Placeholders are used to
  // indicate the preferred classname when applicable. Disgusting nesting may
  // be necessary.
  //
  // Use this modifier when the article body contains content that was formatted
  // within the CMS
  &.has-legacy-code .article-body__content {
    .copy--feature {
      @extend %lede;
    }

    p:not(.copy--feature),
    .copy--body__list {
      color: #2b3542;
      font-family: "Secondary";
      font-size: 1.8rem;
      line-height: (32 / 18);

      @media (min-width: $min-720) {
        font-size: 2rem;
        line-height: (36 / 20);
      }

      + p,
      + .copy--body__list {
        margin-top: 1.7em;
      }
    }

    .copy--h3 {
      color: #2b3642;
      font-size: 1.8rem;
      font-weight: 600;
      letter-spacing: -.02rem;
      line-height: (25 / 18);
      margin-bottom: (1.7em * .5);
      margin-top: (1.7em * 1.5);

      @media (min-width: $min-720) {
        font-size: 2rem;
        line-height: (28 / 20);
      }
    }

    li > a,
    p:not(.stack__article__image-container) > a,
    p:not(.copy--caption) > a {
      @include fancy-link($link-color: #2b3542, $link-color-active: $color-blue);
    }

    .stack__article__image-container {
      @include copy-caption;
      margin-bottom: 6.6rem !important;
      margin-top: 6.6rem !important;
      opacity: 0;
      transition: opacity .2s ease;
      visibility: hidden;

      @media (min-width: $min-600) {
        font-size: 1.4rem !important;
      }

      .no-js &,
      &.is-visible {
        opacity: 1;
        visibility: visible;
      }

      &.is-wide {
        @media (min-width: $min-840) {
          margin-left: -10%;
          width: 120%;
        }

        @media (min-width: $min-1024) {
          margin-left: -20%;
          width: 140%;
        }

        @media (min-width: $min-1290) {
          margin-left: -40%;
          width: 180%;
        }

        @media (min-width: $min-1410) {
          @include with-layout(static) {
            margin-left: -#{span(3) + gutter()};
            width: span(12);
          }
        }
      }

      // This selects the image
      > .copy--body__link:first-of-type {
        display: block;
        margin-bottom: 1.6rem;
        position: relative;
      }

      .stack__article__image {
        &.aligncenter {
          margin-left: auto;
          margin-right: auto;
        }

        &.size-full {
          width: 100%;
        }
      }
    }

    .stack__article__image-container + p.copy--caption,
    .stack__article__image-container + p > span.caption {
      margin-bottom: 6.6rem;
      margin-top: -6.6rem;
      padding-top: 1.6rem;
    }

    .copy--caption,
    p > span.caption {
      @include copy-caption;

      a {
        color: $color-text;
      }
    }

    span.copy--caption,
    p > span.caption {
      display: block;
    }

    p.copy--caption {
      margin-bottom: 0;
      margin-top: 1.6rem;
    }
  }
}

.article-post-date {
  color: $light-text-color;
  font-family: "Main", sans-serif;
  font-size: 1.2rem;
  font-weight: 600;
  line-height: 1;
  text-transform: uppercase;
}
