@import "../../../sass/webpack_deps";

.video-js {
  height: 100%;
  margin: 0 auto;
  width: 100%;

  .vjs-overlay-top-left {
    left: 0;
    top: 0;
  }

  .vjs-overlay-bottom {
    left: 0;
    margin-left: 0;
    max-width: 100%;
    width: 100%;
  }

  .vjs-big-play-button {
    @media (max-width: $max-480) {
      transform: scale(.7);
    }
  }
}

.vjs-error {
  .vjs-error-display {
    display: none;
  }
}

.video__ad-overlay {
  background-color: rgba($color-black, .8);
  color: $color-gray;
  font-family: arial, sans-serif;
  font-size: 11px;
  font-weight: normal;
  line-height: 21;
  margin-top: 8;
  padding: 6 24;
  vertical-align: middle;
}

.video__lowerthird-overlay {
  height: 0;
  padding-bottom: 56.25%; // 16:9
  position: relative;

  iframe {
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
  }
}
