@import "../../../sass/webpack_deps";

.video-js {
  margin: 0 auto;
}

.vjs-play-progress {
  background-color: $lpblue;
}

.vjs-volume-level {
  background-color: $lpblue;
}

.vjs-big-play-button {
  &:hover,
  &:active {
    background-color: $lpblue;
  }

  @media (max-width: $max-480) {
    transform: scale(.7);
  }
}

.video__ad-overlay {
  background-color: rgba($color-black, .8);
  color: $color-gray;
  font-family: arial, sans-serif;
  font-size: 11px;
  font-weight: normal;
  line-height: (21 / 11);
  margin-top: .8rem;
  padding: .6rem 2.4rem;
  vertical-align: middle;
}
