@import "../../../sass/webpack_deps";

$logo-height: 4rem;

.footer {
  position: relative;

  @media (min-width: $min-960) {
    @include container();
  }

  &__container {
    @include clearfix;
    position: relative;
  }

  &__bottom {
    @include clearfix;
    position: relative;
    padding-bottom: $gutter;
    border-top: .1rem solid $color-border;

    @media (min-width: $min-960) {
      padding-bottom: ($spacing + 6.6);
      padding-top: 2.6rem;
      padding-left: 8rem + $gutter;
      padding-right: ($logo-height + .2) * 3 + $spacing;
    }
  }

  &__logo {
    fill: #cccdce;
    transition: fill ($animation-speed / 2);

    @media (max-width: $max-960) {
      float: left;
      margin-bottom: $spacing;
      margin-left: $spacing;
    }

    @media (min-width: $min-960) {
      position: absolute;
      top: 1.7rem;
      left: 0;
    }

    &:hover,
    &:active,
    &:focus {
      fill: $color-primary;
    }

    svg {
      display: block;
      height: 4.6rem;
    }
  }

  &__social-list {
    @include clearfix;
    list-style: none;
    font-size: 1.8rem;

    @media (max-width: $max-960) {
      float: right;
      margin-right: $spacing;
      margin-bottom: $spacing;
    }

    @media (min-width: $min-960) {
      position: absolute;
      top: 2rem;
      right: 0;
    }
  }

  &__social-item {
    float: left;

    &:not(:first-child) {
      margin-left: .6rem;
    }
  }

  &__social-link {
    display: block;
    height: $logo-height;
    width: $logo-height;
    line-height: ($logo-height + .5);
    text-align: center;
    color: #cccdce;
    border: .1rem solid #e5e7ed;
    border-radius: 50%;
    transition-property: color, border, background-color;
    transition-duration: $animation-speed;

    &:hover,
    &:active,
    &:focus {
      background-color: #e5e7ed;
      color: #fff;
    }

    &--facebook {
      &:hover,
      &:active,
      &:focus {
        border-color: $color-facebook;
        background-color: $color-facebook;
      }
    }

    &--twitter {
      &:hover,
      &:active,
      &:focus {
        border-color: $color-twitter;
        background-color: $color-twitter;
      }
    }

    &--pinterest {
      &:hover,
      &:active,
      &:focus {
        border-color: $color-pinterest;
        background-color: $color-pinterest;
      }
    }
  }

  &__links {
  }

  &__copyright {
    clear: both;
    font-size: 1.2rem;
    text-align: center;
    color: $footer-copyright-color;
    line-height: 1.4;
    margin-top: 1.2rem;

    @media (max-width: $max-960) {
      margin-left: $spacing;
      margin-right: $spacing;
    }

    @media (min-width: $min-960) {
      line-height: 1;
      text-align: left;
    }
  }
}

.links {
  margin-bottom: $spacing;
  font-size: 1.3rem;
  line-height: 1;

  @media (min-width: $min-960) {
    margin: 0;
  }

  &__item {
    @include divider;
    display: block;

    @media (min-width: $min-960) {
      display: inline-block;
      border-bottom: 0;
    }

    &:not(:last-child) {
      @media (min-width: $min-960) {
        margin-right: 2.1rem;
      }
    }
  }

  &__link {
    display: block;
    color: $footer-bottom-link-color;
    font-weight: 600;
    transition: color $animation-speed;

    @media (max-width: $max-960) {
      padding: 1.4rem $spacing;
    }

    &:hover,
    &:active,
    &:focus {
      color: $color-primary;
    }
  }
}

.footer__main {
  @include divider("top");

  @media (min-width: $min-960) {
    overflow: hidden;
    padding-top: ($gutter * 2);
    padding-bottom: ($gutter * 2);
  }
}

.footer__main__checkbox {
  display: none;
}

.footer__main__links {
  max-height: 50px;
  overflow: hidden;
  vertical-align: top;

  @media (max-width: $max-960) {
    transition: max-height $animation-speed linear;
  }

  @media (min-width: $min-960) {
    float: left;
    width: percent(22rem, $max-width);
    padding-right: percent($gutter, $max-width);
    max-height: 600px;
  }

  &:not(:first-of-type) {
    @media (max-width: $max-960) {
      @include divider("top");
    }
  }
}

.footer__main__links--newsletter {
  border-top: 0;
  max-height: none;

  @media (min-width: $min-960) {
    float: right;
    padding-right: 0;
    width: percent(19rem, $max-width);
  }
}

.footer__main__links__header {
  font-weight: $semibold;
  font-size: 1.2rem;
  line-height: 1;
  text-transform: uppercase;

  @media (max-width: $max-960) {
    padding: 2.1rem $spacing 1.7rem;
  }

  @media (min-width: $min-960) {
    border: 0;
    margin-bottom: 1.7rem;
  }

  .accordion-target {
    position: relative;
    bottom: 2.1rem;
    right: -#{$spacing};
    padding-right: $spacing;
    float: right;
    width: 50%;
    height: 5rem;
    cursor: pointer;

    @media (min-width: $min-960) {
      display: none;
    }
  }

  .icon {
    float: right;
    width: 1.3rem;
    height: 1.3rem;
    margin-top: 2rem;
    transition: transform $animation-speed linear;
  }

  a {
    color: $darkgray;
    transition-property: color, border, background;
    transition-duration: $animation-speed;

    &:hover,
    &:active,
    &:focus {
      color: $color-primary;
    }
  }
}

.footer__main__checkbox:checked + .footer__main__links {
  max-height: 600px;

  .icon {
    transform: rotateZ(180deg);
  }
}

.footer__main__links__list {
  @media (max-width: $max-960) {
    margin: 0 $spacing $spacing;
  }
}

.footer__main__links__list__item {
  font-size: 1.3rem;
  line-height: 2.2;
  list-style: none;
  letter-spacing: .02rem;

  @media (min-width: $min-960) {
    line-height: (24 / 13);
  }

  a {
    color: $font-color-light;
    display: block;
    transition-property: color, border, background;
    transition-duration: $animation-speed;

    &:hover,
    &:active,
    &:focus {
      color: $color-primary;
    }
  }
}

.newsletter-register {
  @media (max-width: $max-960) {
    margin: 0 $spacing $spacing;
  }

  label {
    @include visuallyhidden('focusable');
  }
}

.newsletter-register__text {
  font-size: 1.2rem;
  line-height: (18 / 12);
  color: $font-color-light;
  letter-spacing: .02rem;
}

.newsletter-register__email {
  @include form-control;
  margin-top: 1.4rem;
}

.newsletter-register__country {
  @include form-control("select");
  margin-top: 1rem;
}

.newsletter-register__button {
  @include button();
  margin-top: $spacing;

  @media (max-width: $max-480) {
    display: block;
    width: 100%;
  }

  @media (min-width: $min-960) {
    margin-top: 2rem;
  }
}

.language {
  clear: both;
  display: flex;
  align-items: center;
  justify-content: center;

  @media (min-width: $min-960) {
    width: 22rem;
  }

  .footer & {
    @media (max-width: $max-960) {
      margin-bottom: $gutter;
      margin-left: $spacing;
      margin-right: $spacing;
    }

    @media (min-width: $min-960) {
      position: absolute;
      right: 0;
      top: 8rem;
    }
  }
}

.language__label {
  color: #717880;
  font-size: 1.3rem;
  line-height: 1;
  margin-bottom: 0;

  @media (min-width: $min-960) {
    padding-left: 1.2rem;
    width: 11rem;
  }
}

.language__select {
  @include form-control("select");

  @media (max-width: $max-960) {
    margin-left: 2rem;
  }

  @media (min-width: $min-960) {
    width: 11rem;
  }

  .no-flexbox & {
    @media (max-width: $max-960) {
      margin-left: 0;
    }
  }
}
