@import "../../../sass/webpack_deps";


$mobile-breakpoint: 945;
$mobile-margin-left: 20;
$footer-logo-desktop-width: 84;
$desktop-logo-margin: 35;
$extra-margin: 5; // used to push the copyright slightly further right than the bottom nav is
$footer-total-logo-width: $footer-logo-desktop-width + $desktop-logo-margin + $extra-margin;

$logo-height: 4rem;

.footer {
  position: relative;

  @media (min-width: $min-960) {
    @include container();
  }

  &__container {
    position: relative;

    //outline: 1px dashed #ccc;

    @include clearfix;
  }

  &__bottom {
    @include clearfix;

    position: relative;

    margin: 0 0 $spacing;
    padding: 0;

    border-top: .1rem solid $color-border;

    @media (min-width: $min-960) {
      padding-top: $spacing;
      padding-left: 8rem + $gutter;
      padding-right: ($logo-height + .2) * 3 + $spacing;
    }
  }

  &__logo {
    float: left;

    margin: 0 0 $spacing $gutter/2;


    fill: #cccdce;

    transition: fill 1s;

    &:hover {
      fill: $color-primary;
      transition: fill 200ms;
    }

    @media (min-width: $min-960) {
      float: none;

      position: absolute;

      top: $spacing;
      left: 0;

      margin: 0;
    }

    #footer-logo {
      display: block;

      height: $logo-height;
    }
  }

  &__social-list {
    float: right;

    margin: 0 $gutter/2 $spacing 0;

    list-style: none;
    font-size: 1.8rem;

    @media (min-width: $min-960) {
      float: none;

      position: absolute;

      top: $spacing;
      right: 0;

      margin: 0;
    }
  }

  &__social-item {
    display: inline-block;
    margin-left: 0.2rem;
  }

  &__social-link {
    display: block;

    height: $logo-height;
    width: $logo-height;

    line-height: $logo-height + .3;
    text-align: center;
    color: #cccdce;

    border: 0.1rem solid #e5e7ed;
    border-radius: 50%;

    transition-property: color, border, background;
    transition-duration: .3s;

    &:hover {
      background: #e5e7ed;
      color: #fff;

      transition-duration: 0s;
    }

    &--facebook {
      &:hover {
        border-color: #3b5998;
        background: #3b5998;
      }
    }

    &--twitter {
      &:hover {
        border-color: #00aced;
        background: #00aced;
      }
    }

    &--pinterest {
      &:hover {
        border-color: #cb2027;
        background: #cb2027;
      }
    }
  }

  &__links {
  }

  &__copyright {
    clear: both;

    margin: 0;
    padding: 0;

    font-size: 1.3rem;
    text-align: center;
    color: $footer-copyright-color;

    @media (min-width: $min-960) {
      text-align: left;
      line-height: $logo-height/2;
    }
  }

}

.links {
  margin: 0 0 $spacing;

  font-size: 14px;

  @media (min-width: $min-960) {
    margin: 0;

    line-height: $logo-height/2;
  }

  &__list {

  }

  &__item {
    display: block;

    @include divider;
    @media (min-width: $min-960) {
      display: inline-block;
      margin-right: 21px;
      border-bottom: 0 none;
      &:last-child {
        margin-right: 0;
      }
    }
  }

  &__link {
    display: block;

    padding: 14px 0;
    padding-left: #{$mobile-margin-left}px;

    color: $footer-bottom-link-color;

    &:hover {
      color: $color-primary;
    }

    @media (min-width: $min-960) {
      padding: 0;
    }
  }
}



.footer__main {
  @include divider("top");
  @media (min-width: $min-960) {
    padding: {
      top: 60px;
      bottom: 60px;
    }
  }

  a {
    color: $feature-copy;
  }
}

.footer__main__checkbox {
  display: none;
}

.footer__main__links {
  display: block;
  max-height: 50px;
  overflow: hidden;
  transition: max-height .3s linear;
  vertical-align: top;

  @include component-width;
  @media (min-width: $min-960) {
    display: inline-block;
    width: 18%;
    max-height: 600px;
    transition-property: none;
  }
}

.footer__main__links__header {
  padding: 14px 20px;
  font: {
    weight: $semibold;
    size: 13px;
  }
  text-transform: uppercase;

  @include divider(top);
  @media (min-width: $min-960) {
    padding: 0 0 15px 0;
    border: none;
    .accordion-target {
      display: none;
    }
  }
  .footer__main__links--destinations & {
    border: none;
  }
  .accordion-target {
    position: relative;
    bottom: 14px;
    float: right;
    width: 50%;
    height: 50px;
    cursor: pointer;
  }
  .icon--chevron-down {
    float: right;
    width: 13px;
    height: 13px;
    margin-top: 20px;
    transition: transform .3s linear;
  }

  a {
    transition-property: color, border, background;
    transition-duration: .3s;

    &:hover {
      transition-duration: 0s;
      color: $color-primary;
    }
  }
}

#destinations_checked:checked + .footer__main__links--destinations,
#shop_checked:checked + .footer__main__links--shop,
#forum_checked:checked + .footer__main__links--forum,
#interests_checked:checked + .footer__main__links--interests,
#booking_checked:checked + .footer__main__links--booking {
  max-height: 600px;
  .icon--chevron-down {
    transform: rotateZ(180deg);
  }
}

.footer__main__links__list {
  padding: {
    bottom: 15px;
    left: 20px;
  }

  @media (min-width: $min-960) {
    padding: 0;
  }
}

.footer__main__links__list__item {
  font-size: 14px;
  line-height: 2.2;
  list-style: none;
  color: $tours-blurb-color;

  @media (min-width: $min-960) {
    line-height: 1.6;
  }

  a {
    transition-property: color, border, background;
    transition-duration: .3s;

    &:hover {
      transition-duration: 0s;
      color: $color-primary;
    }
  }
}
