<div class="search">
  <div class="container">
    <div class="search__inner">
      <a class="search__icon icon-search">Search</a>
      <div class="search__input">
        <input type="text" placeholder="Search places, cities, countries and continents">
      </div>
      <a class="search__clear icon-close-small js-close">Close</a>
    </div>
  </div>
  <div class="container">
    <div class="search-results">
      <ul class="search-results__list"></ul>
      <a class="search-results__more">
        See all results
        <i class="icon-chevron-right"></i>
      </a>
    </div>
  </div>
</div>
