@import "../../../sass/webpack_deps";

.poi-callout {
  background-color: #fff;
  box-shadow: .15rem .26rem 2.9rem rgba(#000, .08);
  color: $color-darkblue;
  display: block;
  max-height: 30rem;
  max-width: 25rem;
  opacity: 0;
  padding: 2rem;
  position: absolute;
  transition: 1000ms ease;
  visibility: hidden;
  width: 25rem;
  z-index: 1000;

  .no-js & {
    display: none;
  }

  &:hover,
  &:active,
  &:focus {
    .poi-callout__content h3 {
      color: $color-blue;
    }
  }

  &.is-visible {
    opacity: 1;
    transform: translateX(-15px);
    transition: 200ms ease 150ms;
    visibility: visible;
  }
}

.poi-callout__content p {
  font-size: 1.4rem;
  font-weight: 300;
  height: 7rem;
  line-height: (22 / 14);
  margin-bottom: 0;
  margin-top: 1.6rem;
  overflow: hidden;
}

.poi-callout__content img {
  margin-bottom: 1.8rem;
}

.poi-callout__content h3 {
  color: #29313e;
  font-size: 1.6rem;
  font-weight: 600;
  line-height: (20 / 16);
  transition: color 200ms ease;
}

.poi-callout__content h5 {
  color: #6d6d6d;
  font-family: $miller-daily;
  font-size: 1.6rem;
  font-style: italic;
  font-weight: 300;
  line-height: 1;
  margin-top: .5rem;
  text-transform: capitalize;
}
