@import "../../../sass/webpack_deps";

.overlay {
  background-color: rgba(#000, .4);
  bottom: 0;
  left: 0;
  opacity: 0;
  position: fixed;
  right: 0;
  top: 0;
  transition: opacity $animation-speed;
  z-index: 9997;

  &--visible {
    opacity: 1;
  }
}
