<section class="related-content">
  <h3 class="related-content__title">
    Related Articles
  </h3>

  <div class="related-content-scroller">
    <div class="related-items">
      {{#each article.related_articles }}
        <article class="related-item">
          <a href="{{ this.slug }}">
            <img class="related-item__image" src="{{ this.image }}" alt="">

            <div class="related-item__content">
              <h4>{{ this.title }}</h4>
              <p>{{ this.excerpt }}</p>
            </div><!-- .related-item__content -->
          </a>
        </article><!-- .related-item -->
      {{/each}}
    </div><!-- .related-items -->
  </div><!-- .related-content-scroller -->
</section><!-- .related-content -->
