@import "../../../sass/webpack_deps";

.related-content {
  @include container;
  border-top: 1px solid $color-border;
  padding-top: 10.4rem;
  // position: relative;

  // &:after {
  //   @include fade-edge("right");
  // }
}

.related-content-scroller {
  transform: translate3d(0,0,0);
  overflow-y: hidden;
  overflow-x: scroll;
  -ms-overflow-style: -ms-autohiding-scrollbar;
  -webkit-overflow-scrolling: touch;
  overflow-scrolling: touch;
}

.related-content__title {
  font-size: 1.4rem;
  font-weight: 600;
  line-height: 1;
  text-transform: uppercase;
}

.related-items {
  @include container;
  margin-top: 2.4rem;

  @include with-layout(static) {
    width: span(8);
  }

  @media (min-width: $min-768) {
    width: container();
  }

  .related-item {
    float: left;
    width: span(3);

    @media (min-width: $min-768) {
      width: span(3);
    }

    &:not(:first-child) {
      // @media (max-width: $max-768) {
      //   margin-top: gutter-double();
      // }

      // @media (min-width: $min-768) {
        margin-left: gutter();
      // }
    }

    > a {
      @include container;
      display: block;

      &:hover,
      &:active,
      &:focus {
        h4 {
          color: $color-blue;
        }
      }
    }
  }

  .related-item__image {
    display: block;
    // height: 100px;
    // width: 100px;
    // height: span(2);
    // width: span(2);
    // width: 100%;

    @media (max-width: $max-768) {
      // float: left;
      // margin-right: gutter();
    }

    // @media (min-width: $min-768) {
      height: 154px;
      width: 300px;
    // }
  }

  .related-item__content {
    // @media (max-width: $max-768) {
    //   float: left;
    //   width: span(10);
    // }

    h4 {
      color: #474f5a;
      font-size: 1.6rem;
      font-weight: 600;
      line-height: (20 / 16);
      margin-top: 2rem;
      transition: color ($animation-speed / 2) linear;

      // @media (min-width: $min-768) {
      //   margin-top: 2rem;
      // }
    }

    p {
      color: #2c3642;
      font-size: 1.3rem;
      line-height: (20 / 13);
      margin-top: 2rem;
    }
  }
}
