@import "../../../sass/webpack_deps";
@import "../../../sass/datepicker";

$hotels-breakpoint-small-max: em(729px);
$hotels-breakpoint-medium-min: em(730px);
$hotels-breakpoint-large-min: em(860px);
$hotels-color: #fff;
$hotels-form-height: 4.4rem;
$hotels-form-width: 784;
$hotels-max-width: 1170;

.hotels {
  @include segment();
  background-image: url("https://assets.staticlp.com/destinations-next/images/hotels-default.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  // Override segment() padding
  padding-top: ($gutter*2) - .6rem;
  padding-bottom: ($gutter*2);

  @media (min-width: $min-720) {
    padding-top: ($gutter*3) - 1rem;
    padding-bottom: ($gutter*3);
  }

  @media (min-width: $min-1080) {
    padding-top: 205px;
    padding-bottom: 269px;
  }

  .picker__wrap {
    width: auto;
  }

  .picker__frame {
    position: absolute;
    margin-top: 15px;

    select,
    tbody {
      color: $font-color;
    }
  }
}

.hotels__container {
  @include container();
}

.hotels__header {
  color: $hotels-color;
  margin-bottom: 4.3rem;
  text-align: center;
}

.hotels__title {
  @include h1(2.5rem, $hotels-color);
}

.hotels__text {
  max-width: 50rem;
  font-size: 1.6rem;
  font-weight: 300;
  line-height: (21/16);
  margin: 0 auto;
}

.hotels__search {
  margin: 0 auto;
  width: 100%;

  @media (max-width: $hotels-breakpoint-small-max) {
    max-width: 30rem;
  }

  @media (min-width: $hotels-breakpoint-medium-min) {
    height: $hotels-form-height;
  }

  @media (min-width: $hotels-breakpoint-large-min) {
    max-width: 78.4rem;
  }
}

.hotels__search__field {
  height: $hotels-form-height;
  font-size: 1.2rem;

  @media (max-width: $hotels-breakpoint-small-max) {
    margin-top: 1.5rem;

    &:first-child {
      margin-top: 0;
    }
  }

  @media (min-width: $hotels-breakpoint-medium-min) {
    float: left;
    width: percent(175, $hotels-form-width);
  }

  @media (min-width: $hotels-breakpoint-large-min) {
    width: 17.5rem;
  }

  + .hotels__search__field {
    @media (min-width: $hotels-breakpoint-medium-min) {
      margin-left: percent(29, $hotels-form-width);
    }

    @media (min-width: $hotels-breakpoint-large-min) {
      margin-left: 2.9rem;
    }
  }
}

.hotels__search__label {
  @include visuallyhidden("focusable");
}

.hotels__search__control {
  -webkit-appearance: none;
  background-color: transparent;
  background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHg9IjBweCIgeT0iMHB4IiB3aWR0aD0iN3B4IiBoZWlnaHQ9IjdweCIgdmlld0JveD0iMCAwIDcgNCI+DQogIDxwb2x5Z29uIGZpbGw9IiNmZmZmZmYiIHBvaW50cz0iNywwIDAsMCAzLjUsNCAiLz4NCjwvc3ZnPg0K");
  background-position: calc(100% - 15px) 50%;
  background-repeat: no-repeat;
  border: 1px rgba($hotels-color, .44) solid;
  border-radius: 2px;
  color: $hotels-color;
  cursor: pointer;
  display: inline-block;
  font-size: 1.6rem;
  height: $hotels-form-height;
  padding: .4rem 3.5rem 0 1.3rem;
  position: relative;
  transition: border-color $animation-speed;
  width: 100%;
  z-index: 1;

  @include placeholder {
    color: $hotels-color;
    opacity: 1; // Firefox
  }

  &:hover,
  &:focus {
    border-color: rgba($hotels-color, .66);
  }

  option {
    color: $darkgray;
  }
}

.hotels__search__button {
  @include button();
  width: 100%;

  @media (max-width: $hotels-breakpoint-small-max) {
    margin-top: 1.5rem;
  }

  @media (min-width: $hotels-breakpoint-medium-min) {
    float: left;
    max-width: 18rem;
    width: percent(180, $hotels-form-width);
    margin-left: percent(21, $hotels-form-width);
  }

  @media (min-width: $hotels-breakpoint-large-min) {
    width: 180px;
    margin-left: 21px;
  }
}
