@import "../../../sass/webpack_deps";

.avatar {
  background-color: #fff;
  border-radius: 100%;
  display: inline-block;
  height: 4rem;
  max-width: 4rem;
  position: relative;
  vertical-align: middle;
  width: 4rem;

  &.is-author {
    height: auto;
    max-width: 4rem;
    width: 12vw;
  }

  &.is-large {
    @media (min-width: $min-600) {
      max-width: none;
      width: 8rem;
    }
  }

  &.is-horizontal {
    float: left;
    margin-right: 1.4rem;
  }

  img {
    border-radius: 100%;
    display: block;
    height: 100%;
    width: 100%;
  }
}

.avatar--navigation {
  top: -.4rem;
  position: relative;
}
