.tooltip {
  position: absolute;
  z-index: 20;
  display: none;
  width: 400px;
  border-radius: 4px;
  background-color: #fff;
  color: #3b444f;

  &:before{
    position: absolute;
    top: -7px;
    left: 50%;
    z-index: -1;
    display: block;
    width: 0;
    height: 0;
    margin-left: -4px;
    border-right: 8px solid transparent;
    border-bottom: 8px solid #fff;
    border-left: 8px solid transparent;
    content: "";
  }
}

.tooltip:hover{
  display: block;
}