@import "../../../sass/webpack_deps";

.tooltip {
  background-color: #fff;
  border-radius: .4rem;
  color: #3b444f;
  display: none;
  position: absolute;
  width: 400px;
  z-index: 20;

  &::before {
    border-bottom: .8rem solid #fff;
    border-left: .8rem solid transparent;
    border-right: .8rem solid transparent;
    content: "";
    display: block;
    height: 0;
    left: 50%;
    margin-left: -.4rem;
    position: absolute;
    top: -.7rem;
    width: 0;
    z-index: -1;
  }

  &:hover {
    display: block;
  }
}
