@import "../../../sass/webpack_deps";

$action-sheet: (
  'background-color': #f0f0f0,
  'button-size': 3rem,
  'margin-left': .4rem,
  'margin-top': .9rem
);

.action-sheet {
  margin-left: -#{get($action-sheet, 'margin-left')};
  margin-top: -#{get($action-sheet, 'margin-top')};
}

.action-sheet--left,
.action-sheet--right {
  @media (max-width: $max-720) {
    @include with-layout(static) {
      margin-top: (gutter() - get($action-sheet, 'margin-top'));
    }
  }
}

.action-sheet--left {
  @media (min-width: $min-720) {
    float: left;
  }
}

.action-sheet--right {
  @media (min-width: $min-720) {
    float: right;
  }
}

.action-sheet__item {
  display: inline-block;
  position: relative;
}

.action-sheet__control {
  background-color: get($action-sheet, 'background-color');
  border: 0;
  border-radius: 100%;
  color: #333;
  cursor: pointer;
  display: inline-block;
  height: get($action-sheet, 'button-size');
  line-height: 1;
  margin-left: get($action-sheet, 'margin-left');
  margin-top: get($action-sheet, 'margin-top');
  outline: 0;
  padding: 0;
  position: relative;
  width: get($action-sheet, 'button-size');
  transition: background-color .4s linear;

  &:hover,
  &:active,
  &:focus {
    background-color: darken(get($action-sheet, 'background-color'), 3);
  }

  .svg-icon {
    vertical-align: middle;
  }
}

.action-sheet__menu {
  overflow: hidden;
  padding: 1.5rem;
  pointer-events: auto;
  position: relative;
  z-index: 10;

  &.is-open {
    left: 3.5rem;
    position: absolute;

    @media (max-width: $max-720) {
      top: -3rem;
    }

    @media (min-width: $min-720) {
      left: (-10rem + 1.5rem);
    }
  }
}

.action-sheet__menu__inner {
  background-color: #fff;
  border-radius: .4rem;
  box-shadow: .1rem 0 .2rem rgba(#000, .25), 0 0 .1rem rgba(#000, .35);
  padding: .8rem 0;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  position: relative;

  @media (min-width: $min-720) {
    box-shadow: 0 .1rem .2rem rgba(#000, .25), 0 0 .1rem rgba(#000, .35);
  }

  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  .action-sheet__control {
    background-color: #fff;
    border-radius: 0;
    display: block;
    font-size: 1.3rem;
    height: auto;
    line-height: 1.4;
    margin: 0;
    padding: .4rem 1.5rem;
    text-align: left;
    white-space: nowrap;
    width: auto;
    width: 100%;

    &:hover,
    &:active,
    &:focus {
      background-color: #fff;
    }

    .svg-icon {
      margin-right: 1rem;
      position: relative;
      top: -.2rem;
    }
  }
}

.action-sheet__menu__arrow {
  clip: rect(-.4rem 1.4rem 1.8rem -.4rem);
  display: inline-block;
  left: .1rem;
  margin-top: -.7rem;
  position: absolute;
  top: 50%;

  @media (min-width: $min-720) {
    clip: rect(0 1.8rem 1.4rem -.4rem);
    left: 50%;
    margin-left: -.7rem;
    margin-top: 0;
    top: .1rem;
  }

  &:after {
    background-color: #fff;
    box-shadow: -.1rem .1rem .1rem -.1rem rgba(#000, .44);
    content: "";
    display: block;
    height: 1.4rem;
    transform: rotate(45deg) translate(.6rem, -.6rem);
    width: 1.4rem;

    @media (min-width: $min-720) {
      box-shadow: -.1rem -.1rem .1rem -.1rem rgba(#000, .44);
      transform: rotate(45deg) translate(.6rem, .6rem);
    }
  }
}
