@import "../../../sass/webpack_deps";
@import "./vars";
@import "./sidebar/sidebar";
@import "./sidebar/item";
@import "./mapbox/pins";
@import "./alert";

.noscroll {
  overflow: hidden;
  oveflow-y: hidden;
}

#pinTemplate {
  display: none;

  .leaflet-popup-pane & {
    display: block;
  }
}

// Needs an :after fix
.map_holder {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  height: 100vh;
  width: 100vw;

  background: rgba(0,0,0,.8);
  opacity: 0;
  z-index: 200;
  transition: opacity .5s ease-in-out;

  &.open {
    opacity: 1;
    z-index: 200;
  }
}

.map-toggle {
  position: absolute;
  top: 50%;
  left: 3vw;
  transform: translate(-50%);
  width: 3vw;
  height: 3vw;
  border-radius: 50%;
  background: #333;
}

.map {
  display: block;
  width: 100%;
  height: 100%;
  transform: translate(100%);
  transition: transform .4s ease-in-out;

  &.open {
    transform: translate(0);
  }

  .flexbox & {
    display: flex;
    flex-direction: row;
  }
}

.map-container {
  width: $mapContainerWidth;
  height: 100%;
  background: $color-lightgrey;

  .leaflet-popup-tip-container {
    display: none;
  }

  .leaflet-popup-content {
    padding: 0px;
    width: $itemwidthPin !important;
  }

  .leaflet-popup-content-wrapper {
    padding: 0;
    border-radius: 0;
  }
}

.close-map {
  float: left;
  z-index: 10000;

  height: $closeButton;
  width: $closeButton;
  margin: {
    top: $closeMargin;
    left: 5px;
    right: 5px;
  }
  font-size: 2.6rem;
  line-height: $closeButton;
  text-align: center;

  // Move 'Close' text out of sight but keep for screen readers
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;

  border: none;
  border-radius: 50%;

  box-shadow: 0 12px 25px rgba(0,0,0,.75);
  background: #fff;

  cursor: pointer;

  &:before {
    display: block;
    text-indent: 0;
  }
}
