<symbol id="lp-icon-apple" viewBox="0 0 32 32">
  <title>apple</title>
  <path d="M24.734 17.003c-0.040-4.053 3.305-5.996 3.454-6.093-1.88-2.751-4.808-3.127-5.851-3.171-2.492-0.252-4.862 1.467-6.127 1.467-1.261 0-3.213-1.43-5.28-1.392-2.716 0.040-5.221 1.579-6.619 4.012-2.822 4.897-0.723 12.151 2.028 16.123 1.344 1.944 2.947 4.127 5.051 4.049 2.026-0.081 2.793-1.311 5.242-1.311s3.138 1.311 5.283 1.271c2.18-0.041 3.562-1.981 4.897-3.931 1.543-2.255 2.179-4.439 2.216-4.551-0.048-0.022-4.252-1.632-4.294-6.473zM20.705 5.11c1.117-1.355 1.871-3.235 1.665-5.11-1.609 0.066-3.559 1.072-4.713 2.423-1.036 1.199-1.942 3.113-1.699 4.951 1.796 0.14 3.629-0.913 4.747-2.264z"></path>
</symbol>
<symbol id="lp-icon-facebook" viewBox="0 0 32 32">
  <title>facebook</title>
  <path d="M19 6h5v-6h-5c-3.86 0-7 3.14-7 7v3h-4v6h4v16h6v-16h5l1-6h-6v-3c0-0.542 0.458-1 1-1z"></path>
</symbol>
<symbol id="lp-icon-facebook-block" viewBox="0 0 32 32">
  <title>facebook-block</title>
  <path d="M29 0h-26c-1.65 0-3 1.35-3 3v26c0 1.65 1.35 3 3 3h13v-14h-4v-4h4v-2c0-3.306 2.694-6 6-6h4v4h-4c-1.1 0-2 0.9-2 2v2h6l-1 4h-5v14h9c1.65 0 3-1.35 3-3v-26c0-1.65-1.35-3-3-3z"></path>
</symbol>
<symbol id="lp-icon-instagram" viewBox="0 0 32 32">
  <title>instagram</title>
  <path d="M29 0h-26c-1.65 0-3 1.35-3 3v26c0 1.65 1.35 3 3 3h26c1.65 0 3-1.35 3-3v-26c0-1.65-1.35-3-3-3zM22 5c0-0.55 0.45-1 1-1h4c0.55 0 1 0.45 1 1v4c0 0.55-0.45 1-1 1h-4c-0.55 0-1-0.45-1-1v-4zM16 10c3.313 0 6 2.688 6 6s-2.688 6-6 6c-3.313 0-6-2.688-6-6s2.688-6 6-6zM28 27v0c0 0.55-0.45 1-1 1h-22c-0.55 0-1-0.45-1-1v0-13h2.2c-0.131 0.644-0.2 1.313-0.2 2 0 5.525 4.475 10 10 10s10-4.475 10-10c0-0.688-0.069-1.356-0.2-2h2.2v13z"></path>
</symbol>
<symbol id="lp-icon-pinterest" viewBox="0 0 32 32">
  <title>pinterest</title>
  <path d="M16 2.138c-7.656 0-13.863 6.206-13.863 13.863 0 5.875 3.656 10.887 8.813 12.906-0.119-1.094-0.231-2.781 0.050-3.975 0.25-1.081 1.625-6.887 1.625-6.887s-0.412-0.831-0.412-2.056c0-1.925 1.119-3.369 2.506-3.369 1.181 0 1.756 0.887 1.756 1.95 0 1.188-0.756 2.969-1.15 4.613-0.331 1.381 0.688 2.506 2.050 2.506 2.462 0 4.356-2.6 4.356-6.35 0-3.319-2.387-5.638-5.787-5.638-3.944 0-6.256 2.956-6.256 6.019 0 1.194 0.456 2.469 1.031 3.163 0.113 0.137 0.131 0.256 0.094 0.4-0.106 0.438-0.338 1.381-0.387 1.575-0.063 0.256-0.2 0.306-0.463 0.188-1.731-0.806-2.813-3.337-2.813-5.369 0-4.375 3.175-8.387 9.156-8.387 4.806 0 8.544 3.425 8.544 8.006 0 4.775-3.012 8.625-7.194 8.625-1.406 0-2.725-0.731-3.175-1.594 0 0-0.694 2.644-0.863 3.294-0.313 1.206-1.156 2.712-1.725 3.631 1.3 0.4 2.675 0.619 4.106 0.619 7.656 0 13.863-6.206 13.863-13.863 0-7.662-6.206-13.869-13.863-13.869z"></path>
</symbol>
<symbol id="lp-icon-pinterest-large" viewBox="0 0 32 32">
  <title>pinterest-large</title>
  <path d="M20.5734053,10.4346382 C19.6100341,9.50951962 18.2768335,9 16.8194084,9 C14.5931191,9 13.2238518,9.91288179 12.4672204,10.6786513 C11.5347247,11.6223734 11,12.8754467 11,14.1166444 C11,15.6750502 11.6516365,16.871184 12.7428884,17.3161784 C12.8161502,17.3462059 12.8898633,17.3613325 12.9621319,17.3613325 C13.1923443,17.3613325 13.3747538,17.2106531 13.4379493,16.9689428 C13.4747833,16.8302744 13.5601425,16.4881864 13.5972473,16.3396743 C13.6766931,16.046398 13.6125045,15.9053364 13.4392584,15.7011041 C13.1236417,15.3275437 12.9766669,14.8858005 12.9766669,14.3108976 C12.9766669,12.6032574 14.2478005,10.7883759 16.603731,10.7883759 C18.4730557,10.7883759 19.6342742,11.8511696 19.6342742,13.5619706 C19.6342742,14.6415616 19.4018048,15.6413652 18.9795681,16.3773329 C18.6861602,16.8887039 18.1702136,17.4982851 17.3781475,17.4982851 C17.0356275,17.4982851 16.7279554,17.3575396 16.5338096,17.1121718 C16.3504071,16.8802149 16.289965,16.5805718 16.3637233,16.2682856 C16.4470511,15.9154509 16.5606677,15.5473993 16.670628,15.1915845 C16.8711836,14.5417257 17.0607703,13.9279451 17.0607703,13.4382482 C17.0607703,12.6006384 16.5459973,12.0378369 15.7799317,12.0378369 C14.806359,12.0378369 14.0436337,13.0269841 14.0436337,14.2897203 C14.0436337,14.9090097 14.2081678,15.3722012 14.2826483,15.5500634 C14.1600038,16.0698782 13.4310881,19.1602745 13.2928253,19.7430342 C13.2128829,20.0832257 12.7312875,22.7701244 13.5284093,22.9843809 C14.4240258,23.2250978 15.2245781,20.6082332 15.3060553,20.3125186 C15.3720946,20.0720275 15.6031647,19.1626677 15.7447679,18.6036591 C16.1771158,19.0202515 16.8732601,19.301878 17.5506262,19.301878 C18.8275828,19.301878 19.9759816,18.7270655 20.784298,17.6834172 C21.5682389,16.6711511 22,15.260264 22,13.7108439 C22,12.4995382 21.4799908,11.3053911 20.5734053,10.4346382 Z"></path>
</symbol>
<symbol id="lp-icon-twitter" viewBox="0 0 32 32">
  <title>twitter</title>
  <path d="M32 7.075c-1.175 0.525-2.444 0.875-3.769 1.031 1.356-0.813 2.394-2.1 2.887-3.631-1.269 0.75-2.675 1.3-4.169 1.594-1.2-1.275-2.906-2.069-4.794-2.069-3.625 0-6.563 2.938-6.563 6.563 0 0.512 0.056 1.012 0.169 1.494-5.456-0.275-10.294-2.888-13.531-6.862-0.563 0.969-0.887 2.1-0.887 3.3 0 2.275 1.156 4.287 2.919 5.463-1.075-0.031-2.087-0.331-2.975-0.819 0 0.025 0 0.056 0 0.081 0 3.181 2.263 5.838 5.269 6.437-0.55 0.15-1.131 0.231-1.731 0.231-0.425 0-0.831-0.044-1.237-0.119 0.838 2.606 3.263 4.506 6.131 4.563-2.25 1.762-5.075 2.813-8.156 2.813-0.531 0-1.050-0.031-1.569-0.094 2.913 1.869 6.362 2.95 10.069 2.95 12.075 0 18.681-10.006 18.681-18.681 0-0.287-0.006-0.569-0.019-0.85 1.281-0.919 2.394-2.075 3.275-3.394z"></path>
</symbol>
<symbol id="lp-icon-facebook-messenger" viewBox="0 0 32 32">
  <title>facebook-messenger</title>
  <path d="M16 0c-8.8 0-16 6.6-16 14.8 0 4.7 2.3 8.8 5.9 11.5v5.7l5.5-3c1.5 0.4 3 0.6 4.6 0.6 8.8 0 16-6.6 16-14.8s-7.2-14.8-16-14.8zM17.7 19.9l-4.1-4.3-8 4.4 8.7-9.2 4.1 4.3 8-4.4-8.7 9.2z"></path>
</symbol>
<symbol id="lp-icon-whatsapp" viewBox="0 0 32 32">
  <title>whatsapp</title>
  <path d="M1.2 15.9c0 2.6 0.7 5.2 2 7.4l-2.1 7.7 7.9-2.1c2.2 1.2 4.6 1.8 7.1 1.8v0c8.2 0 14.9-6.7 14.9-14.9 0-4-1.5-7.7-4.4-10.5-2.8-2.8-6.6-4.3-10.5-4.3-8.2 0-14.9 6.7-14.9 14.9zM5.9 22.9l-0.3-0.5c-1.2-2-1.9-4.2-1.9-6.6 0-6.8 5.5-12.4 12.4-12.4 3.3 0 6.4 1.3 8.7 3.6s3.6 5.4 3.6 8.7c0 6.8-5.5 12.4-12.4 12.4v0c-2.2 0-4.4-0.6-6.3-1.7l-0.5-0.3-4.7 1.2 1.4-4.4zM16.1 30.7v0 0c0 0 0 0 0 0z" />
  <path d="M12.3 9.6c-0.3-0.6-0.6-0.6-0.8-0.6s-0.5 0-0.7 0c-0.2 0-0.7 0.1-1 0.5s-1.3 1.3-1.3 3.1c0 1.8 1.3 3.6 1.5 3.8s2.6 4.1 6.3 5.6c3.1 1.2 3.8 1 4.5 0.9s2.2-0.9 2.5-1.8c0.3-0.9 0.3-1.6 0.2-1.8s-0.3-0.2-0.7-0.4c-0.4-0.2-2.2-1.1-2.5-1.2s-0.6-0.2-0.8 0.2c-0.2 0.4-1 1.2-1.2 1.5-0.2 0.2-0.4 0.3-0.8 0.1s-1.6-0.6-3-1.8c-1.1-1-1.9-2.2-2.1-2.6s0-0.6 0.2-0.8c0.2-0.2 0.4-0.4 0.6-0.7 0.2-0.2 0.2-0.4 0.4-0.6 0.1-0.2 0.1-0.5 0-0.7-0.3-0.1-1-1.9-1.3-2.7z" />
</symbol>