@import "../../../sass/webpack_deps";

// SVG Icon
// 1. Flow with text content
// 2. Inherit the parent text color
// 3. Use the parent font-size for width and height
// 4. Vertically align icon with adjacent text
// 5. Align more nicely with capital letters
.svg-icon {
  display: inline-block; // 1
  fill: currentColor; // 2
  height: 1em; // 3
  vertical-align: middle; // 4
  width: 1em; // 3

  &--inline {
    position: relative; // 5
    top: -.0625em; // 5
  }
}

.svg-icon--dark {
  fill: $darkgray;
}

.svg-icon--gray {
  fill: rgba($color-black, .6);
}

.svg-icon--light-gray {
  fill: rgba($color-black, .25);
}

.svg-icon--spin {
  animation: spin 500ms linear infinite;
}

// Sizing

.svg-icon--fit {
  height: 100%;
  width: 100%;
}

.svg-icon--small {
  height: 1.6rem;
  width: 1.6rem;
}

