@import "../../../sass/webpack_deps";

.svg-icon--dark {
  fill: #2c3642;
}

.svg-icon--gray {
  fill: rgba(#000, .6);
}

.svg-icon--light-gray {
  fill: rgba(#000, .25);
}

.svg-icon--spin {
  animation: spin 500ms linear infinite;
}
