@import "../../../sass/webpack_deps";

.owl-next,
.owl-prev {
  @include slider-button;
  // top: 38%;
}

.owl-next {
  right: -1.5rem;

  @media (min-width: $min-480) {
    right: -2rem;
  }

  @media (min-width: $min-840) {
    right: -1rem;
  }
}

.owl-prev {
  left: -1.5rem;

  @media (min-width: $min-480) {
    left: -2rem;
  }

  @media (min-width: $min-840) {
    left: -1rem;
  }
}

.owl-next-icon,
.owl-prev-icon {
  @include slider-button-icon;
}

.owl-next-icon {
  @include slider-button-icon-next;
}

.owl-prev-icon {
  @include slider-button-icon-prev;
}
