@import "../../../sass/webpack_deps";

.masthead_nav {
  bottom: 0;
  color: #fff;
  position: absolute;
  width: 100%;
  z-index: 100;

  &__container {
    @include container-padded();
    border-top: .1rem solid rgba(255,255,255, .3);
    height: 6rem;
  }

  &__link {
    color: #fff;
    font-size: 1.2rem;
    font-weight: 600;
    line-height: 6rem;
    text-transform: uppercase;

    &:first-child {
      float: left;

      &:hover,
      &:active,
      &:focus {
        @media (min-width: $min-960) {
          [class*="icon-chevron"] {
            transform: translateX(.4rem);
          }
        }
      }

      [class*="icon-chevron"] {
        margin-right: .4rem;

        @media (min-width: $min-960) {
          margin-right: .8rem;
        }
      }
    }

    &:last-child {
      float: right;

      &:hover,
      &:active,
      &:focus {
        @media (min-width: $min-960) {
          [class*="icon-chevron"] {
            transform: translateX(-.4rem);
          }
        }
      }

      [class*="icon-chevron"] {
        margin-left: .4rem;

        @media (min-width: $min-960) {
          margin-left: .8rem;
        }
      }
    }

    [class*="icon-chevron"] {
      backface-visibility: hidden;
      display: inline-block;
      font-size: 6px;
      font-weight: 600;
      line-height: 1.6;
      transition: transform 500ms;
      vertical-align: 20%;
    }
  }
}
