@import "../../../sass/webpack_deps";

.masthead {
  position: relative;

  height: 90vh;
  min-height: 40rem;
  max-height: 80rem;

  //overflow: hidden;

  color: #fff;

  background-color: $h2-color;
  top: 0;
  left: 0;

  &--narrow {
    background: transparent;
  }
  &--no-images.masthead--normal {
    color: $font-color;
    height: 30rem;
    background: transparent;
  }

  &--no-images.masthead--narrow {
    @include container();

    border: none;

    color: $font-color;

    height: 30rem;
  }

  &--has-images.masthead--narrow {
    height: calc(90vh - #{$header-height-mobile});

    @media (min-width: $min-720) {
      height: calc(90vh - #{$header-height});
    }
  }

  &__wrap {
    height: 100%;
  }
  &--no-images &__text-wrap {
    border: .1rem solid $color-border;
  }
  &--narrow &__text-wrap {
    border: .1rem solid $color-border;
    border-left-style: none;
    border-right-style: none;
  }

  &--has-images &__text-wrap {
    border: none;
  }

  &__text-wrap {
    $width: $max-width - $gutter*4;

    display: flex;

    align-items: center;
    justify-content: center;

    position: absolute;
    z-index: 10;

    top: $header-height-mobile;
    left: $gutter*1;
    right: $gutter*1;

    bottom: 0;

    @media (min-width: $min-720) {
      top: $header-height;
    }

    @media (min-width: $min-1290) {
      left: 50%;

      margin-left: -$width/2;
      width: $width;
    }
  }

  &--no-images &__text-wrap {
    position: static;

    height: 100%;

    @media (min-width: $min-1290) {
      margin-left: 0;
      width: 100%;
    }
  }

  &--narrow &__text-wrap {
    top: 0;

    @media (min-width: $min-720) {
      top: 0;
    }
  }

  &__text {
    width: 100%;
  }

  .no-flexbox &__text {
    display: table;
    width: 100%;
    height: 100%;
  }

  &__container {
    text-align: center;

    .no-flexbox & {
      display: table-cell;
      vertical-align: middle;
      text-align: center;
    }
  }

  .no-flexbox &__container {
    display: table-cell;

    vertical-align: middle;
  }

  &__breadcrumb {
    line-height: 1;
    margin-bottom: 10px;
  }

  &__breadcrumb a {
    color: #fff;
    text-transform: uppercase;
    position: relative;
  }

  &__title {
    font-size: 80px;
    font-weight: 600;
    line-height: 0.8;

    letter-spacing: -3px;

    @media (min-width: $min-720) {
      font-size: 120px;
    }
  }

  &__title + &__button {
    margin-top: 42px;
  }

  &__straplines {
    height: 26px;
    margin-top: 18px;
    margin-bottom: 27px;
    letter-spacing: 1px;

    @media (min-width: $min-720) {
      height: 41px;
      margin-bottom: 24px;
    }
  }

  &__strapline {
    position: absolute;
    width: 100%;

    font: {
      family: $serif;
      style: italic;
    }
    font-size: 20px;
    text-decoration: italic;

    opacity: 0;
    transition: opacity $animation-speed-ui*2 ease-in-out;

    @media (min-width: $min-720) {
      font-size: 30px;
    }

    &--visible {
      opacity: 1;
    }
  }

  &__button {
    @include button();
  }

  &__button--play {
    display: block;
    margin: 0 auto;
    background: #297cbc;
    width: 5rem;
    height: 5rem;
    line-height: 6.1rem;
    border-radius: 50%;
    color: white;
    position: relative;
    top: 3.5rem;

    &:hover {
      background: #2172b0;
    }

    & i {
      margin-left: .5rem;
      font-size: 2.7rem;
    }
  }
}
