@import "../../../sass/webpack_deps";

.masthead {
  position: relative;
  top: 0;
  left: 0;
  height: 90vh;
  min-height: 40rem;
  max-height: 80rem;
  color: #fff;
  background-color: $h2-color;

  &--narrow {
    max-height: 70.8rem;
    background: transparent;
  }

  &--no-images.masthead--normal {
    color: $font-color;
    height: 30rem;
    background: transparent;
  }

  &--no-images.masthead--narrow {
    @include container();
    border: none;
    color: $font-color;
    height: 30rem;
  }

  &--has-images.masthead--narrow {
    height: calc(90vh - #{$header-height-mobile});

    @media (min-width: $min-720) {
      height: calc(90vh - #{$header-height});
    }
  }

  &__wrap {
    height: 100%;
  }

  &__text-wrap {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    z-index: 10;
    top: $header-height-mobile;
    right: ($gutter * .5);
    bottom: 0;
    left: ($gutter * .5);
    padding-right: ($gutter * .5);
    padding-left: ($gutter * .5);

    @media (min-width: $min-480) {
      right: $gutter;
      left: $gutter;
      padding-right: $gutter;
      padding-left: $gutter;
    }

    @media (min-width: $min-720) {
      top: $header-height;
    }

    @media (min-width: $min-1080) {
      right: ($gutter * 2);
      left: ($gutter * 2);
    }

    @media (min-width: $min-1290) {
      left: 0;
      right: 0;
      margin-left: auto;
      margin-right: auto;
      max-width: 90%;
    }
  }

  &--no-images &__text-wrap {
    border: .1rem solid $color-border;
    position: static;
    height: 100%;

    @media (min-width: $min-1290) {
      margin-left: 0;
      width: 100%;
    }
  }

  &--narrow &__text-wrap {
    border-width: .1rem 0;
    border-style: solid;
    border-color: $color-border;
    top: 0;

    @media (min-width: $min-720) {
      top: 0;
    }
  }

  &--has-images &__text-wrap {
    border: none;
  }

  &__text {
    width: 100%;
  }

  .no-flexbox &__text {
    display: table;
    width: 100%;
    height: 100%;
  }

  &__container {
    text-align: center;
  }

  .no-flexbox &__container {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
  }

  &__breadcrumb {
    line-height: 1;
    margin-bottom: 2rem;
    color: #fff;
    font-size: 1.4rem;
    letter-spacing: -.02rem;

    @media (min-width: $min-480) {
      margin-bottom: 3.4rem;
    }

    a {
      color: #fff;
      text-transform: uppercase;
      position: relative;
    }
  }

  &--no-images &__breadcrumb {
    color: $font-color;

    a {
      color: $font-color;
    }
  }

  &__breadcrumb__separator {
    position: relative;
    top: -.2rem;
    padding-left: .5rem;
    padding-right: .4rem;
    font-size: 1.1rem;
  }

  &__title {
    margin-bottom: 1.8rem;
    font-size: 8rem;
    font-weight: 600;
    line-height: .8;
    letter-spacing: -.3rem;

    @media (min-width: $min-720) {
      font-size: 12rem;
    }

    @media (max-width: $max-480) and (max-height: $max-720) {
      font-size: 6rem;
    }
  }

  &__title + &__button {
    margin-top: 4.2rem;
  }

  &__straplines {
    &:not(.has-empty) {
      height: 2.6rem;
      margin-bottom: 2.7rem;

      @media (min-width: $min-720) {
        height: 4.1rem;
        margin-bottom: 2.4rem;
      }
    }
  }

  &__strapline {
    position: absolute;
    left: 0;
    width: 100%;
    font-family: $serif;
    font-style: italic;
    font-size: 2rem;
    letter-spacing: .1rem;
    opacity: 0;
    transition: opacity ($animation-speed-ui * 2) ease-in-out;

    @media (min-width: $min-720) {
      font-size: 3rem;
    }

    &--visible {
      opacity: 1;
    }

    &:empty {
      display: none;
    }
  }

  &__straplines.has-empty &__strapline--visible {
    position: relative;
  }

  &__straplines.has-empty &__strapline:not(:empty) {
    height: (2.6rem + 2.7rem); // height + margin-bottom
    transition: height ($animation-speed-ui * 2) ease-in-out;

    @media (min-width: $min-720) {
      height: (4.1rem + 2.4rem); // height + margin-bottom
    }
  }

  &__button {
    @include button();
    position: relative;
    z-index: 2;
  }

  &__button--play {
    position: absolute;
    bottom: (2.6rem - 1rem);
    display: block;
    padding: 1rem;
    border: 0;
    background-color: transparent;
    color: #fff;
    line-height: 1;
    cursor: pointer;

    @media (max-width: $max-720) {
      left: 0;
      right: 0;
      margin-left: auto;
      margin-right: auto;
      width: 8.2rem;
    }

    @media (min-width: $min-720) {
      left: ($gutter - 1rem);
    }

    @media (max-height: em(679px)) {
      width: auto;
      left: 50%;
      transform: translateX(-50%);
      padding-top: .4rem;
      padding-bottom: .4rem;
    }

    &:hover,
    &:focus {
      .masthead__button--play__icon {
        background-color: rgba(#fff, .2);
      }
    }
  }

  &__button--play__icon {
    font-size: 1.8rem;
    display: inline-block;
    border: .2rem solid #fff;
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    padding-top: 1rem;
    padding-left: .4rem;
    transition: background-color $animation-speed linear;
    box-shadow: 0 0 2rem rgba(#000, .5);

    @media (min-width: $min-720) {
      font-size: 2.2rem;
      width: 5.2rem;
      height: 5.2rem;
      padding-top: 1.3rem;
      padding-left: .6rem;
    }

    @media (max-height: em(679px)) {
      font-size: 1rem;
      width: 1.8rem;
      height: 1.8rem;
      padding-top: .2rem;
      padding-left: .2rem;
    }
  }

  &__button--play__label {
    display: block;
    font-size: 1.2rem;
    font-weight: 600;
    margin-top: ($gutter / 3);
    text-shadow: 0 0 1rem #000;

    @media (min-width: $min-720) {
      display: inline-block;
      position: relative;
      top: -.3rem;
      margin-top: 0;
      padding-left: 1rem;
      font-size: 1.4rem;
    }

    @media (max-height: em(679px)) {
      display: inline-block;
      margin-top: 0;
    }
  }
}
