@import "../../../sass/webpack_deps";

$masthead-straplines-height-small: (2.6rem + 2.7rem); // height + margin-bottom
$masthead-straplines-height-large: (4.1rem + 2.4rem); // height + margin-bottom

.masthead {
  background-color: $h2-color;
  color: #fff;
  height: 90vh;
  left: 0;
  max-height: 80rem;
  min-height: 40rem;
  overflow: hidden;
  position: relative;
  top: 0;
  z-index: 6;

  &--narrow {
    background-color: transparent;
    max-height: 70.8rem;
  }

  &--no-images.masthead--normal {
    background-color: transparent;
    color: $font-color;
    height: 30rem;
  }

  &--no-images.masthead--narrow {
    @include container-padded();
    border: 0;
    color: $font-color;
    height: 30rem;
  }

  &--has-images.masthead--narrow {
    height: calc(90vh - #{$header-height-mobile});

    @media (min-width: $min-720) {
      height: calc(90vh - #{$header-height});
    }
  }

  &__wrap {
    height: 100%;
  }

  &__text-wrap {
    align-items: center;
    bottom: 0;
    display: flex;
    justify-content: center;
    left: ($gutter * .5);
    padding-left: ($gutter * .5);
    padding-right: ($gutter * .5);
    position: absolute;
    right: ($gutter * .5);
    top: $header-height-mobile;
    z-index: 10;

    @media (min-width: $min-480) {
      left: $gutter;
      padding-left: $gutter;
      padding-right: $gutter;
      right: $gutter;
    }

    @media (min-width: $min-720) {
      top: $header-height;
    }

    @media (min-width: $min-1080) {
      left: ($gutter * 2);
      padding-left: ($gutter * 4);
      padding-right: ($gutter * 4);
      right: ($gutter * 2);
    }

    @media (min-width: $min-1290) {
      left: 0;
      margin-left: auto;
      margin-right: auto;
      max-width: 90%;
      right: 0;
    }
  }

  &--no-images &__text-wrap {
    border: .1rem solid $color-border;
    height: 100%;
    position: static;

    @media (min-width: $min-1290) {
      max-width: 100%;
    }
  }

  &--narrow &__text-wrap {
    border-color: $color-border;
    border-style: solid;
    border-width: .1rem 0;
    top: 0;

    @media (min-width: $min-720) {
      top: 0;
    }
  }

  &--has-images &__text-wrap {
    border: 0;
  }

  &__text {
    width: 100%;
  }

  .no-flexbox &__text {
    display: table;
    height: 100%;
    width: 100%;
  }

  &__container {
    text-align: center;
  }

  .no-flexbox &__container {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
  }

  &__breadcrumb {
    color: #fff;
    font-size: 1.4rem;
    letter-spacing: -.02rem;
    line-height: 1;
    margin-bottom: 2rem;

    @media (min-width: $min-480) {
      margin-bottom: 2.6rem;
    }

    a {
      color: #fff;
      position: relative;
      text-transform: uppercase;
    }
  }

  &--no-images &__breadcrumb {
    color: $font-color;

    a {
      color: $font-color;
    }
  }

  &__breadcrumb__separator {
    font-size: 1.1rem;
    padding-left: .5rem;
    padding-right: .4rem;
    position: relative;
    top: -.1rem;
  }

  &__title {
    font-size: 5.6rem;
    font-weight: 600;
    letter-spacing: -.3rem;
    line-height: .9;

    @media (min-width: $min-560) {
      font-size: 8rem;
    }

    @media (min-width: $min-1080) {
      font-size: 12rem;
    }

    @media (max-width: $max-480) and (max-height: $max-720) {
      font-size: 6rem;
    }
  }

  &__title + &__button {
    margin-top: 4.2rem;
  }

  &__straplines {
    position: relative;

    &:not(.has-empty) {
      height: $masthead-straplines-height-small;
      padding-top: .5rem;

      @media (min-width: $min-720) {
        height: $masthead-straplines-height-large;
        padding-top: .7rem;
      }
    }
  }

  &__strapline {
    font-family: $miller-daily;
    font-size: 2rem;
    font-style: italic;
    left: 0;
    letter-spacing: .1rem;
    line-height: 1;
    opacity: 0;
    position: absolute;
    transition: opacity ($animation-speed-ui * 2) ease-in-out;
    width: 100%;

    @media (min-width: $min-720) {
      font-size: 3rem;
    }

    &--visible {
      opacity: 1;
    }
  }

  &__straplines.has-empty &__strapline--visible {
    height: $masthead-straplines-height-small;
    position: relative;

    @media (min-width: $min-720) {
      height: $masthead-straplines-height-large;
    }
  }

  &__straplines.has-empty &__strapline:not(:empty) {
    transition: height ($animation-speed-ui * 2) ease-in-out;
  }

  &__button {
    @include button();
    position: relative;
    z-index: 2;
  }

  &__button--play {
    background-color: transparent;
    border: 0;
    bottom: (2.6rem - 1rem);
    color: #fff;
    cursor: pointer;
    display: none;
    line-height: 1;
    padding: 1rem;
    position: absolute;

    .is-visible {
      display: block;
    }

    @media (max-width: $max-720) {
      left: 0;
      margin-left: auto;
      margin-right: auto;
      right: 0;
      width: 8.2rem;
    }

    @media (min-width: $min-720) {
      left: ($gutter - 1rem);
    }

    @media (max-height: em(679px)) {
      left: 50%;
      padding-bottom: .4rem;
      padding-top: .4rem;
      transform: translateX(-50%);
      width: auto;
    }
  }

  &__button--play__icon {
    border: .2rem solid #fff;
    border-radius: 50%;
    box-shadow: 0 0 2rem rgba(#000, .5);
    display: inline-block;
    font-size: 1.8rem;
    height: 4rem;
    padding-left: .4rem;
    padding-top: 1rem;
    transition: background-color $animation-speed linear;
    width: 4rem;

    @media (min-width: $min-720) {
      font-size: 2.2rem;
      height: 5.2rem;
      padding-left: .6rem;
      padding-top: 1.3rem;
      width: 5.2rem;
    }

    @media (max-height: em(679px)) {
      font-size: 1rem;
      height: 1.8rem;
      padding-left: .2rem;
      padding-top: .2rem;
      width: 1.8rem;
    }

    .masthead__button--play:hover &,
    .masthead__button--play:focus & {
      background-color: rgba(#fff, .2);
    }
  }

  &__button--play__label {
    display: block;
    font-size: 1.2rem;
    font-weight: 600;
    margin-top: ($gutter / 3);
    text-shadow: 0 0 1rem #000;

    @media (min-width: $min-720) {
      display: inline-block;
      font-size: 1.4rem;
      margin-top: 0;
      padding-left: 1rem;
      position: relative;
      top: -.3rem;
    }

    @media (max-height: em(679px)) {
      display: inline-block;
      margin-top: 0;
    }
  }

  &__video-container {
    height: 100%;
    width: 100%;

    .masthead--narrow & {
      @include container-padded();

      @media (min-width: $min-1290) {
        max-width: 90%;
        padding: 0;
        position: relative;
      }
    }
  }

  &__video-wrap {
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
  }

  &__video {
    display: block;
    opacity: 0;
    position: relative;
    transition: 200ms opacity;
    z-index: 4; // above slideshow

    &.is-playing {
      display: block;
      opacity: 1;
    }
  }
}
