<section class="masthead_nav">
  <div class="masthead_nav__container">
  <a href="{{prev.slug}}" class="masthead_nav__link left">
    <i class="icon-chevron-left"></i>
    {{prev.title}}
  </a>
  <a href="{{next.slug}}" class="masthead_nav__link right">
    {{next.title}}
    <i class="icon-chevron-right"></i>
  </a>
  </div>
</section>
